<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.wso2.developerstudio.eclipse.updater.handler.UpdateFeaturesCommandHandler"
            id="org.wso2.developerstudio.eclipse.updater.CheckUpdatesCmd"
            name="Check for Updates">
      </command>
   </extension>
<!--   <extension
         point="org.eclipse.ui.commands">        
      <command
            defaultHandler="org.wso2.developerstudio.eclipse.updater.handler.InstallFeaturesCommandHandler"
            id="org.wso2.developerstudio.eclipse.updater.InstallFeaturesCmd"
            name="Install WSO2 Tools">
      </command>
   </extension> -->
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:help?before=org.eclipse.equinox.p2.ui.sdk.install">
            <separator
      			 name="separator-id-checkupdate-up"
                visible="true">
		</separator>
            <command
                  commandId="org.wso2.developerstudio.eclipse.updater.CheckUpdatesCmd"
                  label="Check for Updates"
                  icon="icons/checkupdate.gif"
                  id="org.wso2.developerstudio.eclipse.updater.updateCommand"
                  style="push"
                  tooltip="Check updates for Integration Studio">
            </command>
            <separator
      			 name="separator-id-checkupdate-down"
       			visible="true">
		</separator>
      </menuContribution>
   </extension>
<!--      <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.wso2.developerstudio.eclipse.platform.ui.main">
            <separator
      			 name="separator-id-install-up"
                visible="true">
			</separator>
            <command
                  commandId="org.wso2.developerstudio.eclipse.updater.InstallFeaturesCmd"
                  label="Install WSO2 Tools"
                  icon="icons/checkupdate.gif"
                  style="push"
                  tooltip="Install additional features to Developer Studio">
            </command>
             <separator
      			 name="separator-id-install-down"
                visible="true">
		</separator>
      </menuContribution>
   </extension> -->
   <extension point="org.eclipse.ui.startup">
     <startup class="org.wso2.developerstudio.eclipse.updater.handler.StartupUpdateHandler"/>
   </extension>
</plugin>
