<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.wso2.developerstudio.eclipse.updater.handler.UpdateFeaturesCommandHandler"
            id="org.wso2.developerstudio.eclipse.updater.CheckUpdatesCmd"
            name="Check for Updates">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.wso2.developerstudio.eclipse.updater.handler.InstallFeaturesCommandHandler"
            id="org.wso2.developerstudio.eclipse.updater.InstallFeaturesCmd"
            name="Install WSO2 Tools">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.wso2.developerstudio.eclipse.platform.ui.main">
            <command
                  commandId="org.wso2.developerstudio.eclipse.updater.CheckUpdatesCmd"
                  label="Check for Updates"
                  style="push"
                  tooltip="Check updates for Developer Studio">
            </command>
      </menuContribution>
   </extension>
      <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.wso2.developerstudio.eclipse.platform.ui.main">
            <command
                  commandId="org.wso2.developerstudio.eclipse.updater.InstallFeaturesCmd"
                  label="Install WSO2 Tools"
                  style="push"
                  tooltip="Install additional features to Developer Studio">
            </command>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.startup">
     <startup class="org.wso2.developerstudio.eclipse.updater.handler.StartupUpdateHandler"/>
   </extension>
</plugin>
