<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.wso2.integrationstudio.libraries.libraryprovider">
		<category id="org.wso2.integrationstudio.libraries.category.axis2"
			name="Axis2">
			<description>
				Axis2 libraries
         </description>
		</category>
		<category id="org.wso2.integrationstudio.libraries.category.esb"
			name="ESB">
			<description>
				Libraries to work with ESB Server.
         </description>
		</category>
		<category id="org.wso2.integrationstudio.libraries.category.greg"
			name="Governance Registry">
			<description>
				Governance Registry libraries
         </description>
		</category>
		<category id="org.wso2.integrationstudio.libraries.category.smooks"
			name="Smooks">
			<description>
				Smooks runtime libraries
         </description>
		</category>
	</extension>
	
	<extension point="org.eclipse.ui.startup">
		<startup class="org.wso2.integrationstudio.esb.libraries.LibraryBundleStartupHandler"/>
	</extension>

</plugin>
