# No Eclipse Related Files #
###################

.classpath
.project
.settings/
target/
bin/
test-output/

# No Idea Related files #
##################
*.iml
*.ipr
*.iws
.idea/


# Igonore duplicated feature.common.properties
feature.common.properties

## No Eclipse settings from nested workspace
.metadata/

## No Checkstyle plugin settings
.checkstyle

## various other file types we don't want to have in the repository:
.DS_Store
*~
*#
*.licensed
*.aux
*_trace
