## No derived resources
target/

## No Eclipse settings
.project
.classpath
.settings/

## No Eclipse settings from nested workspace
.metadata/

## No Checkstyle plugin settings
.checkstyle

## No JRebel project config files
rebel.xml

## various other file types we don't want to have in the repository:
.DS_Store
*~
*#
*.licensed
*.aux
*_trace
