# No Eclipse Related Files #
###################
.settings/
target/
bin/
test-output/

# No Idea Related files #
##################
*.iml
*.ipr
*.iws
.idea/

## No Eclipse settings from nested workspace
.metadata/

## No Checkstyle plugin settings
.checkstyle

## various other file types we don't want to have in the repository:
.DS_Store
*~
*#
*.licensed
*.aux
*_trace

## no eclipse packs
*.tar.gz

## Generated When Building
components/esb-tools/plugins/org.wso2.integrationstudio.gmf.esb.persistence/library.jar

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.ear
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
