<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  ~  Copyright (c) 2020, WSO2 Inc. (http://wso2.com) All Rights Reserved.
  ~
  ~  WSO2 Inc. licenses this file to you under the Apache License,
  ~  Version 2.0 (the "License"); you may not use this file except
  ~  in compliance with the License.
  ~  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~  Unless required by applicable law or agreed to in writing,
  ~  software distributed under the License is distributed on an
  ~  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~  KIND, either express or implied.  See the License for the
  ~  specific language governing permissions and limitations
  ~  under the License.
  ~
  -->
<plugin>
    <extension
            point="org.eclipse.wst.server.core.runtimeTypes">
        <runtimeType
                class="org.eclipse.jst.server.generic.core.internal.GenericServerRuntime"
                description="WSO2 Carbon 4.4 based server"
                id="org.wso2.integrationstudio.eclipse.carbon.runtime44microei12"
                name="WSO2 Carbon 4.4 based server"
                vendor="WSO2"
                vendorId="wso2"
                version="4.4">
            <moduleType
                    types="org.wso2.integrationstudio.eclipse.carbon.module"
                    versions="1.0">
            </moduleType>
            <moduleType
                    types="jst.web"
                    versions="2.2, 2.3, 2.4, 2.5, 3.0">
            </moduleType>
        </runtimeType>
    </extension>
    <extension point="org.eclipse.jst.server.core.runtimeClasspathProviders">
        <runtimeClasspathProvider
                class="org.eclipse.jst.server.generic.core.internal.GenericServerRuntimeTargetHandler"
                id="org.wso2.integrationstudio.eclipse.carbon.runtime44microei12.runtimeClasspathProvider"
                runtimeTypeIds="org.wso2.integrationstudio.eclipse.carbon.*">
        </runtimeClasspathProvider>
    </extension>
    <extension point="org.eclipse.ui.popupMenus">
        <objectContribution
                objectClass="org.eclipse.core.resources.IProject"
                id="org.wso2.integrationstudio.eclipse.carbonserver44microei12.exportandrun">
            <action
                    label="Export Project Artifacts and Run"
                    icon="icons/exportnrun.png"
                    class="org.wso2.integrationstudio.eclipse.carbonserver44microei12.wizard.ExportDistributionAndRunAction"
                    id="org.wso2.integrationstudio.eclipse.carbonserver44microei12.exportandrun">
            </action>
            <enablement>
                <adapt type="org.eclipse.core.resources.IProject">
                    <test property="org.eclipse.core.resources.projectNature"
                          value="org.wso2.integrationstudio.eclipse.distribution.project.nature"/>
                </adapt>
            </enablement>
        </objectContribution>
    </extension>
    <extension
            point="org.eclipse.wst.common.project.facet.core.runtimes">
        <runtime-component-type
                id="org.wso2.wsf.ide.server.carbon.v44microei12">
        </runtime-component-type>
        <runtime-component-version
                type="org.wso2.wsf.ide.server.carbon.v44microei12"
                version="1.0">
        </runtime-component-version>
        <supported>
            <facet
                    id="jst.web"
                    version="2.2, 2.3, 2.4, 2.5, 3.0">
            </facet>
            <facet
                    id="org.wso2.integrationstudio.eclipse.carbon.facetId"
                    version="1.0">
            </facet>
            <runtime-component
                    id="org.wso2.wsf.ide.server.carbon.v44microei12"
                    version="1.0">
            </runtime-component>
        </supported>
        <adapter>
            <runtime-component
                    id="org.wso2.wsf.ide.server.carbon.v44microei12">
            </runtime-component>
            <factory
                    class="org.eclipse.jst.server.core.internal.RuntimeClasspathProvider$Factory">
            </factory>
            <type
                    class="org.eclipse.jst.common.project.facet.core.IClasspathProvider">
            </type>
        </adapter>
        <adapter>
            <runtime-component
                    id="org.wso2.wsf.ide.server.carbon.v44microei12">
            </runtime-component>
            <factory
                    class="org.eclipse.jst.server.ui.internal.RuntimeLabelProvider$Factory">
            </factory>
            <type
                    class="org.eclipse.wst.common.project.facet.ui.IRuntimeComponentLabelProvider">
            </type>
        </adapter>
    </extension>
    <extension
            point="org.eclipse.jst.server.core.runtimeFacetMappings">
        <runtimeFacetMapping
                runtime-component="org.wso2.wsf.ide.server.carbon.v44microei12"
                runtimeTypeId="org.wso2.integrationstudio.eclipse.carbon.runtime44microei12"
                version="1.0">
        </runtimeFacetMapping>
    </extension>
    <extension point="org.eclipse.wst.server.ui.wizardFragments">
        <fragment
                class="org.wso2.integrationstudio.eclipse.carbonserver.base.internal.CarbonRuntimeWizardFragment"
                id="org.eclipse.jst.server.generic.runtime"
                typeIds="org.wso2.integrationstudio.eclipse.carbon.runtime44microei12">
        </fragment>
        <fragment
                class="org.wso2.integrationstudio.eclipse.carbonserver.base.internal.CarbonServerWizardFragment"
                id="org.eclipse.jst.server.generic.server"
                typeIds="org.wso2.integrationstudio.eclipse.carbon.server44microei12">
        </fragment>
    </extension>
    <extension point="org.eclipse.wst.server.ui.serverImages">
        <image
                icon="icons/wsas.ico"
                id="org.eclipse.jst.server.generic.image"
                typeIds="org.wso2.integrationstudio.eclipse.carbon.runtime44microei12">
        </image>
        <image
                icon="icons/wsas.ico"
                id="org.eclipse.jst.server.generic.image"
                typeIds="org.wso2.integrationstudio.eclipse.carbon.server44microei12">
        </image>
    </extension>
    <extension point="org.eclipse.wst.server.ui.serverImages">
        <image
                icon="icons/wsas.ico"
                id="org.eclipse.jst.server.generic.image"
                typeIds="org.wso2.integrationstudio.eclipse.carbon.runtime44microei12">
        </image>
        <image
                icon="icons/wsas.ico"
                id="org.eclipse.jst.server.generic.image"
                typeIds="org.wso2.integrationstudio.eclipse.carbon.server44microei12">
        </image>
    </extension>
    <extension point="org.eclipse.jst.server.generic.core.serverdefinition">
        <serverdefinition
                definitionfile="serverdefinition/carbon.microIntegrator.definition.xml"
                id="org.wso2.integrationstudio.eclipse.carbon.runtime44microei12">
        </serverdefinition>
    </extension>
    <extension
            point="org.wso2.integrationstudio.eclipse.carbonserver.base.register">
        <server
                name="WSO2 Carbon 4.4"
                id="org.wso2.integrationstudio.eclipse.carbon.server44microei12"
                server-id="org.wso2.integrationstudio.eclipse.carbon.server44microei12"
                class="org.wso2.integrationstudio.eclipse.carbonserver44microei12.operations.CarbonOperationsManager44ei"/>
    </extension>
    <extension point="org.eclipse.wst.server.ui.editorPageSections">
        <section
                id="org.wso2.integrationstudio.eclipse.server.carbon.v44ei.configuration.editor.port"
                order="10"
                insertionId="org.eclipse.wst.server.editor.overview.left"
                typeIds="org.wso2.integrationstudio.eclipse.carbon.server44microei12"
                class="org.wso2.integrationstudio.eclipse.carbonserver44microei12.configuration.ConfigurationPortEditorSection">
        </section>
        <section
                id="org.wso2.integrationstudio.eclipse.server.carbon.v44ei.configuration.editor.other"
                order="10"
                insertionId="org.eclipse.wst.server.editor.overview.right"
                typeIds="org.wso2.integrationstudio.eclipse.carbon.server44microei12"
                class="org.wso2.integrationstudio.eclipse.carbonserver44microei12.configuration.ConfigurationOtherEditorSection">
        </section>
    </extension>
    <extension
            point="org.wso2.integrationstudio.eclipse.carbonserver.base.serverProperties">
        <properties
                class="org.wso2.integrationstudio.eclipse.carbonserver44microei12.ServerProperties"
                serverId="org.wso2.integrationstudio.eclipse.carbon.runtime44microei12">
        </properties>
    </extension>
    <extension point="org.eclipse.ui.startup">
        <startup class="org.wso2.integrationstudio.eclipse.carbonserver44microei12.handlers.PlatformEarlyStartUpHandler"/>
    </extension>
    <extension
            point="org.eclipse.debug.ui.launchShortcuts">
        <shortcut
                class="org.wso2.integrationstudio.eclipse.carbonserver44microei12.debug.DebugShortcut"
                icon="icons/debug.png"
                id="org.wso2.integrationstudio.eclipse.microei12.debug.shortcut"
                label="Mediation Debug"
                description="Mediation debugger that enables you to debug the ESB profile message mediation flow in the server"
                modes="debug">
            <contextualLaunch>
                <enablement>
                    <with
                            variable="selection">
                        <count
                                value="+">
                        </count>
                    </with>
                </enablement>
            </contextualLaunch>
        </shortcut>
    </extension>
    <extension
            point="org.eclipse.debug.core.launchConfigurationTypes">
        <launchConfigurationType
                delegate="org.wso2.integrationstudio.eclipse.carbonserver44microei12.launch.MicroIntegratorRunLaunchDelegate"
                id="org.wso2.integrationstudio.eclipse.carbonserver44microei12.launch"
                modes="run"
                name="Micro Integrator Runtime">
        </launchConfigurationType>
    </extension>
    <extension
            point="org.eclipse.debug.ui.launchConfigurationTypeImages">
        <launchConfigurationTypeImage
                configTypeID="org.wso2.integrationstudio.eclipse.carbonserver44microei12.launch"
                icon="icons/exportnrun.png"
                id="org.wso2.integrationstudio.eclipse.carbonserver44microei12.launch.image">
        </launchConfigurationTypeImage>
    </extension>
    <extension
            point="org.eclipse.debug.ui.launchConfigurationTabGroups">
        <launchConfigurationTabGroup
                class="org.wso2.integrationstudio.eclipse.carbonserver44microei12.launch.tabs.MicroIntegratorLaunchConfigurationTabGroup"
                id="org.wso2.integrationstudio.eclipse.carbonserver44microei12.launch.tabgroup"
                type="org.wso2.integrationstudio.eclipse.carbonserver44microei12.launch">
            <launchMode
                    mode="run">
            </launchMode>
        </launchConfigurationTabGroup>
    </extension>
    <extension
            point="org.eclipse.debug.ui.launchShortcuts">
        <shortcut
                class="org.wso2.integrationstudio.eclipse.carbonserver44microei12.debug.RunShortcut"
                icon="icons/exportnrun.png"
                id="org.wso2.integrationstudio.eclipse.microei12.run.shortcut"
                label="Run on Micro Integrator"
                description="Run the Carbon Application with embedded WSO2 Micro Integrator Server"
                modes="run">
            <contextualLaunch>
                <enablement>
                    <with
                            variable="selection">
                        <count
                                value="+">
                        </count>
                    </with>
                </enablement>
            </contextualLaunch>
        </shortcut>
    </extension>
</plugin>
