<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.wso2.developerstudio.eclipse.qos.project.ui.dashboard.QoSDashboard"
            id="org.wso2.developerstudio.eclipse.qos.QoSDashboard"
            extensions="xml"
            name="Quality of Service(QoS)"
            icon="icons/secured.gif">
            <contentTypeBinding
				contentTypeId="org.wso2.developerstudio.eclipse.qos.project.contenttype.xml">
			</contentTypeBinding>
      </editor>
    </extension>
    <extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type base-type="org.eclipse.core.runtime.xml"
			id="org.wso2.developerstudio.eclipse.qos.project.contenttype.xml"
			 name="Service Meta File" priority="high" file-extensions="xml">
			<describer
				class="org.wso2.developerstudio.eclipse.qos.project.utils.QoSContentDescriber">
			</describer>
		</content-type>
	</extension>
 <extension
       point="org.eclipse.ui.commands">
    <command
        description="Quality of Service"
        id="org.wso2.developerstudio.eclipse.qos.QoSDashboard"
        name="Apply QoS">
  	</command>
 </extension>
    <extension
       point="org.eclipse.ui.handlers">
    <handler
        class="org.wso2.developerstudio.eclipse.qos.handlers.OpenQoSDashboardCommandHandler"
        commandId="org.wso2.developerstudio.eclipse.qos.QoSDashboard">
  	</handler>
 </extension>
<!--extension point="org.eclipse.ui.menus">
 <menuContribution 
 				locationURI="popup:org.eclipse.ui.popup.any?after=additions">
     <command
           commandId="org.wso2.developerstudio.eclipse.qos.QoSDashboard"
           style="push"
           icon="icons/secured.gif">
        <visibleWhen checkEnabled="false">
            <with variable="activeMenuSelection">
               <iterate ifEmpty="false" operator="and">
               	<or> 
                  	<and>
                   		<instanceof
                     			value="org.eclipse.core.resources.IProject">
                 		 </instanceof>
                 		 <or>
                 		 <test
                   			 property="org.eclipse.core.resources.projectNature"
                    		 value="org.wso2.developerstudio.eclipse.axis2.project.nature">
                 		</test>
                 		 <test
                   			 property="org.eclipse.core.resources.projectNature"
                    		 value="org.wso2.developerstudio.eclipse.ds.project.nature">
                 		</test>
                 		 <test
                   			 property="org.eclipse.core.resources.projectNature"
                    		 value="org.wso2.developerstudio.eclipse.esb.project.nature">
                 		</test>
                 		</or>                 
                	 </and>
              	</or>    
             </iterate>  
           </with>
        </visibleWhen>
     </command>
  </menuContribution>
</extension--> 

<extension point="org.eclipse.core.resources.natures"
		id="org.wso2.developerstudio.eclipse.qos.project.nature" name="QoS Project Nature">
		<runtime>
			<run
				class="org.wso2.developerstudio.eclipse.qos.project.nature.QOSProjectNature">
			</run>
		</runtime>
	</extension>
	<extension point="org.eclipse.ui.ide.projectNatureImages">
		<image id="org.wso2.developerstudio.eclipse.qos.project.natureImage"
			natureId="org.wso2.developerstudio.eclipse.qos.project.nature" icon="icons/secured.gif">
		</image>
	</extension>
	
		<extension
         point="org.eclipse.ui.newWizards">
         <wizard name="QoS Project"
			category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.eclipse.message.mediation/org.wso2.developerstudio.eclipse.message.mediation.project.types"
			class="org.wso2.developerstudio.eclipse.qos.project.ui.wizard.QOSProjectWizard"
			id="org.wso2.developerstudio.eclipse.artifact.newqosproject"
			wizardManifest="project_wizard.xml"
			icon="icons/secured.gif"
			project="true">
			<description>QoS Project</description>
		</wizard>
   </extension>
    <extension
       point="org.wso2.developerstudio.eclipse.project.export.handler">
    <handler
          class="org.wso2.developerstudio.eclipse.qos.project.exporter.QoSArtfactExportHandler"
          id="org.wso2.developerstudio.eclipse.qos.project.export.handler"
          type="service/meta">
    </handler>
 </extension>
	
</plugin>