<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
         <wizard name="Registry Filter Project" 
         	category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.eclipse.extensions/org.wso2.developerstudio.eclipse.extensions.project.types"
			class="org.wso2.developerstudio.eclipse.artifact.registry.filter.ui.wizard.RegistryFilterCreationWizard"
			wizardManifest="project_wizard.xml"
			id="org.wso2.developerstudio.eclipse.artifact.newregistryfilter"
			icon="icons/new-registry-filter-16x16.png"
			project="true">
			<description>Registry Filter Project</description>
		</wizard>
   </extension>
   <extension point="org.wso2.developerstudio.eclipse.capp.artifacts.provider">
    	<provider class="org.wso2.developerstudio.eclipse.artifact.registry.filter.project.export.RegistryFilterArtifactProvider"
          nature="org.wso2.developerstudio.eclipse.registry.filter.project.nature"></provider>
   </extension>
   <extension point="org.eclipse.core.resources.natures"
		id="org.wso2.developerstudio.eclipse.registry.filter.project.nature" name="Registry Filter Project Nature">
		<runtime>
			<run
				class="org.wso2.developerstudio.eclipse.artifact.registry.filter.project.nature.RegistryFilterProjectNature">
			</run>
		</runtime>
	</extension>
	<extension point="org.eclipse.ui.ide.projectNatureImages">
		<image id="org.wso2.developerstudio.eclipse.registry.filter.project.natureImage"
			natureId="org.wso2.developerstudio.eclipse.registry.filter.project.nature" icon="icons/new-registry-filter-12x12.png">
		</image>
	</extension>
	
 <extension point="org.wso2.developerstudio.eclipse.platform.core.intro.ui.dashboard">
   <category id="dashboard.category.Greg" showTitle="true"
			title="Governance Registry Artifacts"
			priority="9">
	</category>
	<wizardLink category="dashboard.category.Greg"
			id="dashboard.wizardLink.greg.filter.Project"
			wizard="org.wso2.developerstudio.eclipse.artifact.newregistryfilter"
			priority="1">
	</wizardLink>
 </extension>
	
    <!--<extension point="org.eclipse.ui.navigator.navigatorContent">	
	   <navigatorContent activeByDefault="true"
			priority="high"
			id="org.eclipse.ui.navigator.resourceContent"
			name="test">
				<commonWizard 
					menuGroupId="5org.wso2.developerstudio.eclipse.artifact.newregistryresource"
			  	 	type="new"
					wizardId="org.wso2.developerstudio.eclipse.artifact.newregistryfilter">
					<enablement>
						<or>
							<adapt type="org.eclipse.core.resources.IProject"/>
							<adapt type="org.eclipse.core.resources.IFolder"/>
						</or>
					</enablement>
				</commonWizard>
				<triggerPoints>
				           <or>         
				              <instanceof 
				                    value="org.eclipse.core.resources.IWorkspaceRoot" /> 
				              <instanceof
				                    value="org.eclipse.core.resources.IProject" />  
				              <instanceof  
				                     value="org.eclipse.core.resources.IFolder" /> 
				           </or>
				  </triggerPoints>
		</navigatorContent>
	  </extension>-->
	 		<extension point="org.eclipse.ui.navigator.navigatorContent">    
            <commonWizard type="new"
                menuGroupId="1org.wso2.developerstudio.eclipse.artifact.webservice"
                wizardId="org.wso2.developerstudio.eclipse.artifact.newregistryfilter">
                <enablement>
                    <or>
                        <adapt type="org.eclipse.core.resources.IProject">
                            <test property="org.eclipse.core.resources.projectNature"
                                value="org.wso2.developerstudio.eclipse.capp.project.nature" />
                                </adapt>
                       <adapt type="org.eclipse.jdt.core.IPackageFragment">
							<test property="org.wso2.developerstudio.projectNature"
								value="org.wso2.developerstudio.eclipse.capp.project.nature" />
						</adapt>
                   
                        <adapt type="org.eclipse.core.resources.IProject">
                            <test property="org.eclipse.core.resources.projectNature"
                                value="org.wso2.developerstudio.eclipse.general.project.nature" />
                                </adapt>
                       <adapt type="org.eclipse.jdt.core.IPackageFragment">
							<test property="org.wso2.developerstudio.projectNature"
								value="org.wso2.developerstudio.eclipse.general.project.nature" />
						</adapt>
                    </or>
                </enablement>
            </commonWizard>
    </extension>
       <extension
          point="org.wso2.developerstudio.eclipse.project.export.handler">
       <handler
             class="org.wso2.developerstudio.eclipse.artifact.registry.filter.project.export.RegistryFilterArtifactHandler"
             id="org.wso2.developerstudio.eclipse.artifact.registry.filter.project.export.handler"
             type="lib/registry/filter">
       </handler>
    </extension>
</plugin>
