<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.wst.server.core.runtimeTypes">
      <runtimeType
            class="org.eclipse.jst.server.generic.core.internal.GenericServerRuntime"
            description="WSO2 Carbon 4.4 based server"
            id="org.wso2.developerstudio.eclipse.carbon.runtime44"
            name="WSO2 Carbon 4.4 based server"
            vendor="WSO2"
            vendorId="wso2"
            version="4.4">
         <moduleType
               types="org.wso2.developerstudio.eclipse.carbon.module"
               versions="1.0">
         </moduleType>
          <moduleType
               types="jst.web"
               versions="2.2, 2.3, 2.4, 2.5, 3.0">
     	</moduleType>
      </runtimeType>
   </extension>
   <extension point="org.eclipse.wst.server.core.serverTypes">
      <serverType
            behaviourClass="org.wso2.developerstudio.eclipse.carbonserver44.internal.CarbonServerBehavior44"
            class="org.wso2.developerstudio.eclipse.carbonserver44.internal.CarbonServer44"
            description="WSO2 Carbon 4.4 based server"
            hasConfiguration="false"
            id="org.wso2.developerstudio.eclipse.carbon.server44"
            initialState="stopped"
            launchConfigId="org.eclipse.jst.server.generic.core.launchConfigurationType"
            launchModes="run, debug"
            name="WSO2 Carbon 4.4 based server"
            runtime="true"
            runtimeTypeId="org.wso2.developerstudio.eclipse.carbon.runtime44"
            startBeforePublish="true"
            startTimeout="600000"
            stopTimeout="15000"
            supportsRemoteHosts="false">
      </serverType>
   </extension>
   <extension point="org.eclipse.jst.server.core.runtimeClasspathProviders">
      <runtimeClasspathProvider
            class="org.eclipse.jst.server.generic.core.internal.GenericServerRuntimeTargetHandler"
            id="org.wso2.developerstudio.eclipse.carbon.runtime44.runtimeClasspathProvider"
            runtimeTypeIds="org.wso2.developerstudio.eclipse.carbon.*">
      </runtimeClasspathProvider>
   </extension>
   <extension
         point="org.eclipse.wst.common.project.facet.core.runtimes">
      <runtime-component-type
            id="org.wso2.wsf.ide.server.carbon.v44">
      </runtime-component-type>
      <runtime-component-version
            type="org.wso2.wsf.ide.server.carbon.v44"
            version="1.0">
      </runtime-component-version>
      <supported>
         <facet
               id="jst.web"
               version="2.2, 2.3, 2.4, 2.5, 3.0">
         </facet>
         <facet
               id="org.wso2.developerstudio.eclipse.carbon.facetId"
               version="1.0">
         </facet>         
         <runtime-component
               id="org.wso2.wsf.ide.server.carbon.v44"
               version="1.0">
         </runtime-component>
      </supported>
      <adapter>
         <runtime-component
               id="org.wso2.wsf.ide.server.carbon.v44">
         </runtime-component>
         <factory
               class="org.eclipse.jst.server.core.internal.RuntimeClasspathProvider$Factory">
         </factory>
         <type
               class="org.eclipse.jst.common.project.facet.core.IClasspathProvider">
         </type>
      </adapter>
      <adapter>
         <runtime-component
               id="org.wso2.wsf.ide.server.carbon.v44">
         </runtime-component>
         <factory
               class="org.eclipse.jst.server.ui.internal.RuntimeLabelProvider$Factory">
         </factory>
         <type
               class="org.eclipse.wst.common.project.facet.ui.IRuntimeComponentLabelProvider">
         </type>
      </adapter>
   </extension>
   <extension
         point="org.eclipse.jst.server.core.runtimeFacetMappings">
      <runtimeFacetMapping
            runtime-component="org.wso2.wsf.ide.server.carbon.v44"
            runtimeTypeId="org.wso2.developerstudio.eclipse.carbon.runtime44"
            version="1.0">
      </runtimeFacetMapping>
   </extension>
   
  <extension point="org.eclipse.wst.server.ui.wizardFragments">
      <fragment
            class="org.wso2.developerstudio.eclipse.carbonserver.base.internal.CarbonRuntimeWizardFragment"
            id="org.eclipse.jst.server.generic.runtime"
            typeIds="org.wso2.developerstudio.eclipse.carbon.runtime44">
      </fragment>
      <fragment
            class="org.wso2.developerstudio.eclipse.carbonserver.base.internal.CarbonServerWizardFragment"
            id="org.eclipse.jst.server.generic.server"
            typeIds="org.wso2.developerstudio.eclipse.carbon.server44">
      </fragment>
   </extension>
   <extension point="org.eclipse.wst.server.ui.serverImages">
      <image
            icon="icons/wsas.ico"
            id="org.eclipse.jst.server.generic.image"
            typeIds="org.wso2.developerstudio.eclipse.carbon.runtime44">
      </image>
      <image
            icon="icons/wsas.ico"
            id="org.eclipse.jst.server.generic.image"
            typeIds="org.wso2.developerstudio.eclipse.carbon.server44">
      </image>
   </extension>
   
   <extension point="org.eclipse.wst.server.ui.serverImages">
      <image
            icon="icons/wsas.ico"
            id="org.eclipse.jst.server.generic.image"
            typeIds="org.wso2.developerstudio.eclipse.carbon.runtime44">
      </image>
      <image
            icon="icons/wsas.ico"
            id="org.eclipse.jst.server.generic.image"
            typeIds="org.wso2.developerstudio.eclipse.carbon.server44">
      </image>
   </extension>
  <extension point="org.eclipse.jst.server.generic.core.serverdefinition">
      <serverdefinition
            definitionfile="serverdefinition/carbon.definition.xml"
            id="org.wso2.developerstudio.eclipse.carbon.runtime44">
      </serverdefinition>
   </extension>
   
	<extension
         point="org.wso2.developerstudio.eclipse.carbonserver.base.register">
         <server 
            name="WSO2 Carbon 4.4"
            id="org.wso2.developerstudio.eclipse.carbon.server44"
            server-id="org.wso2.developerstudio.eclipse.carbon.server44"
            class="org.wso2.developerstudio.eclipse.carbonserver44.operations.CarbonOperationsManager44" />
   </extension>
  <extension point="org.eclipse.wst.server.ui.editorPageSections">
      <section
         id="org.wso2.developerstudio.eclipse.server.carbon.v44.configuration.editor.port"
         order="10"
         insertionId="org.eclipse.wst.server.editor.overview.left"
         typeIds="org.wso2.developerstudio.eclipse.carbon.server44"
         class="org.wso2.developerstudio.eclipse.carbonserver44.configuration.ConfigurationPortEditorSection">
      </section>
      <section
         id="org.wso2.developerstudio.eclipse.server.carbon.v44.configuration.editor.other"
         order="10"
         insertionId="org.eclipse.wst.server.editor.overview.right"
         typeIds="org.wso2.developerstudio.eclipse.carbon.server44"
         class="org.wso2.developerstudio.eclipse.carbonserver44.configuration.ConfigurationOtherEditorSection">
      </section>
      <!--section
         id="org.wso2.developerstudio.eclipse.server.carbon.v40.configuration.editor.credentials"
         order="10"
         insertionId="org.eclipse.wst.server.editor.overview.right"
         typeIds="org.wso2.developerstudio.eclipse.carbon.server40"
         class="org.wso2.developerstudio.eclipse.carbonserver40.configuration.ConfigurationCredentialsEditorSection">
  	</section-->
   </extension>
  <extension
        point="org.wso2.developerstudio.eclipse.carbonserver.base.serverProperties">
     <properties
           class="org.wso2.developerstudio.eclipse.carbonserver44.ServerProperties"
           serverId="org.wso2.developerstudio.eclipse.carbon.runtime44">
     </properties>
  </extension>
</plugin>
