<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.wso2.developerstudio.platfom.ui.resourceManger" name="ResourceManager" schema="schema/org.wso2.developerstudio.platfom.ui.resourceManger.exsd"/>
   <extension-point id="org.wso2.developerstudio.aboutDialog.contributor" name="AboutDialogContributor" schema="schema/org.wso2.developerstudio.aboutDialog.contributor.exsd"/>

    <extension point="org.eclipse.ui.startup">
        <startup class="org.wso2.developerstudio.eclipse.platform.ui.startup.PlatformStartup"/>
    </extension>

    <extension point="org.eclipse.ui.preferencePages">
        <page id="org.wso2.developerstudio.eclipse.ui.developerstudio.preferences" name="Integration Studio"
              class="org.wso2.developerstudio.eclipse.platform.ui.preferences.DeveloperStudioPreferencePage">
        </page>
        <!--Removing the option to set client trust store via preferences as this is not working with platform-->
        <!--page id="org.wso2.developerstudio.eclipse.ui.developerstudio.preferences.client.trust.store"
              name="SSL Client Trust Store"
              class="org.wso2.developerstudio.eclipse.platform.ui.preferences.ClientTrustStorePreferencePage"
              category="org.wso2.developerstudio.eclipse.ui.developerstudio.preferences"/-->
        <page id="org.wso2.developerstudio.eclipse.ui.developerstudio.preferences.parent.maven" name="Maven Information"
              class="org.wso2.developerstudio.eclipse.platform.ui.preferences.MavenInfoPreferencePage"
              category="org.wso2.developerstudio.eclipse.ui.developerstudio.preferences"/>
         <page id="org.wso2.developerstudio.eclipse.ui.developerstudio.preferences.capp" name="Composite Application Parameters"
              class="org.wso2.developerstudio.eclipse.platform.ui.preferences.CappPreferencesPage"
              category="org.wso2.developerstudio.eclipse.ui.developerstudio.preferences"/>
          <page id="org.wso2.developerstudio.eclipse.ui.developerstudio.preferences.capp" name="WSO2 Plugin Preferences"
              class="org.wso2.developerstudio.eclipse.platform.ui.preferences.DeveloperPreferencePage"
               category="org.wso2.developerstudio.eclipse.ui.developerstudio.preferences"/>
        <page id="org.wso2.developerstudio.eclipse.ui.developerstudio.kernel.update.preferences" name="Check for Updates"
              class="org.wso2.developerstudio.eclipse.platform.ui.preferences.UpdateCheckerPreferencePage"
              category="org.wso2.developerstudio.eclipse.ui.developerstudio.preferences"/>
    </extension>

    <extension
            point="org.eclipse.core.runtime.preferences">
        <initializer
                class="org.wso2.developerstudio.eclipse.platform.ui.preferences.PreferenceInitializer">
        </initializer>
    </extension>

    <extension
            point="org.eclipse.ui.commands">
        <category
                id="org.wso2.developerstudio.eclipse.platform.ui.commands.category"
                name="Sample Category">
        </category>
        <command
                categoryId="org.wso2.developerstudio.eclipse.platform.ui.commands.category"
                id="org.wso2.developerstudio.eclipse.platform.ui.commands.sampleCommand"
                name="Sample Command">
        </command>
        <command
                categoryId="org.wso2.developerstudio.eclipse.platform.ui.commands.category"
                id="org.wso2.developerstudio.eclipse.platform.ui.commands.opendashboard"
                name="Open Dashboard">
        </command>
        <!--
        <command
                description="Generate Maven Pom file for a Project"
                id="org.wso2.developerstudio.eclipse.maven.pom.generator"
                name="Generate POM...">
        </command>
        -->
    </extension>

    <extension point="org.eclipse.ui.navigator.viewer">
        <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
            <includes>
                <contentExtension pattern="org.wso2.developerstudio.eclipse.platform.ui.nestedproject.content"/>
                <contentExtension pattern="org.wso2.developerstudio.eclipse.platform.ui.nestedproject.filter"/>
            </includes>
        </viewerContentBinding>
    </extension>

    <extension point="org.eclipse.ui.navigator.navigatorContent">
        <navigatorContent activeByDefault="true"
                          id="org.wso2.developerstudio.eclipse.platform.ui.nestedproject.content"
                          contentProvider="org.wso2.developerstudio.eclipse.platform.ui.provider.ProjectContentProvider"
                          labelProvider="org.wso2.developerstudio.eclipse.platform.ui.provider.ProjectLabelProvider"
                          name="Sub Artifact Projects" priority="high">
            <triggerPoints>
                <or>
                    <adapt type="org.eclipse.core.resources.IFolder"/>
                    <adapt type="org.eclipse.core.resources.IProject"/>
                </or>
            </triggerPoints>
            <possibleChildren>
                <instanceof value="org.eclipse.core.resources.IFolder"/>
            </possibleChildren>
        </navigatorContent>
        <commonFilter id="org.wso2.developerstudio.eclipse.platform.ui.nestedproject.filter"
                      name="Hide nested projects"
                      description="Hides projects which are already nested under another project"
                      class="org.wso2.developerstudio.eclipse.platform.ui.provider.FilterNestedProjects"
                      activeByDefault="true"
                      visibleInUI="true"/>
    </extension>

    
    <extension point="org.eclipse.ui.newWizards">
        <category name="WSO2" id="org.wso2.developerstudio.eclipse.capp.project">
        </category>
     
        <category name="Service Hosting" id="org.wso2.developerstudio.eclipse.service.hosting"
                  parentCategory="org.wso2.developerstudio.eclipse.capp.project">
        </category>
        <category name="Web Applications" id="org.wso2.developerstudio.eclipse.web.apps"
                  parentCategory="org.wso2.developerstudio.eclipse.capp.project">
        </category>
        <category name="Message Mediation" id="org.wso2.developerstudio.eclipse.message.mediation"
                  parentCategory="org.wso2.developerstudio.eclipse.capp.project">
        </category>
        <category name="Repository" id="org.wso2.developerstudio.eclipse.repository"
                  parentCategory="org.wso2.developerstudio.eclipse.capp.project">
        </category>
        <category name="Business Processes" id="org.wso2.developerstudio.eclipse.business.processes"
                  parentCategory="org.wso2.developerstudio.eclipse.capp.project">
        </category>
        <category name="Portal Services" id="org.wso2.developerstudio.eclipse.portal.services"
                  parentCategory="org.wso2.developerstudio.eclipse.capp.project">
        </category>
        <category name="Carbon UI" id="org.wso2.developerstudio.eclipse.carbon.ui"
                  parentCategory="org.wso2.developerstudio.eclipse.capp.project">
        </category>
        <category name="Extensions" id="org.wso2.developerstudio.eclipse.extensions"
                  parentCategory="org.wso2.developerstudio.eclipse.capp.project">
        </category>
        <category name="Distribution" id="org.wso2.developerstudio.eclipse.capp.distribution"
                  parentCategory="org.wso2.developerstudio.eclipse.capp.project">
        </category>
        <category name="Project Types" id="org.wso2.developerstudio.eclipse.service.hosting.project.types"
                  parentCategory="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.eclipse.service.hosting">
        </category>
        <category name="Service Hosting Features" id="org.wso2.developerstudio.eclipse.service.hosting.features"
                  parentCategory="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.eclipse.service.hosting">
        </category>
        <category name="Project Types" id="org.wso2.developerstudio.eclipse.extensions.project.types"
                  parentCategory="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.eclipse.extensions">
        </category>
        <category name="Service Extensions Features" id="org.wso2.developerstudio.eclipse.extensions.features"
                  parentCategory="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.eclipse.extensions">
        </category>
        <category name="Project Types" id="org.wso2.developerstudio.eclipse.message.mediation.project.types"
                  parentCategory="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.eclipse.message.mediation">
        </category>
        <category name="Message Mediation Features" id="org.wso2.developerstudio.eclipse.message.mediation.features"
                  parentCategory="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.eclipse.message.mediation">
        </category> 
        <category name="Containers" id="org.wso2.developerstudio.eclipse.container.exporters"
                  parentCategory="org.wso2.developerstudio.eclipse.capp.project">
        </category>   
    </extension>

     <extension
            point="org.eclipse.ui.handlers">
        <handler
                class="org.wso2.developerstudio.eclipse.platform.ui.handlers.DeveloperStudioAboutPageHandler"
                commandId="org.wso2.developerstudio.eclipse.platform.ui.commands.sampleCommand">
        </handler>
        <handler
                class="org.wso2.developerstudio.eclipse.platform.ui.handlers.OpenDashboardHandler"
                commandId="org.wso2.developerstudio.eclipse.platform.ui.commands.opendashboard">
        </handler>
         <handler
                class="org.wso2.developerstudio.eclipse.platform.ui.handlers.OpenTemplateDashboardHandler"
                commandId="org.wso2.developerstudio.eclipse.platform.ui.commands.opentemplatedashboard">
        </handler>
       
        <!--
        <handler
                class="org.wso2.developerstudio.eclipse.platform.ui.handlers.MavenPomGeneratorHandler"
                commandId="org.wso2.developerstudio.eclipse.maven.pom.generator">
        </handler>
        -->
        
    </extension>

    <extension
            point="org.eclipse.ui.bindings">
        <key
                commandId="org.wso2.developerstudio.eclipse.platform.ui.commands.sampleCommand"
                contextId="org.eclipse.ui.contexts.window"
                schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
                sequence="M1+6">
        </key>
    </extension>

<!--
    <extension
            point="org.eclipse.core.expressions.propertyTesters">
        <propertyTester
                class="org.wso2.developerstudio.eclipse.platform.ui.property.tester.MavenPropertyTester"
                id="org.wso2.developerstudio.eclipse.maven.propertytester"
                namespace="org.wso2.developerstudio.eclipse"
                properties="pomgenModuleVisibility"
                type="org.eclipse.core.resources.IProject">
        </propertyTester>
    </extension>

    <extension point="org.eclipse.core.expressions.propertyTesters">
        <propertyTester
                id="org.wso2.developerstudio.wso2ProjectNature.property.tester"
                class="org.wso2.developerstudio.eclipse.platform.ui.property.tester.WSO2ProjectNaturePropertyTester"
                namespace="org.wso2.developerstudio.nature"
                properties="isWSO2ProjectNature"
                type="org.eclipse.core.resources.IProject">
        </propertyTester>
    </extension>
-->
<!--
    <extension point="org.eclipse.ui.newWizards">
        <wizard name="Maven Multi Module Project"
                category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.eclipse.maven.features"
                class="org.wso2.developerstudio.eclipse.platform.ui.mvn.wizard.MvnMultiModuleWizard"
                finalPerspective="org.eclipse.jst.j2ee.J2EEPerspective"
                wizardManifest="project_wizard_mvn.xml"
                id="org.wso2.developerstudio.eclipse.platform.ui.mvn.wizard.MvnMultiModuleWizard"
                descriptionImage="mvn-wizard.png"
                project="true" icon="icons/maven-16x16.png">
            <description>Maven Multimodule Project</description>
        </wizard>
    </extension>

    <extension point="org.eclipse.core.resources.natures"
               id="org.wso2.developerstudio.eclipse.mavenmultimodule.project.nature"
               name="Maven Multi Module Project Nature">
        <runtime>
            <run
                    class="org.wso2.developerstudio.eclipse.platform.ui.mvn.nature.MavenMultiModuleProjectNature">
            </run>
        </runtime>
    </extension>

    <extension point="org.eclipse.ui.ide.projectNatureImages">
        <image id="org.wso2.developerstudio.eclipse.mavenmultimodule.project.natureImage"
               natureId="org.wso2.developerstudio.eclipse.mavenmultimodule.project.nature" icon="icons/maven-12x12.png">
        </image>
    </extension>

    <extension point="org.eclipse.ui.popupMenus">
        <objectContribution objectClass="org.eclipse.core.resources.IProject"
                            id="org.wso2.developerstudio.eclipse.maven.contribution">

            <menu id="org.wso2.developerstudio.eclipse.maven.contribution"
                  label="Maven" path="additions">
                <separator name="group1"/>
            </menu>
            <action
                    id="org.wso2.developerstudio.eclipse.maven.contribution.genpom"
                    label="Sync Project dependencies with pom.xml"
                    menubarPath="org.wso2.developerstudio.eclipse.maven.contribution/group1"
                    class="org.wso2.developerstudio.eclipse.platform.ui.action.SyncDependenciesAction"
                    enablesFor="1">
            </action>
            <action
                    id="org.wso2.developerstudio.eclipse.maven.contribution.updatepom"
                    label="Upgrade Plugin Versions in pom.xml"
                    menubarPath="org.wso2.developerstudio.eclipse.maven.contribution/group1"
                    class="org.wso2.developerstudio.eclipse.platform.ui.action.UpgradePluginVersionsAction"
                    enablesFor="1">
            </action>
            <enablement>
                <adapt type="org.eclipse.core.resources.IProject">
                    <test property="org.wso2.developerstudio.nature.isWSO2ProjectNature"/>
                </adapt>
            </enablement>
        </objectContribution>
    </extension>
    -->

</plugin>
