<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <extension-point id="org.wso2.developerstudio.eclipse.dashboad.link" name="Dashboard"
                     schema="schema/org.wso2.developerstudio.eclipse.dashboard.intro.ui.exsd"/>
                     
  <extension-point id="org.wso2.developerstudio.create.dashbaord.new.section" 
  name="Dashboard Section RHS" schema="schema/org.wso2.developerstudio.create.dashbaord.new.section.exsd"/>
   <extension point="org.eclipse.ui.editors">
        <editor
                class="org.wso2.developerstudio.eclipse.dashboard.handlers.Dashboard"
                id="org.wso2.developerstudio.eclipse.dashboard"
                name="Developer Studio Dashboard"></editor>
    </extension>
        <extension point="org.eclipse.ui.menus">
        <menuContribution locationURI="menu:org.eclipse.ui.main.menu?before=file">
            <menu label="Developer Studio"
                  mnemonic="C"
                  id="org.wso2.developerstudio.eclipse.platform.ui.main">
                  <separator
                        name="separator-id-dashoad-up"
                        visible="true">
                 </separator>
                <command
                        commandId="org.wso2.developerstudio.eclipse.platform.ui.commands.opendashboard"
                        icon="icons/carbon-normal.png"
                        id="org.wso2.developerstudio.eclipse.platform.ui.toolbars.opendashboard"
                        label="Open Dashboard"
                        tooltip="Open Developer Studio Dashboard">
                </command>
                  <separator
                        name="separator-id-dashoad-down"
                        visible="true">
                 </separator>
            </menu>
        </menuContribution>
    </extension>
    
    <extension point="org.eclipse.ui.newWizards">
  <category name="WSO2BASS" id="org.wso2.developerstudio.eclipse.capp.projectBASS">
        </category>
   </extension>
     <extension point="org.wso2.developerstudio.eclipse.dashboad.link">
        <wizardCategory category="org.wso2.developerstudio.eclipse.web.apps"/>
        <wizardCategory category="org.wso2.developerstudio.eclipse.message.mediation"/>
        <wizardCategory category="org.wso2.developerstudio.eclipse.repository"/>
        <wizardCategory category="org.wso2.developerstudio.eclipse.business.processes"/>
        <wizardCategory category="org.wso2.developerstudio.eclipse.portal.services"/>
        <wizardCategory category="org.wso2.developerstudio.eclipse.carbon.ui"/>
        <wizardCategory category="org.wso2.developerstudio.eclipse.extensions"/>
        <wizardCategory category="org.wso2.developerstudio.eclipse.service.hosting.project.types"/>
        <wizardCategory category="org.wso2.developerstudio.eclipse.service.hosting.features"/>
        <wizardCategory category="org.wso2.developerstudio.eclipse.extensions.project.types"/>
        <wizardCategory category="org.wso2.developerstudio.eclipse.extensions.features"/>
        <wizardCategory category="org.wso2.developerstudio.eclipse.message.mediation.project.types"/>
        <wizardCategory category="org.wso2.developerstudio.eclipse.message.mediation.features"/>
    </extension>
     <!--extension
           point="org.wso2.developerstudio.aboutDialog.contributor">
        <product
              bundle_id="org.wso2.developerstudio.eclipse.dashboard"
              name="Carbon"
              icon="icons/carbon-normal.png"
              version="4.4.x">
        </product>
     </extension-->
</plugin>
