<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///org/wso2/developerstudio/eclipse/gmf/datamapper"
            class="org.wso2.developerstudio.datamapper.DataMapperPackage"
            genModel="model/dataMapper.genmodel"/>
   </extension>

</plugin>
