<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
      point="org.eclipse.ui.newWizards">
   <wizard
         category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.eclipse.artifact.businessruleservice.category"
         class="org.wso2.developerstudio.eclipse.artifact.brs.ui.wizard.ProjectCreationWizard"
         icon="icons/rule-service.gif"
         id="org.wso2.developerstudio.eclipse.artifact.businessruleservice.wizard"
         name="Business Rules Service Project"
         project="true"
         wizardManifest="project_wizard.xml">
      <description>
         Business Rule Service Project
      </description>
   </wizard>
   <category
         id="org.wso2.developerstudio.eclipse.artifact.businessruleservice.category"
         name="Business Rules Server"
         parentCategory="org.wso2.developerstudio.eclipse.capp.project">
   </category>
</extension>
<extension point="org.wso2.developerstudio.eclipse.capp.artifacts.provider">
    	<provider class="org.wso2.developerstudio.eclipse.artifact.brs.export.BRSArtifactProvider"
          nature="org.wso2.developerstudio.eclipse.artifact.businessruleservice.project.nature"></provider>
</extension>
   <extension point="org.eclipse.core.resources.natures"
		id="org.wso2.developerstudio.eclipse.artifact.businessruleservice.project.nature" name="Rule Service Project Nature">
		<runtime>
			<run
				class="org.wso2.developerstudio.eclipse.artifact.brs.project.nature.RuleServiceProjectNature">
			</run>
		</runtime>
	</extension>
	<extension point="org.eclipse.ui.ide.projectNatureImages">
		<image id="org.wso2.developerstudio.eclipse.artifact.businessruleservice.project.natureImage"
			natureId="org.wso2.developerstudio.eclipse.artifact.businessruleservice.project.nature" icon="icons/rule-service.gif">
		</image>
	</extension>
	<extension
       point="org.eclipse.ui.editors">
    <editor
          class="org.wso2.developerstudio.eclipse.artifact.brs.editor.RuleServiceEditor"
          extensions="rsl"
          id="org.wso2.developerstudio.eclipse.artifact.businessruleservice.editor.RuleServiceEditor"
          name="BRS Project rsl Editor">
       <contentTypeBinding
             contentTypeId="org.wso2.developerstudio.eclipse.artifact.businessruleservice.contenttype.rsl">
       </contentTypeBinding>
    </editor>
 </extension>
<extension point="org.eclipse.core.contenttype.contentTypes">
   <content-type base-type="org.eclipse.core.runtime.xml"
                 file-extensions="rsl"
                 id="org.wso2.developerstudio.eclipse.artifact.businessruleservice.contenttype.rsl"
                 name="BRS File"
                 priority="normal">
      <describer class="org.eclipse.core.runtime.content
                        .XMLRootElementContentDescriber">
         
      </describer>
   </content-type>
</extension>
 <extension
         point="org.wso2.developerstudio.eclipse.project.export.handler">
      <handler
            class="org.wso2.developerstudio.eclipse.artifact.brs.export.BRSExportHandler"
            id="org.wso2.developerstudio.eclipse.artifact.brs.export.handler"
            type="service/rule">
      </handler>
      
   </extension>
   
   <extension point="org.wso2.developerstudio.eclipse.platform.core.intro.ui.dashboard">
      <wizardCategory
                category="org.wso2.developerstudio.eclipse.artifact.businessruleservice.category">
        </wizardCategory>
        <category
                id="dashboard.category.brs"
                showTitle="true"
                priority="9"
                title="Business Rules Server">
        </category>
        <wizardLink
                category="dashboard.category.brs"
                id="dashboard.wizardLink.brs"
                wizard="org.wso2.developerstudio.eclipse.artifact.businessruleservice.wizard">
        </wizardLink>
      </extension>
	 <!-- <extension point="org.eclipse.ui.navigator.navigatorContent">	
	   <navigatorContent activeByDefault="true"
			priority="high"
			id="org.eclipse.ui.navigator.resourceContent"
			name="test">
				<commonWizard 
					menuGroupId="1org.wso2.developerstudio.eclipse.artifact.webservice"
			  	 	type="new"
					wizardId="org.wso2.developerstudio.eclipse.artifact.businessruleservice.wizard">
					<enablement>
						<or>
							<adapt type="org.eclipse.core.resources.IProject"/>
							<adapt type="org.eclipse.core.resources.IFolder"/>
						</or>
					</enablement>
				</commonWizard>
				<triggerPoints>
				           <or>         
				              <instanceof 
				                    value="org.eclipse.core.resources.IWorkspaceRoot" /> 
				              <instanceof
				                    value="org.eclipse.core.resources.IProject" />  
				              <instanceof  
				                     value="org.eclipse.core.resources.IFolder" /> 
				           </or>
				  </triggerPoints>
		</navigatorContent>
	</extension> -->
				<extension point="org.eclipse.ui.navigator.navigatorContent">    
            <commonWizard type="new"
                menuGroupId="1org.wso2.developerstudio.eclipse.artifact.webservice"
                wizardId="org.wso2.developerstudio.eclipse.artifact.businessruleservice.wizard">
                <enablement>
                    <or>
                        <adapt type="org.eclipse.core.resources.IProject">
                            <test property="org.eclipse.core.resources.projectNature"
                                value="org.wso2.developerstudio.eclipse.mavenmultimodule.project.nature" />
                                </adapt>
                       <adapt type="org.eclipse.jdt.core.IPackageFragment">
							<test property="org.wso2.developerstudio.projectNature"
								value="org.wso2.developerstudio.eclipse.mavenmultimodule.project.nature" />
						</adapt>
                    </or>
                </enablement>
            </commonWizard>
    </extension>
   </plugin>
