<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.newWizards">
		<wizard name="Carbon UI Component"
			class="org.wso2.developerstudio.eclipse.carbon.uibundle.ui.CarbonUIBundleWizard"
			id="org.wso2.developerstudio.eclipse.carbon.uibundle.project"
			category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.eclipse.carbon.ui"
			project="true"
			icon="icons/carbon-ui-bundle-16x16.png">
			<description>Carbon UI Component Project</description>
		</wizard>
   </extension>
   <!--extension point="org.eclipse.ui.newWizards">
		<category name="WSO2" id="org.wso2.developerstudio.eclipse.capp.project">
		</category>
		<category name="Carbon" id="org.wso2.developerstudio.eclipse.carbon" 
			parentCategory="org.wso2.developerstudio.eclipse.capp.project">
		</category>
   </extension-->
	<extension point="org.eclipse.core.resources.natures"
		id="org.wso2.developerstudio.eclipse.carbon.uibundle.nature" name="Carbon UI Bundle Project Nature">
		<runtime>
			<run
				class="org.wso2.developerstudio.eclipse.carbon.uibundle.nature.CarbonUIProjectNature">
			</run>
		</runtime>
	</extension>
	<extension point="org.eclipse.ui.ide.projectNatureImages">
		<image id="org.wso2.developerstudio.eclipse.carbon.uibundle.natureimage"
			natureId="org.wso2.developerstudio.eclipse.carbon.uibundle.nature" icon="icons/carbon-ui-bundle-small.png">
		</image>
	</extension>
	
	 <extension point="org.wso2.developerstudio.eclipse.carbonserver.publisher">
	    <publisher
	          class="org.wso2.developerstudio.eclipse.carbon.uibundle.publish.CarbonUIComponentPublisher"
	          id="org.wso2.developerstudio.eclipse.carbon.uibundle.publisher30"
	          serverid="org.wso2.developerstudio.eclipse.carbon.server30">
	    </publisher>
	 </extension>
</plugin>
