<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<extension-point id="org.wso2.developerstudio.eclipse.platform.core.intro.ui.dashboard" name="Dashboard"
                     schema="schema/org.wso2.developerstudio.eclipse.platform.core.intro.ui.dashboard.exsd"/>
                     
                     <extension point="org.wso2.developerstudio.eclipse.platform.core.intro.ui.dashboard">
    <category id="dashboard.category.greg" showTitle="true"
                  title="Governance Registry"
                  priority="3">
        </category>
        
         <wizardLink category="dashboard.category.greg"
                    id="dashboard.wizardLink.registry.pespective"
                    wizard="org.wso2.developerstudio.registry.remote.registry.perspective.action"
                    priority="1">
        </wizardLink>
        
        <customAction
                class="org.wso2.developerstudio.eclipse.greg.perspective.intro.action.ShowRegistryPerspective"
                id="org.wso2.developerstudio.registry.remote.registry.perspective.action">
        </customAction>
    </extension>
                     
	<extension point="org.eclipse.ui.perspectives">
		<perspective id="org.wso2.developerstudio.registry.remote.registry.pespective"
			name="WSO2 Registry" icon="icons/registry.png"
			class="org.wso2.developerstudio.eclipse.greg.perspective.RegistryPerspectiveFactory" />
	</extension>
	
	<extension
       point="org.eclipse.ui.views">
    <view
          class="org.wso2.developerstudio.eclipse.greg.manager.remote.views.RegistryBrowserView"
          icon="icons/registry.png"
          id="org.wso2.developerstudio.registry.remote.registry.view"
          name="WSO2 Registry Browser">
    </view>
 </extension>
 
 	<extension
       point="org.eclipse.ui.views">
    <view
          class="org.wso2.developerstudio.eclipse.greg.manager.remote.views.RegistryPropertyViewer"
          icon="icons/registryProperties.png"
          id="org.wso2.developerstudio.eclipse.registry.properties"
          name="Resource Metadata">
    </view>
 </extension>
 
 	<extension
       point="org.eclipse.ui.views">
    <view
          class="org.wso2.developerstudio.eclipse.greg.manager.remote.views.ResourceInfoViewer"
          icon="icons/registryProperties.png"
          id="org.wso2.developerstudio.eclipse.registry.resource.info"
          name="Resource Info">
    </view>
 </extension>
 
   
   
</plugin>
