<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
         <wizard name="CEP Project" category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.eclipse.artifact.cep.category"
			class="org.wso2.developerstudio.eclipse.artifact.cep.ui.wizard.CEPProjectCreationWizard"
			wizardManifest="project_wizard.xml"
			id="org.wso2.developerstudio.eclipse.artifact.newcepartifact"
			project="true"
			icon="icons/buket-16x16.png">
			<description>CEP Bucket Project</description>
		</wizard>
         <category
               id="org.wso2.developerstudio.eclipse.artifact.cep.category"
               name="Complex Event Processing"
               parentCategory="org.wso2.developerstudio.eclipse.capp.project">
         </category>
   </extension>
   <extension point="org.eclipse.core.resources.natures"
		id="org.wso2.developerstudio.eclipse.cep.project.nature" name="CEP_PROJECT_NATURE">
		<runtime>
			<run
				class="org.wso2.developerstudio.eclipse.artifact.cep.project.nature.CEPProjectNature">
			</run>
		</runtime>
	</extension>
	<extension point="org.eclipse.ui.ide.projectNatureImages">
		<image id="org.wso2.developerstudio.eclipse.cep.project.natureImage"
			natureId="org.wso2.developerstudio.eclipse.cep.project.nature" icon="icons/buket-12x12.png">
		</image>
	</extension>
	<extension point="org.eclipse.ui.navigator.navigatorContent">	
	   <navigatorContent activeByDefault="true"
			priority="high"
			id="org.eclipse.ui.navigator.resourceContent"
			name="test">
				<commonWizard 
					menuGroupId="3org.wso2.developerstudio.eclipse.artifact.newcepartifact"
			  	 	type="new"
					wizardId="org.wso2.developerstudio.eclipse.artifact.newcepartifact">
					<enablement>
						<or>
							<adapt type="org.eclipse.core.resources.IProject"/>
							<adapt type="org.eclipse.core.resources.IFolder"/>
						</or>
					</enablement>
				</commonWizard>
				<triggerPoints>
				           <or>         
				              <instanceof 
				                    value="org.eclipse.core.resources.IWorkspaceRoot" /> 
				              <instanceof
				                    value="org.eclipse.core.resources.IProject" />  
				              <instanceof  
				                     value="org.eclipse.core.resources.IFolder" /> 
				           </or>
				  </triggerPoints>
		</navigatorContent>
	</extension>
 <extension
       point="org.wso2.developerstudio.eclipse.project.export.handler">
    <handler
          class="org.wso2.developerstudio.eclipse.artifact.cep.project.export.CEPArtfactExportHandler"
          id="org.wso2.developerstudio.eclipse.artifact.cep.project.export.handler"
          type="cep/bucket">
    </handler>
 </extension>
    <extension
          point="org.eclipse.ui.editors">
       <editor
             class="org.wso2.developerstudio.eclipse.artifact.cep.editor.CEPProjectEditor"
             extensions="xml"
             id="org.wso2.developerstudio.eclipse.artifact.cep.editor.CEPProjectEditor"
             name="CEPEditor">
          <contentTypeBinding
                contentTypeId="org.wso2.developerstudio.eclipse.artifact.cep.content-type.cepservice">
          </contentTypeBinding>
       </editor>
    </extension>
</plugin>
