<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
         <wizard name="Template" 
         	category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.eclipse.message.mediation/org.wso2.developerstudio.eclipse.message.mediation.features"
			class="org.wso2.developerstudio.eclipse.artifact.template.wizards.TemplateProjectCreationWizard"
			wizardManifest="project_wizard.xml"
			id="org.wso2.developerstudio.eclipse.artifact.newtemplate"
			icon="icons/template.png">
			<description>template</description>
		</wizard>
   </extension>
    <!--<extension point="org.eclipse.ui.navigator.navigatorContent">	
	   <navigatorContent activeByDefault="true"
			priority="high"
			id="org.eclipse.ui.navigator.resourceContent"
			name="test">
				<commonWizard 
					menuGroupId="2org.wso2.developerstudio.eclipse.artifact.esb"
			  	 	type="new"
					wizardId="org.wso2.developerstudio.eclipse.artifact.newtemplate">
					<enablement>
						<or>
							<adapt type="org.eclipse.core.resources.IProject"/>
							<adapt type="org.eclipse.core.resources.IFolder"/>
						</or>
					</enablement>
				</commonWizard>
				<triggerPoints>
				           <or>         
				              <instanceof 
				                    value="org.eclipse.core.resources.IWorkspaceRoot" /> 
				              <instanceof
				                    value="org.eclipse.core.resources.IProject" />  
				              <instanceof  
				                     value="org.eclipse.core.resources.IFolder" /> 
				           </or>
				  </triggerPoints>
		</navigatorContent>
	  </extension>	-->
		<extension point="org.eclipse.ui.navigator.navigatorContent">    
            <commonWizard type="new"
                menuGroupId="2org.wso2.developerstudio.eclipse.artifact.esb"
                wizardId="org.wso2.developerstudio.eclipse.artifact.newtemplate">
                <enablement>
                    <or>
                        <adapt type="org.eclipse.core.resources.IProject">
                            <test property="org.eclipse.core.resources.projectNature"
                                value="org.wso2.developerstudio.eclipse.esb.project.nature" />
                                </adapt>
                       <adapt type="org.eclipse.jdt.core.IPackageFragment">
							<test property="org.wso2.developerstudio.projectNature"
								value="org.wso2.developerstudio.eclipse.esb.project.nature" />
						</adapt>
						<adapt type="org.eclipse.core.resources.IFolder">  
						   <test
                       forcePluginActivation="true"
                       property="org.eclipse.core.resources.name"
                       value="templates">
                     </test>                        
						</adapt>
                    </or>
                </enablement>
            </commonWizard>
    </extension>
   <extension point="org.wso2.developerstudio.eclipse.platform.core.intro.ui.dashboard">	
		<wizardLink category="dashboard.category.esb" id="8dashboard.wizardLink.esb.template"
			wizard="org.wso2.developerstudio.eclipse.artifact.newtemplate" priority="8">
		</wizardLink>
	</extension>
</plugin>