<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://docs.oasis-open.org/ns/bpel4people/bpel4people/200803"
            class="org.wso2.developerstudio.bpel.humantask.model.ModelPackage"
            genModel="model/humantask.genmodel"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.wso2.org/developerstudio/bps/humantask"
            class="org.wso2.developerstudio.bpel.humantask.record.RecordPackage"
            genModel="model/recoder.genmodel"/>
   </extension>

</plugin>
