<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
         <wizard name="Analytics Project" category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.eclipse.artifact.analytics.category"
			class="org.wso2.developerstudio.eclipse.artifact.analytics.ui.wizard.AnalyticsProjectCreationWizard"
			wizardManifest="project_wizard.xml"
			id="org.wso2.developerstudio.eclipse.artifact.newAnalyticsProject"
			project="true"
			icon="icons/analytics-16x16.png">
			<description>Analytics Project</description>
		</wizard>
         <category
               id="org.wso2.developerstudio.eclipse.artifact.analytics.category"
               name="Analytics Project"
               parentCategory="org.wso2.developerstudio.eclipse.capp.project">
         </category>
   </extension>  
   <extension
		point="org.wso2.developerstudio.eclipse.platform.core.intro.ui.dashboard">
		<wizardCategory category="org.wso2.developerstudio.eclipse.artifact.analytics.category"/>
    	<category id="dashboard.category.analytics" showTitle="true"
                  title="Analytics"
                  priority="8">
        </category>
        <wizardLink category="dashboard.category.analytics" id="dashboard.wizardLink.analytics.project"
                    wizard="org.wso2.developerstudio.eclipse.artifact.newAnalyticsProject">
        </wizardLink>
        <wizardLink category="dashboard.category.analytics" id="dashboard.wizardLink.analytics.execution-plan"
                    wizard="org.wso2.developerstudio.eclipse.artifact.newexecution-planartifact">
        </wizardLink>
        <wizardLink category="dashboard.category.analytics" id="dashboard.wizardLink.analytics.stream"
                    wizard="org.wso2.developerstudio.eclipse.artifact.newstreamartifact">
        </wizardLink>
        <wizardLink category="dashboard.category.analytics" id="dashboard.wizardLink.analytics.publisher"
                    wizard="org.wso2.developerstudio.eclipse.artifact.newpublisherartifact">
        </wizardLink>
        <wizardLink category="dashboard.category.analytics" id="dashboard.wizardLink.analytics.receiver"
                    wizard="org.wso2.developerstudio.eclipse.artifact.newreceiverartifact">
        </wizardLink>
   </extension>
 
   <extension point="org.eclipse.core.resources.natures"
		id="org.wso2.developerstudio.eclipse.artifact.analytics.project.nature" name="ANALYTICS_PROJECT_NATURE">
		<runtime>
			<run
				class="org.wso2.developerstudio.eclipse.artifact.analytics.project.nature.AnalyticsProjectNature">
			</run>
		</runtime>
	</extension>

	<extension point="org.eclipse.ui.ide.projectNatureImages">
		<image id="org.wso2.developerstudio.eclipse.artifact.analytics.project.natureImage"
			natureId="org.wso2.developerstudio.eclipse.artifact.analytics.project.nature" icon="icons/analytics-12x12.png">
		</image>
	</extension>
    
    <extension
       point="org.eclipse.ltk.core.refactoring.renameParticipants">
       <renameParticipant
			class="org.wso2.developerstudio.eclipse.artifact.analytics.project.refactoring.rename.AnalyticsArtifactRenameParticipant"
			id="CEPArtifactRenameParticipant"
			name="CEPArtifactRename">
				<enablement>
					<and>
							<instanceof
								value="org.eclipse.core.resources.IFile">
							</instanceof>
						<adapt type="org.eclipse.core.resources.IResource">
             				<test
                   				property="org.eclipse.core.resources.projectNature"
                   				value="org.wso2.developerstudio.eclipse.artifact.analytics.project.nature">
             				</test>
         				</adapt>
					</and>
				</enablement>
		</renameParticipant>
 </extension>
  <extension
         point="org.eclipse.ltk.core.refactoring.deleteParticipants">
       <deleteParticipant
			class="org.wso2.developerstudio.eclipse.artifact.analytics.project.refactoring.delete.AnalyticsArtifactMetaDataDeleteParticipant"
			id="CEPArtifactMetaDataDeleteParticipant"
			name="CEPArtifactMetaDataDeleteParticipantRefactor">
				<enablement>
					<and>
							<instanceof
								value="org.eclipse.core.resources.IFile">
							</instanceof>
						<adapt type="org.eclipse.core.resources.IResource">
             				<test
                   				property="org.eclipse.core.resources.projectNature"
                   				value="org.wso2.developerstudio.eclipse.artifact.analytics.project.nature">
             				</test>
         				</adapt>
					</and>
				</enablement>
		</deleteParticipant>
   </extension>
 	
 	<extension point="org.eclipse.wst.xml.core.catalogContributions"> 
  		<catalogContribution
			id="org.wso2.developerstudio.eclipse.artifact.analytics.receiver.xml"> 
  		<public 
 	 		publicId="http://wso2.org/carbon/eventreceiver" 
 	 		uri="platform:/plugin/org.wso2.developerstudio.eclipse.artifact.analytics/schema/receiver.xsd"> 
  		</public> 
 	 	</catalogContribution> 	 
 	</extension>
 	
 	<extension point="org.eclipse.wst.xml.core.catalogContributions"> 
  		<catalogContribution
			id="org.wso2.developerstudio.eclipse.artifact.analytics.publisher.xml"> 
  		<public 
 	 		publicId="http://wso2.org/carbon/eventpublisher" 
 	 		uri="platform:/plugin/org.wso2.developerstudio.eclipse.artifact.analytics/schema/publisher.xsd"> 
  		</public> 
 	 	</catalogContribution> 	 
 	</extension>

  <extension
        point="org.wso2.developerstudio.eclipse.capp.artifacts.provider">
     <provider
           class="org.wso2.developerstudio.eclipse.artifact.analytics.exporter.AnalyticsArtifactsProvider"
           nature="org.wso2.developerstudio.eclipse.artifact.analytics.project.nature">
     </provider>
  </extension>
 	  
</plugin>
