<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2018, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.

  Version 2.0 (the "License"); you may not use this file except
  in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
-->
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.e4.ui.css.swt.theme">
      <theme
      	basestylesheeturi="themes/css/wso2-theme-standalone-light.css"
      	id="org.wso2.developerstudio.eclipse.esb.light.theme"
      	label="WSO2EI Light"
      	os="macosx"
      	/>
      	<theme
      	basestylesheeturi="themes/css/wso2-theme-standalone-light-linux.css"
      	id="org.wso2.developerstudio.eclipse.esb.light.theme"
      	label="WSO2EI Light"
      	os="linux"
      	/>
      	<theme
      	basestylesheeturi="themes/css/wso2-theme-standalone-light-win.css"
      	id="org.wso2.developerstudio.eclipse.esb.light.theme"
      	label="WSO2EI Light"
      	os="win32"
      	os_version="6.0,6.1,6.2,6.3,10.0"
      	/>
      <property name="applicationCSSResources"
      value="platform:/plugin/org.wso2.developerstudio.eclipse.esb.theme/themes/images/" />
   </extension>
   <extension point="org.eclipse.e4.ui.css.swt.theme">
		<theme
		basestylesheeturi="themes/css/wso2-theme-standalone.css"
      	id="org.wso2.developerstudio.eclipse.esb.theme" 
      	label="WSO2EI" 
      	os="macosx" 
      	/>
      	<theme
      	basestylesheeturi="themes/css/wso2-theme-standalone.css"
      	id="org.wso2.developerstudio.eclipse.esb.theme" 
      	label="WSO2EI" 
      	os="linux" 
      	/>
      	<theme
      	basestylesheeturi="themes/css/wso2-theme-standalone.css" 
      	id="org.wso2.developerstudio.eclipse.esb.theme" 
      	label="WSO2EI"
      	os="win32"
      	os_version="6.0,6.1,6.2,6.3,10.0"
      	/>
      <property name="applicationCSSResources"
      value="platform:/plugin/org.wso2.developerstudio.eclipse.esb.theme/themes/images/" />
   </extension>
   <extension point="org.eclipse.ui.commandImages">
      <image
      	commandId="org.eclipse.ui.file.save" 
      	icon="icons/full/etool16/save_edit.png" 
      	disabledIcon="icons/full/dtool16/save_edit.png" 
      	/>
      <image
      	commandId="org.eclipse.ui.file.saveAll" 
      	icon="icons/full/etool16/saveall_edit.png" 
      	disabledIcon="icons/full/dtool16/saveall_edit.png" 
      	/>
   </extension>
   <extension point="org.eclipse.ui.decorators">
		<decorator
        adaptable="true"
        icon="icons/source-folder.png"
        id="org.wso2.developerstudio.eclipse.esb.theme.SourceFolderDecorator"
        label="Source Folder Decorator"
        lightweight="true"
        location="TOP_LEFT"
        objectClass="org.eclipse.core.resources.IFolder"
        state="true">
		    <description>
		      Source Folder Decorator
		    </description>
		  </decorator>
	</extension>
</plugin>
