<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
       <wizard
            category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.eclipse.extensions/org.wso2.developerstudio.eclipse.extensions.features"
            class="org.wso2.developerstudio.eclipse.greg.registry.handler.ui.wizard.NewRegistryHandlerWizard"
            icon="icons/new-registry-handler-16x16.png"
            id="org.wso2.developerstudio.eclipse.greg.registry.handler.NewRegistryHandlerWizard"
            name="WSO2 Registry Handler Class">
            <description>Create new Registry Handler Class</description>
      </wizard>
   </extension>

</plugin>
