<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.eclipse.ui.newWizards">
		<wizard name="Axis2 Service Project"
				category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.eclipse.service.hosting/org.wso2.developerstudio.eclipse.service.hosting.project.types"
				class="org.wso2.developerstudio.eclipse.artifact.axis2.ui.wizard.Axis2ServiceCreationWizard"
				wizardManifest="project_wizard.xml"
				id="org.wso2.developerstudio.eclipse.artifact.newaxis2artifact"
				descriptionImage="axis2-wizard.png"
				project="true" icon="icons/axis2.png">
			<description>Axis2 Service Project</description>
		</wizard>
	</extension>
	   <extension point="org.wso2.developerstudio.eclipse.capp.artifacts.provider">
    	<provider class="org.wso2.developerstudio.eclipse.artifact.axis2.project.export.Axis2ArtifactsProvider"
          nature="org.wso2.developerstudio.eclipse.axis2.project.nature"></provider>
   </extension>	
	   <extension
		point="org.wso2.developerstudio.eclipse.platform.core.intro.ui.dashboard">
   <category id="dashboard.category.AS" showTitle="true"
			title="Web App and Service Artifacts"
			priority="9">
	</category>
	<wizardLink category="dashboard.category.AS"
			id="dashboard.wizardLink.AS.axis2.serviceProject"
			wizard="org.wso2.developerstudio.eclipse.artifact.newaxis2artifact"
			priority="1">
	</wizardLink>
	<!-- <customAction
			class="org.wso2.developerstudio.appfactory.ui.perspective.ShowAppFactoryPerspective"
			id="org.wso2.developerstudio.AF.perspective.action">
	</customAction> -->
 </extension>

	<extension point="org.eclipse.ui.newWizards">
		<wizard name="Axis2 Service Class"
				category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.eclipse.service.hosting/org.wso2.developerstudio.eclipse.service.hosting.features"
				class="org.wso2.developerstudio.eclipse.artifact.axis2.ui.wizard.Axis2ClassWizard"
				id="org.wso2.developerstudio.eclipse.artifact.axis2.ui.wizard"
				project="false" icon="icons/axis2-16x16.png">
			<description>Axis2 Service Class</description>
		</wizard>
	</extension>

	<extension point="org.eclipse.ui.newWizards">
		<wizard name="Import WSDL file"
				category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.eclipse.service.hosting/org.wso2.developerstudio.eclipse.service.hosting.features"
				class="org.wso2.developerstudio.eclipse.artifact.axis2.ui.wizard.Axis2ImportWizard"
				id="org.wso2.developerstudio.eclipse.artifact.axis2.ui.wizard.importwsdl"
				project="false" icon="icons/axis2-16x16.png">
			<description>Import WSDL file</description>
		</wizard>
	</extension>

	<extension point="org.eclipse.core.resources.natures"
			   id="org.wso2.developerstudio.eclipse.axis2.project.nature" name="Axis2 Service Project Nature">
		<runtime>
			<run
					class="org.wso2.developerstudio.eclipse.artifact.axis2.project.nature.Axis2ServiceProjectNature">
			</run>
		</runtime>
	</extension>

	<extension point="org.eclipse.ui.ide.projectNatureImages">
		<image id="org.wso2.developerstudio.eclipse.axis2.project.natureImage"
			   natureId="org.wso2.developerstudio.eclipse.axis2.project.nature" icon="icons/axis2-12x12.png">
		</image>
	</extension>

	<extension point="org.eclipse.ui.navigator.navigatorContent">
		<commonWizard type="new"
					  menuGroupId="1org.wso2.developerstudio.eclipse.artifact.webservice"
					  wizardId="org.wso2.developerstudio.eclipse.artifact.newaxis2artifact">
			<enablement>
				<or>
					<adapt type="org.eclipse.core.resources.IProject">
						<test property="org.eclipse.core.resources.projectNature"
							  value="org.wso2.developerstudio.eclipse.mavenmultimodule.project.nature"/>
					</adapt>
					<adapt type="org.eclipse.jdt.core.IPackageFragment">
						<test property="org.wso2.developerstudio.projectNature"
							  value="org.wso2.developerstudio.eclipse.mavenmultimodule.project.nature"/>
					</adapt>
				</or>
			</enablement>
		</commonWizard>
	</extension>

	<extension point="org.eclipse.ui.navigator.navigatorContent">
		<commonWizard type="new"
					  menuGroupId="1org.wso2.developerstudio.eclipse.artifact.webservice1"
					  wizardId="org.wso2.developerstudio.eclipse.artifact.axis2.ui.wizard">
			<enablement>
				<or>
					<adapt type="org.eclipse.core.resources.IProject">
						<test property="org.eclipse.core.resources.projectNature"
							  value="org.wso2.developerstudio.eclipse.axis2.project.nature"/>
					</adapt>
					<adapt type="org.eclipse.jdt.core.IPackageFragment">
						<test property="org.wso2.developerstudio.projectNature"
							  value="org.wso2.developerstudio.eclipse.axis2.project.nature"/>
					</adapt>
				</or>
			</enablement>
		</commonWizard>
	</extension>

	<extension point="org.eclipse.ui.navigator.navigatorContent">
		<commonWizard type="new"
					  menuGroupId="1org.wso2.developerstudio.eclipse.artifact.webservice1"
					  wizardId="org.wso2.developerstudio.eclipse.artifact.axis2.ui.wizard.importwsdl">
			<enablement>
				<or>
					<adapt type="org.eclipse.core.resources.IProject">
						<test property="org.eclipse.core.resources.projectNature"
							  value="org.wso2.developerstudio.eclipse.axis2.project.nature"/>
					</adapt>
				</or>
			</enablement>
		</commonWizard>
	</extension>

	<extension
			point="org.wso2.developerstudio.eclipse.project.export.handler">
		<handler
				class="org.wso2.developerstudio.eclipse.artifact.axis2.project.export.Axis2ArtfactExportHandler"
				id="org.wso2.developerstudio.eclipse.artifact.axis2.project.export.handler"
				type="service/axis2">
		</handler>
	</extension>

	<extension
			point="org.wso2.developerstudio.eclipse.samples">
		<sample
				class="org.wso2.developerstudio.eclipse.artifact.axis2.sample.Axis2SampleContributor"
				id="org.wso2.developerstudio.eclipse.capp.artifact.axis2.sample"
				isCustomCreateSample="false"
				sampleProjectName="AccountServiceSampleProject">
		</sample>
	</extension>

	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution
				objectClass="org.eclipse.core.resources.IProject"
				id="org.wso2.developerstudio.eclipse.artifact.axis2.popup.generate">
			<action
					label="Generate WSDL"
					icon="icons/axis2-16x16.png"
					class="org.wso2.developerstudio.eclipse.artifact.axis2.ui.action.WSDLGenerationAction"
					id="org.wso2.developerstudio.eclipse.artifact.axis2.ui.action.generate">
			</action>
			<enablement>
				<adapt type="org.eclipse.core.resources.IProject">
					<test property="org.eclipse.core.resources.projectNature"
						  value="org.wso2.developerstudio.eclipse.axis2.project.nature"/>
				</adapt>
			</enablement>
		</objectContribution>
	</extension>

	<extension
			point="org.eclipse.ltk.core.refactoring.renameParticipants">
		<renameParticipant
				class="org.wso2.developerstudio.eclipse.artifact.axis2.project.refactor.Axis2ServiceClassRenameParticipant"
				id="axis2.service.class.rename.participant"
				name="Axis2ServiceClassRenameParticipant">
			<enablement>
				<and>
					<instanceof
							value="org.eclipse.core.resources.IFile">
					</instanceof>
					<adapt type="org.eclipse.core.resources.IFile">
						<test
								property="org.eclipse.core.resources.projectNature"
								value="org.wso2.developerstudio.eclipse.axis2.project.nature">
						</test>
					</adapt>
				</and>
			</enablement>
		</renameParticipant>
	</extension>

</plugin>
