<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.jdt.ui.classpathContainerPage">
		<classpathContainerPage id=""
			name="WSO2 Classpath Libraries"
			class="org.wso2.developerstudio.eclipse.libraries.ui.wizard.WSO2LibraryWizardPage" />
	</extension>
	<extension point="org.eclipse.ui.startup">
		<startup class="org.wso2.developerstudio.eclipse.esb.libraries.LibraryBundleStartupHandler"/>
	</extension>

</plugin>
