<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.wso2.developerstudio.project.nature.provider" name="WSO2 Project Natures" 
                                                          schema="schema/org.wso2.developerstudio.project.nature.provider.exsd"/>
</plugin>
