<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.newWizards">
		<wizard 
			name="Web Application" 
			category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.eclipse.web.apps"
			class="org.wso2.developerstudio.eclipse.artifact.webapp.ui.wizard.DynamicWebAppCreationWizard"
			wizardManifest="project_wizard.xml"
			id="org.wso2.developerstudio.eclipse.artifact.newwarartifact"
			icon="icons/war-16x16.png"
			project="true">
			<description>Web Application (WAR)</description>
		</wizard>
		
	</extension>
	   <extension point="org.wso2.developerstudio.eclipse.capp.artifacts.provider">
    	<provider class="org.wso2.developerstudio.eclipse.artifact.webapp.project.export.WebAppArtifactsProvider"
          nature="org.wso2.developerstudio.eclipse.webapp.project.nature"></provider>
   </extension>
	<extension point="org.eclipse.core.resources.natures"
		id="org.wso2.developerstudio.eclipse.webapp.project.nature" name="Web App Project Nature">
		<runtime>
			<run
				class="org.wso2.developerstudio.eclipse.artifact.webapp.project.nature.WebAppProjectNature">
			</run>
		</runtime>
	</extension>
	<extension point="org.eclipse.ui.ide.projectNatureImages">
		<image id="org.wso2.developerstudio.eclipse.webapp.project.natureImage"
			natureId="org.wso2.developerstudio.eclipse.webapp.project.nature" icon="icons/war-12x12.png">
		</image>
	</extension>
	

  <extension
		point="org.wso2.developerstudio.eclipse.platform.core.intro.ui.dashboard">
   <category id="dashboard.category.AS" showTitle="true"
			title="Web App and Service Artifacts"
			priority="9">
	</category>
	<wizardLink category="dashboard.category.AS"
			id="dashboard.wizardLink.AS.webApp.Project"
			wizard="org.wso2.developerstudio.eclipse.artifact.newwarartifact"
			priority="1">
	</wizardLink>
 </extension>
	
	
	<!--<extension point="org.eclipse.ui.navigator.navigatorContent">	
	   <navigatorContent activeByDefault="true"
			priority="high"
			id="org.eclipse.ui.navigator.resourceContent"
			name="test">
				<commonWizard 
					menuGroupId="1org.wso2.developerstudio.eclipse.artifact.webservice"
			  	 	type="new"
					wizardId="org.wso2.developerstudio.eclipse.artifact.newwarartifact">
					<enablement>
						<or>
					   		<adapt type="org.eclipse.core.resources.IWorkbench"/>
							<adapt type="org.eclipse.core.resources.IProject"/>
							<adapt type="org.eclipse.core.resources.IFolder"/>
						</or>
					</enablement>
				</commonWizard>
				<triggerPoints>
				           <or>         
				              <instanceof 
				                    value="org.eclipse.core.resources.IWorkspaceRoot" /> 
				              <instanceof
				                    value="org.eclipse.core.resources.IProject" />  
				              <instanceof  
				                     value="org.eclipse.core.resources.IFolder" /> 
				           </or>
				  </triggerPoints>
		</navigatorContent>
	</extension>-->
		<extension point="org.eclipse.ui.navigator.navigatorContent">    
            <commonWizard type="new"
                menuGroupId="1org.wso2.developerstudio.eclipse.artifact.webservice"
                wizardId="org.wso2.developerstudio.eclipse.artifact.newwarartifact">
                <enablement>
                    <or>
                        <adapt type="org.eclipse.core.resources.IProject">
                            <test property="org.eclipse.core.resources.projectNature"
                                value="org.wso2.developerstudio.eclipse.mavenmultimodule.project.nature" />
                                </adapt>
                       <adapt type="org.eclipse.jdt.core.IPackageFragment">
							<test property="org.wso2.developerstudio.projectNature"
								value="org.wso2.developerstudio.eclipse.mavenmultimodule.project.nature" />
						</adapt>
                    </or>
                </enablement>
            </commonWizard>
    </extension>
   <extension
       point="org.wso2.developerstudio.eclipse.project.export.handler">
    <handler
          class="org.wso2.developerstudio.eclipse.artifact.webapp.project.export.WebAppArtfactExportHandler"
          id="org.wso2.developerstudio.eclipse.artifact.webapp.project.export.handler"
          type="web/application">
    </handler>
 </extension>
      <extension point="org.eclipse.ui.navigator.navigatorContent">
		<commonFilter
			class="org.wso2.developerstudio.eclipse.artifact.webapp.utils.ProjectFilter"
			description="Hide WSO2 WEB resource files."
			id="org.wso2.developerstudio.eclipse.web.project.filter.graphical"
			name="Hide WSO2 WEB resource files" activeByDefault="true"/>
	</extension>
	<extension
			point="org.eclipse.ui.navigator.viewer">
		<viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
			<includes>
				<contentExtension pattern="org.wso2.developerstudio.eclipse.web.project.filter.graphical*" />	
			</includes>
		</viewerContentBinding>
		<viewerContentBinding viewerId="org.eclipse.ui.navigator.PackageExplorer">
			<includes>
				<contentExtension pattern="org.wso2.developerstudio.eclipse.web.project.filter.graphical*" />	
			</includes>
		</viewerContentBinding>
	</extension>
	  <extension
       point="org.wso2.developerstudio.eclipse.carbonserver.publisher">
        <publisher
          class="org.wso2.developerstudio.eclipse.artifact.webapp.publisher.WebAppProjectPublisher"
          id="org.wso2.developerstudio.eclipse.webapp.project.publisher30"
          serverid="org.wso2.developerstudio.eclipse.carbon.server30">
    </publisher>
    <publisher
          class="org.wso2.developerstudio.eclipse.artifact.webapp.publisher.WebAppProjectPublisher"
          id="org.wso2.developerstudio.eclipse.webapp.project.publisher31"
          serverid="org.wso2.developerstudio.eclipse.carbon.server31">
    </publisher>
    <publisher
          class="org.wso2.developerstudio.eclipse.artifact.webapp.publisher.WebAppProjectPublisher"
          id="org.wso2.developerstudio.eclipse.webapp.project.publisher32"
          serverid="org.wso2.developerstudio.eclipse.carbon.server32">
    </publisher>
    <publisher
          class="org.wso2.developerstudio.eclipse.artifact.webapp.publisher.WebAppProjectPublisher"
          id="org.wso2.developerstudio.eclipse.webapp.project.publisher40"
          serverid="org.wso2.developerstudio.eclipse.carbon.server40">
    </publisher>
    <publisher
          class="org.wso2.developerstudio.eclipse.artifact.webapp.publisher.WebAppProjectPublisher"
          id="org.wso2.developerstudio.eclipse.webapp.project.publisher42"
          serverid="org.wso2.developerstudio.eclipse.carbon.server42">
    </publisher>
    <publisher
          class="org.wso2.developerstudio.eclipse.artifact.webapp.publisher.WebAppProjectPublisher"
          id="org.wso2.developerstudio.eclipse.webapp.project.publisher44"
          serverid="org.wso2.developerstudio.eclipse.carbon.server44">
    </publisher>
    <publisher
          class="org.wso2.developerstudio.eclipse.artifact.webapp.publisher.WebAppProjectRemotePublisher"
          id="org.wso2.developerstudio.eclipse.webapp.project.publisher.remote"
          serverid="org.wso2.developerstudio.eclipse.carbon.server.remote">          
    </publisher>
       </extension>
</plugin>
