<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.newWizards">
		<wizard name="Gadget" category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.eclipse.portal.services"
			class="org.wso2.developerstudio.eclipse.artifact.gadget.ui.wizard.GadgetCreationWizard"
			wizardManifest="project_wizard.xml"
			id="org.wso2.developerstudio.eclipse.artifact.newgadgetartifact"
			icon="icons/Gadget-16x16.png"
			project="true">
			<description>Gadget</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.core.resources.natures"
		id="org.wso2.developerstudio.eclipse.artifact.gadget.project.nature" name="Gadget Project Nature">
		<runtime>
			<run
				class="org.wso2.developerstudio.eclipse.artifact.gadget.project.nature.GadgetProjectNature">
			</run>
		</runtime>
	</extension>
		<extension point="org.eclipse.ui.ide.projectNatureImages">
		<image id="org.wso2.developerstudio.eclipse.gadget.project.natureImage"
			natureId="org.wso2.developerstudio.eclipse.artifact.gadget.project.nature" icon="icons/Gadget-12x12.png">
		</image>
	</extension>
	  <extension point="org.eclipse.ui.navigator.navigatorContent">	
	   <navigatorContent activeByDefault="true"
			priority="high"
			id="org.eclipse.ui.navigator.resourceContent"
			name="test">
				<commonWizard 
					menuGroupId="5org.wso2.developerstudio.eclipse.artifact.webservice"
			  	 	type="new"
					wizardId="org.wso2.developerstudio.eclipse.artifact.newgadgetartifact">
					<enablement>
						<or>
							<adapt type="org.eclipse.core.resources.IProject"/>
							<adapt type="org.eclipse.core.resources.IFolder"/>
						</or>
					</enablement>
				</commonWizard>
				<triggerPoints>
				           <or>         
				              <instanceof 
				                    value="org.eclipse.core.resources.IWorkspaceRoot" /> 
				              <instanceof
				                    value="org.eclipse.core.resources.IProject" />  
				              <instanceof  
				                     value="org.eclipse.core.resources.IFolder" /> 
				           </or>
				  </triggerPoints>
		</navigatorContent>
	</extension>
   <extension
         point="org.wso2.developerstudio.eclipse.project.export.handler">
      <handler
            class="org.wso2.developerstudio.eclipse.artifact.gadget.project.export.GadgetArtfactExportHandler"
            id="org.wso2.developerstudio.eclipse.artifact.gadget.project.export.handler"
            type="wso2/gadget">
      </handler>
   </extension>
   <extension point="org.wso2.developerstudio.eclipse.samples">
      <sample
            class="org.wso2.developerstudio.eclipse.artifact.gadget.sample.GadgetSampleContributor"
            id="org.wso2.developerstudio.eclipse.capp.artifact.gadget.sample"
            isCustomCreateSample="false"
            sampleProjectName="AcmeProductGadgetProject">
      </sample>
   </extension>
</plugin>
