<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2020, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
  ~
  ~ WSO2 Inc. licenses this file to you under the Apache License,
  ~ Version 2.0 (the "License"); you may not use this file except
  ~ in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied. See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->
<?eclipse version="3.4"?>
<plugin>

    <!-- APIM project nature 
    <extension point="org.eclipse.core.resources.natures" id="org.wso2.developerstudio.eclipse.apim.project.nature" name="APIM Project Nature">
        <runtime>
            <run class="org.wso2.developerstudio.eclipse.apim.project.export.ApimProjectNature" />
        </runtime>
    </extension>
    
    <extension point="org.eclipse.ui.ide.projectNatureImages">
        <image id="org.wso2.developerstudio.eclipse.apim.project.natureImage" natureId="org.wso2.developerstudio.eclipse.apim.project.nature" icon="icons/apim_project.png" />
    </extension>
    
    <extension point="org.eclipse.ui.newWizards">
        <wizard name="APIM Project" category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.eclipse.apim.project" class="org.wso2.developerstudio.eclipse.apim.project.wizard.creation.APIMProjectCreationWizard" id="org.wso2.developerstudio.eclipse.apim.neweapimproject" icon="icons/apim_project.png" project="true">
            <description>APIM Project</description>
        </wizard>
    </extension> -->
    
    <!-- Adding handler to open the APIM project wizard
    <extension point="org.eclipse.ui.handlers">
        <handler commandId="developerstudio.commands.new.apimProject" class="org.wso2.developerstudio.eclipse.apim.project.keyhandlers.APIMProjectKeyHandler" />
    </extension>-->
    
    <!-- Adding menus extension
    <extension point="org.eclipse.ui.menus">
        <menuContribution locationURI="popup:common.new.menu?after=new">
            <command commandId="developerstudio.commands.new.apimProject" label="APIM Project" icon="icons/apim_project.png">
                <visibleWhen checkEnabled="false">
                    <with variable="activeMenuSelection">
                        <iterate>
                            <adapt type="org.eclipse.core.resources.IResource">
                                <test property="org.wso2.developerstudio.eclipse.esb.project.propertytesters.checkResourceType" value="true" forcePluginActivation="true" />
                            </adapt>
                        </iterate>
                    </with>
                </visibleWhen>
            </command>
        </menuContribution>
    </extension>-->
    
    <!-- Adding perspectiveExtensions to add the item to File-New menu 
    <extension point="org.eclipse.ui.perspectiveExtensions">
        <perspectiveExtension targetID="*">
            <newWizardShortcut id="org.wso2.developerstudio.eclipse.apim.neweapimproject" />
        </perspectiveExtension>
    </extension> -->
    
    <!--<extension point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:new?after=new">
         <command
               commandId="developerstudio.commands.new.apimProject"
               label="APIM Project"
               icon="icons/apim_project.png">
         </command>
      </menuContribution>
   </extension>-->
   
    <!-- Adding extension to Maven Multi Module project's new list 
    <extension point="org.eclipse.ui.navigator.navigatorContent">
        <commonWizard type="new" menuGroupId="1org.wso2.developerstudio.eclipse.artifact.webservice" wizardId="org.wso2.developerstudio.eclipse.apim.neweapimproject">
            <enablement>
                <or>
                    <adapt type="org.eclipse.core.resources.IProject">
                        <test property="org.eclipse.core.resources.projectNature" value="org.wso2.developerstudio.eclipse.mavenmultimodule.project.nature" />
                    </adapt>
                    <adapt type="org.eclipse.jdt.core.IPackageFragment">
                        <test property="org.wso2.developerstudio.projectNature" value="org.wso2.developerstudio.eclipse.mavenmultimodule.project.nature" />
                    </adapt>
                </or>
            </enablement>
        </commonWizard>
    </extension> -->
    
</plugin>
