<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2018, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.

  Version 2.0 (the "License"); you may not use this file except
  in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
-->

<?eclipse version="3.4"?>
<plugin>
    <extension
            point="org.eclipse.ui.newWizards">
        <category
                name="Templates"
                id="org.wso2.developerstudio.templates"
                parentCategory="org.wso2.developerstudio.eclipse.capp.project">
        </category>
        <wizard
                name="RabbitMQ Integration"
                icon="icons/message-store-small.png"
                project="true"
                category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.templates"
                class="org.wso2.developerstudio.eclipse.esb.dashboard.templates.wizard.RabbitMQSampleTemplate"
                id="org.wso2.developerstudio.wizards.esb.rabbitMQSampleTemplate">
        </wizard>
        <wizard
                name="JMS Integration"
                icon="icons/message-store-small.png"
                project="true"
                category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.templates"
                class="org.wso2.developerstudio.eclipse.esb.dashboard.templates.wizard.JMSProxyTemplate"
                id="org.wso2.developerstudio.wizards.esb.jmsProxyTemplate">
        </wizard>
        <wizard
                name="Database Polling"
                icon="icons/message-store-small.png"
                project="true"
                category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.templates"
                class="org.wso2.developerstudio.eclipse.esb.dashboard.templates.wizard.DatabasePolling"
                id="org.wso2.developerstudio.wizards.esb.dataPolling">
        </wizard>
        <wizard
                name="Hello World Service"
                icon="icons/message-store-small.png"
                project="true"
                category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.templates"
                class="org.wso2.developerstudio.eclipse.esb.dashboard.templates.wizard.HelloWorldService"
                id="org.wso2.developerstudio.wizards.esb.template">
        </wizard>
        <wizard
                name="Proxying a SOAP Service"
                icon="icons/server.png"
                project="true"
                category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.templates"
                class="org.wso2.developerstudio.eclipse.esb.dashboard.templates.wizard.ProxyingASoapService"
                id="org.wso2.developerstudio.wizards.esb.proxyingASoapService">
        </wizard>
        <wizard
                name="Proxying a REST Service"
                icon="icons/maven-24x24.png"
                project="true"
                category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.templates"
                class="org.wso2.developerstudio.eclipse.esb.dashboard.templates.wizard.ProxyingARESTAPI"
                id="org.wso2.developerstudio.wizards.esb.proxyingARESTAPI">
        </wizard>
        <wizard
                name="Content Based Routing"
                icon="icons/registry.png"
                project="true"
                category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.templates"
                class="org.wso2.developerstudio.eclipse.esb.dashboard.templates.wizard.ContentBasedRoutingTemplate"
                id="org.wso2.developerstudio.wizards.esb.contentBasedRoutingTemplate">
        </wizard>
        <wizard
                name="Header Based Routing"
                icon="icons/server.png"
                project="true"
                category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.templates"
                class="org.wso2.developerstudio.eclipse.esb.dashboard.templates.wizard.HeaderBasedRoutingTemplate"
                id="org.wso2.developerstudio.wizards.esb.headerBasedRoutingTemplate">
        </wizard>
        <wizard
                name="Message Filtering"
                icon="icons/message-store-small.png"
                project="true"
                category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.templates"
                class="org.wso2.developerstudio.eclipse.esb.dashboard.templates.wizard.MessageFilteringTemplate"
                id="org.wso2.developerstudio.wizards.esb.messageFilteringTemplate">
        </wizard>
        <wizard
                name="Protocol Switching"
                icon="icons/registry.png"
                project="true"
                category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.templates"
                class="org.wso2.developerstudio.eclipse.esb.dashboard.templates.wizard.ProtocolSwitchingTemplate"
                id="org.wso2.developerstudio.wizards.esb.protocolSwitchingTemplate">
        </wizard>
        <wizard
                name="Scatter Gather Integration Pattern"
                icon="icons/server.png"
                project="true"
                category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.templates"
                class="org.wso2.developerstudio.eclipse.esb.dashboard.templates.wizard.ScatterGatherTemplate"
                id="org.wso2.developerstudio.wizards.esb.scatterGatherTemplate">
        </wizard>
        <wizard
                name="File Transfer"
                icon="icons/server.png"
                project="true"
                category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.templates"
                class="org.wso2.developerstudio.eclipse.esb.dashboard.templates.wizard.FileTransferTeamplate"
                id="org.wso2.developerstudio.wizards.esb.fileTransferTeamplate">
        </wizard>
        <wizard
                name="Guaranteed Delivery"
                icon="icons/server.png"
                project="true"
                category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.templates"
                class="org.wso2.developerstudio.eclipse.esb.dashboard.templates.wizard.GuaranteedDeliveryTemplate"
                id="org.wso2.developerstudio.wizards.esb.guaranteedDeliveryTemplate">
        </wizard>
        <wizard
                name="REST to SOAP Conversion"
                icon="icons/server.png"
                project="true"
                category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.templates"
                class="org.wso2.developerstudio.eclipse.esb.dashboard.templates.wizard.RestToSoapTemplate"
                id="org.wso2.developerstudio.wizards.esb.restToSoapTemplate">
        </wizard>
        <wizard
                name="Exception Handling"
                icon="icons/server.png"
                project="true"
                category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.templates"
                class="org.wso2.developerstudio.eclipse.esb.dashboard.templates.wizard.ExceptionHandlingTemplate"
                id="org.wso2.developerstudio.wizards.esb.exceptionHandlingTemplate">
        </wizard>
        <wizard
                name="XML To JSON Transformation"
                icon="icons/server.png"
                project="true"
                category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.templates"
                class="org.wso2.developerstudio.eclipse.esb.dashboard.templates.wizard.XmlToJsonTransformationTemplate"
                id="org.wso2.developerstudio.wizards.esb.xmlToJsonTransformationTemplate">
        </wizard>
        <wizard
                name="Periodical Scheduled Tasks"
                icon="icons/server.png"
                project="true"
                category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.templates"
                class="org.wso2.developerstudio.eclipse.esb.dashboard.templates.wizard.ScheduleTaskTeamplate"
                id="org.wso2.developerstudio.wizards.esb.scheduleTaskTeamplate">
        </wizard>
        <wizard
                name="Fetch SalesForce Account Information"
                icon="icons/server.png"
                project="true"
                category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.templates"
                class="org.wso2.developerstudio.eclipse.esb.dashboard.templates.wizard.ReadSalesforceAccountsTemplate"
                id="org.wso2.developerstudio.wizards.esb.readSalesforceAccountsTemplate">
        </wizard>
        <wizard
                name="JSON to XML Mapping"
                icon="icons/message-store-small.png"
                project="true"
                category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.templates"
                class="org.wso2.developerstudio.eclipse.esb.dashboard.templates.wizard.JsonToXmlMappingTemplate"
                id="org.wso2.developerstudio.wizards.esb.jsonToXmlMappingTemplate">
        </wizard>
        <wizard
                name="XML to JSON Mapping"
                icon="icons/message-store-small.png"
                project="true"
                category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.templates"
                class="org.wso2.developerstudio.eclipse.esb.dashboard.templates.wizard.XmlToJsonMappingTemplate"
                id="org.wso2.developerstudio.wizards.esb.xmlToJsonMappingTemplate">
        </wizard>
        <wizard
                name="Kafka Consumer and Producer"
                icon="icons/message-store-small.png"
                project="true"
                category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.templates"
                class="org.wso2.developerstudio.eclipse.esb.dashboard.templates.wizard.KafkaTemplate"
                id="org.wso2.developerstudio.wizards.esb.kafkaTemplate">
        </wizard>
    </extension>
    <extension
            point="org.wso2.developerstudio.eclipse.template.dashboad.link">
        <wizardCategory category="org.wso2.developerstudio.templates"/>
        <category id="dashboard.category.esb.template" showTitle="false"
                  title="ESB_Templates"
                  priority="1">
        </category>
        <wizardLink category="dashboard.category.esb.template" id="dashboard.wizardLink.esb.template.project"
                    wizard="org.wso2.developerstudio.wizards.esb.template"
                    description="Create a simple HTTP service"
                    image="icons/server.png">
        </wizardLink>
        <wizardLink category="dashboard.category.esb.template"
                    id="dashboard.wizardLink.esb.proxyingASoapService.project"
                    wizard="org.wso2.developerstudio.wizards.esb.proxyingASoapService"
                    description="Expose a virtual service which act as a proxy to an existing service that is exposed over a SOAP API"
                    image="icons/server.png">
        </wizardLink>
        <wizardLink category="dashboard.category.esb.template" id="dashboard.wizardLink.esb.proxyingARESTAPI.project"
                    wizard="org.wso2.developerstudio.wizards.esb.proxyingARESTAPI"
                    description="Expose a virtual service which act as a proxy to an existing service that is exposed over a RESTful API"
                    image="icons/server.png">
        </wizardLink>
        <wizardLink category="dashboard.category.esb.template"
                    id="dashboard.wizardLink.esb.contentBasedRoutingTemplate.project"
                    wizard="org.wso2.developerstudio.wizards.esb.contentBasedRoutingTemplate"
                    description="Demonstrates content-based message routing capability"
                    image="icons/server.png">
        </wizardLink>
        <wizardLink category="dashboard.category.esb.template"
                    id="dashboard.wizardLink.esb.headerBasedRoutingTemplate.project"
                    wizard="org.wso2.developerstudio.wizards.esb.headerBasedRoutingTemplate"
                    description="Demonstrates header-based message routing capability"
                    image="icons/server.png">
        </wizardLink>
        <wizardLink category="dashboard.category.esb.template"
                    id="dashboard.wizardLink.esb.messageFilteringTemplate.project"
                    wizard="org.wso2.developerstudio.wizards.esb.messageFilteringTemplate"
                    description="Demonstrates message filtering capability"
                    image="icons/server.png">
        </wizardLink>
        <wizardLink category="dashboard.category.esb.template" id="dashboard.wizardLink.esb.protocolSwitchingTemplate"
                    wizard="org.wso2.developerstudio.wizards.esb.protocolSwitchingTemplate"
                    description="Demonstrates protocol switching capability. Template contains a service which receive message over HTTP protocol and deliver over JMS protocol to a downstream service"
                    image="icons/server.png">
        </wizardLink>
        <wizardLink category="dashboard.category.esb.template" id="dashboard.wizardLink.esb.scatterGatherTemplate"
                    wizard="org.wso2.developerstudio.wizards.esb.scatterGatherTemplate"
                    description="Demonstrates how to implement Scatter-Gather enterprise integration pattern"
                    image="icons/server.png">
        </wizardLink>
        <wizardLink category="dashboard.category.esb.template" id="dashboard.wizardLink.esb.fileTransferTeamplate"
                    wizard="org.wso2.developerstudio.wizards.esb.fileTransferTeamplate"
                    description="Demonstrates some of the file handling capabilities"
                    image="icons/server.png">
        </wizardLink>
        <wizardLink category="dashboard.category.esb.template" id="dashboard.wizardLink.esb.guaranteedDeliveryTemplate"
                    wizard="org.wso2.developerstudio.wizards.esb.guaranteedDeliveryTemplate"
                    description="Demonstrates how to achieve guaranteed delivery using store and forward pattern"
                    image="icons/server.png">
        </wizardLink>
        <wizardLink category="dashboard.category.esb.template" id="dashboard.wizardLink.esb.restToSoapTemplate"
                    wizard="org.wso2.developerstudio.wizards.esb.restToSoapTemplate"
                    description="Exposes an existing SOAP service as a RESTful API"
                    image="icons/server.png">
        </wizardLink>
        <wizardLink category="dashboard.category.esb.template" id="dashboard.wizardLink.esb.exceptionHandlingTemplate"
                    wizard="org.wso2.developerstudio.wizards.esb.exceptionHandlingTemplate"
                    description="Demonstrates the exception handling capabilities"
                    image="icons/server.png">
        </wizardLink>
        <wizardLink category="dashboard.category.esb.template"
                    id="dashboard.wizardLink.esb.xmlToJsonTransformationTemplate"
                    wizard="org.wso2.developerstudio.wizards.esb.xmlToJsonTransformationTemplate"
                    description="Demonstrates some of the message transformation capabilities"
                    image="icons/server.png">
        </wizardLink>
        <wizardLink category="dashboard.category.esb.template" id="dashboard.wizardLink.esb.scheduleTaskTeamplate"
                    wizard="org.wso2.developerstudio.wizards.esb.scheduleTaskTeamplate"
                    description="Periodical scheduled tasks"
                    image="icons/server.png">
        </wizardLink>
        <wizardLink category="dashboard.category.esb.template"
                    id="dashboard.wizardLink.esb.readSalesforceAccountsTemplate"
                    wizard="org.wso2.developerstudio.wizards.esb.readSalesforceAccountsTemplate"
                    description="Fetch leads records from Salesforce system"
                    image="icons/server.png">
        </wizardLink>
        <wizardLink category="dashboard.category.esb.template" id="dashboard.wizardLink.esb.dataPolling.project"
                    wizard="org.wso2.developerstudio.wizards.esb.dataPolling"
                    description="Poll data from a database periodically and trigger a message flow"
                    image="icons/server.png">
        </wizardLink>
        <wizardLink category="dashboard.category.esb.template" id="dashboard.wizardLink.esb.jmsProxyTemplate.project"
                    wizard="org.wso2.developerstudio.wizards.esb.jmsProxyTemplate"
                    description="Demonstrates integration with JMS brokers"
                    image="icons/server.png">
        </wizardLink>
        <wizardLink category="dashboard.category.esb.template"
                    id="dashboard.wizardLink.esb.rabbitMQSampleTemplate.project"
                    wizard="org.wso2.developerstudio.wizards.esb.rabbitMQSampleTemplate"
                    description="A sample which demonstrates the integration with RabbitMQ"
                    image="icons/server.png">
        </wizardLink>
        <wizardLink category="dashboard.category.esb.template"
                    id="dashboard.wizardLink.esb.jsonToXmlMappingTemplate.project"
                    wizard="org.wso2.developerstudio.wizards.esb.jsonToXmlMappingTemplate"
                    description="This sample demonstrates JSON to XML Mapping"
                    image="icons/server.png">
        </wizardLink>
        <wizardLink category="dashboard.category.esb.template"
                    id="dashboard.wizardLink.esb.xmlToJsonMappingTemplate"
                    wizard="org.wso2.developerstudio.wizards.esb.xmlToJsonMappingTemplate"
                    description="This sample demonstrates XML to JSON Mapping"
                    image="icons/server.png">
        </wizardLink>
        <wizardLink category="dashboard.category.esb.template"
                    id="dashboard.wizardLink.esb.kafkaTemplate"
                    wizard="org.wso2.developerstudio.wizards.esb.kafkaTemplate"
                    description="This sample demonstrates Kafka Consumer and Producer Scenario with ESB Kafka Conenctor"
                    image="icons/server.png">
        </wizardLink>
    </extension>
	<extension
	      point="org.eclipse.help.contexts">
	   <contexts
	         file="Samples/HelpContext/HelpContent.xml"
	         plugin="org.wso2.developerstudio.eclipse.esb.dashboard.templates">
	   </contexts>
	</extension>
	<extension point="org.eclipse.help.toc">
	<toc file="templatehelpcontent/toc.xml" primary="true" />
	</extension>
</plugin>
