<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2018, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.

  Version 2.0 (the "License"); you may not use this file except
  in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
-->

<?eclipse version="3.4"?>
<plugin>
    <extension
            point="org.eclipse.ui.newWizards">
        <category
                name="Templates"
                id="org.wso2.developerstudio.templates"
                parentCategory="org.wso2.developerstudio.eclipse.capp.project">
        </category>
        <wizard
                name="DataBase Polling"
                icon="icons/message-store-small.png"
                project="true"
                category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.templates"
                class="org.wso2.developerstudio.eclipse.esb.dashboard.templates.wizard.DatabasePolling"
                id="org.wso2.developerstudio.wizards.esb.dataPolling">
        </wizard>
        <wizard
                name="Hello World Proxy Service"
                icon="icons/message-store-small.png"
                project="true"
                category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.templates"
                class="org.wso2.developerstudio.eclipse.esb.dashboard.templates.wizard.HelloWorldService"
                id="org.wso2.developerstudio.wizards.esb.template">
        </wizard>
        <wizard
                name="Proxying a SOAP Service"
                icon="icons/server.png"
                project="true"
                category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.templates"
                class="org.wso2.developerstudio.eclipse.esb.dashboard.templates.wizard.ProxyingASoapService"
                id="org.wso2.developerstudio.wizards.esb.proxyingASoapService">
        </wizard>
        <wizard
                name="Proxying a REST Service"
                icon="icons/maven-24x24.png"
                project="true"
                category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.templates"
                class="org.wso2.developerstudio.eclipse.esb.dashboard.templates.wizard.ProxyingARESTAPI"
                id="org.wso2.developerstudio.wizards.esb.proxyingARESTAPI">
        </wizard>
        <wizard
                name="Content Based Routing"
                icon="icons/registry.png"
                project="true"
                category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.templates"
                class="org.wso2.developerstudio.eclipse.esb.dashboard.templates.wizard.ContentBasedRoutingTemplate"
                id="org.wso2.developerstudio.wizards.esb.contentBasedRoutingTemplate">
        </wizard>
        <wizard
                name="Header Based Routing"
                icon="icons/server.png"
                project="true"
                category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.templates"
                class="org.wso2.developerstudio.eclipse.esb.dashboard.templates.wizard.HeaderBasedRoutingTemplate"
                id="org.wso2.developerstudio.wizards.esb.headerBasedRoutingTemplate">
        </wizard>
        <wizard
                name="Message Filtering"
                icon="icons/message-store-small.png"
                project="true"
                category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.templates"
                class="org.wso2.developerstudio.eclipse.esb.dashboard.templates.wizard.MessageFilteringTemplate"
                id="org.wso2.developerstudio.wizards.esb.messageFilteringTemplate">
        </wizard>
        <wizard
                name="Protocol Switching"
                icon="icons/registry.png"
                project="true"
                category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.templates"
                class="org.wso2.developerstudio.eclipse.esb.dashboard.templates.wizard.ProtocolSwitchingTemplate"
                id="org.wso2.developerstudio.wizards.esb.protocolSwitchingTemplate">
        </wizard>
        <wizard
                name="Scatter Gather Integration Pattern"
                icon="icons/server.png"
                project="true"
                category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.templates"
                class="org.wso2.developerstudio.eclipse.esb.dashboard.templates.wizard.ScatterGatherTemplate"
                id="org.wso2.developerstudio.wizards.esb.scatterGatherTemplate">
        </wizard>
        <wizard
                name="File Transfer"
                icon="icons/server.png"
                project="true"
                category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.templates"
                class="org.wso2.developerstudio.eclipse.esb.dashboard.templates.wizard.FileTransferTeamplate"
                id="org.wso2.developerstudio.wizards.esb.fileTransferTeamplate">
        </wizard>
        <wizard
                name="Guaranteed Delivery"
                icon="icons/server.png"
                project="true"
                category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.templates"
                class="org.wso2.developerstudio.eclipse.esb.dashboard.templates.wizard.GuaranteedDeliveryTemplate"
                id="org.wso2.developerstudio.wizards.esb.guaranteedDeliveryTemplate">
        </wizard>
        <wizard
                name="REST to SOAP Conversion"
                icon="icons/server.png"
                project="true"
                category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.templates"
                class="org.wso2.developerstudio.eclipse.esb.dashboard.templates.wizard.RestToSoapTemplate"
                id="org.wso2.developerstudio.wizards.esb.restToSoapTemplate">
        </wizard>
        <wizard
                name="Exception Handling"
                icon="icons/server.png"
                project="true"
                category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.templates"
                class="org.wso2.developerstudio.eclipse.esb.dashboard.templates.wizard.ExceptionHandlingTemplate"
                id="org.wso2.developerstudio.wizards.esb.exceptionHandlingTemplate">
        </wizard>
        <wizard
                name="XML To JSON Transformation"
                icon="icons/server.png"
                project="true"
                category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.templates"
                class="org.wso2.developerstudio.eclipse.esb.dashboard.templates.wizard.XmlToJsonTransformationTemplate"
                id="org.wso2.developerstudio.wizards.esb.xmlToJsonTransformationTemplate">
        </wizard>
        <wizard
                name="Sample Schduled Task"
                icon="icons/server.png"
                project="true"
                category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.templates"
                class="org.wso2.developerstudio.eclipse.esb.dashboard.templates.wizard.ScheduleTaskTeamplate"
                id="org.wso2.developerstudio.wizards.esb.scheduleTaskTeamplate">
        </wizard>
        <wizard
                name="Read Sales Force Accounts"
                icon="icons/server.png"
                project="true"
                category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.templates"
                class="org.wso2.developerstudio.eclipse.esb.dashboard.templates.wizard.ReadSalesforceAccountsTemplate"
                id="org.wso2.developerstudio.wizards.esb.readSalesforceAccountsTemplate">
        </wizard>
    </extension>
    <extension
            point="org.wso2.developerstudio.eclipse.template.dashboad.link">
        <wizardCategory category="org.wso2.developerstudio.templates"/>
        <category id="dashboard.category.esb.template" showTitle="false"
                  title="ESB_Templates"
                  priority="1">
        </category>
        <wizardLink category="dashboard.category.esb.template" id="dashboard.wizardLink.esb.template.project"
                    wizard="org.wso2.developerstudio.wizards.esb.template"
                    description="Hello World Proxy Template"
                    image="icons/server.png">
        </wizardLink>
        <wizardLink category="dashboard.category.esb.template"
                    id="dashboard.wizardLink.esb.proxyingASoapService.project"
                    wizard="org.wso2.developerstudio.wizards.esb.proxyingASoapService"
                    description="Proxying a SOAP Service Template"
                    image="icons/server.png">
        </wizardLink>
        <wizardLink category="dashboard.category.esb.template" id="dashboard.wizardLink.esb.proxyingARESTAPI.project"
                    wizard="org.wso2.developerstudio.wizards.esb.proxyingARESTAPI"
                    description="Proxying a REST API Template"
                    image="icons/server.png">
        </wizardLink>
        <wizardLink category="dashboard.category.esb.template"
                    id="dashboard.wizardLink.esb.contentBasedRoutingTemplate.project"
                    wizard="org.wso2.developerstudio.wizards.esb.contentBasedRoutingTemplate"
                    description="Content Based Routing Template"
                    image="icons/server.png">
        </wizardLink>
        <wizardLink category="dashboard.category.esb.template"
                    id="dashboard.wizardLink.esb.headerBasedRoutingTemplate.project"
                    wizard="org.wso2.developerstudio.wizards.esb.headerBasedRoutingTemplate"
                    description="Header based Routing Template"
                    image="icons/server.png">
        </wizardLink>
        <wizardLink category="dashboard.category.esb.template"
                    id="dashboard.wizardLink.esb.messageFilteringTemplate.project"
                    wizard="org.wso2.developerstudio.wizards.esb.messageFilteringTemplate"
                    description="Message Filtering Template"
                    image="icons/server.png">
        </wizardLink>
        <wizardLink category="dashboard.category.esb.template" id="dashboard.wizardLink.esb.protocolSwitchingTemplate"
                    wizard="org.wso2.developerstudio.wizards.esb.protocolSwitchingTemplate"
                    description="Protocol Switching Template"
                    image="icons/server.png">
        </wizardLink>
        <wizardLink category="dashboard.category.esb.template" id="dashboard.wizardLink.esb.scatterGatherTemplate"
                    wizard="org.wso2.developerstudio.wizards.esb.scatterGatherTemplate"
                    description="Scatter Gather Integration Pattern Template"
                    image="icons/server.png">
        </wizardLink>
        <wizardLink category="dashboard.category.esb.template" id="dashboard.wizardLink.esb.fileTransferTeamplate"
                    wizard="org.wso2.developerstudio.wizards.esb.fileTransferTeamplate"
                    description="File Transfer Template"
                    image="icons/server.png">
        </wizardLink>
        <wizardLink category="dashboard.category.esb.template" id="dashboard.wizardLink.esb.guaranteedDeliveryTemplate"
                    wizard="org.wso2.developerstudio.wizards.esb.guaranteedDeliveryTemplate"
                    description="Guranteed Delivery Template"
                    image="icons/server.png">
        </wizardLink>
        <wizardLink category="dashboard.category.esb.template" id="dashboard.wizardLink.esb.restToSoapTemplate"
                    wizard="org.wso2.developerstudio.wizards.esb.restToSoapTemplate"
                    description="REST to SOAP Conversion Template"
                    image="icons/server.png">
        </wizardLink>
        <wizardLink category="dashboard.category.esb.template" id="dashboard.wizardLink.esb.exceptionHandlingTemplate"
                    wizard="org.wso2.developerstudio.wizards.esb.exceptionHandlingTemplate"
                    description="Exception Handling Template"
                    image="icons/server.png">
        </wizardLink>
        <wizardLink category="dashboard.category.esb.template"
                    id="dashboard.wizardLink.esb.xmlToJsonTransformationTemplate"
                    wizard="org.wso2.developerstudio.wizards.esb.xmlToJsonTransformationTemplate"
                    description="XML to JSON Transformation template"
                    image="icons/server.png">
        </wizardLink>
        <wizardLink category="dashboard.category.esb.template" id="dashboard.wizardLink.esb.scheduleTaskTeamplate"
                    wizard="org.wso2.developerstudio.wizards.esb.scheduleTaskTeamplate"
                    description="Sample Schdule Task templates"
                    image="icons/server.png">
        </wizardLink>
        <wizardLink category="dashboard.category.esb.template"
                    id="dashboard.wizardLink.esb.readSalesforceAccountsTemplate"
                    wizard="org.wso2.developerstudio.wizards.esb.readSalesforceAccountsTemplate"
                    description="Read the SaleForce Accounts using Salesforce account Connector Template"
                    image="icons/server.png">
        </wizardLink>
        <wizardLink category="dashboard.category.esb.template" id="dashboard.wizardLink.esb.dataPolling.project"
                    wizard="org.wso2.developerstudio.wizards.esb.dataPolling"
                    description="Data Base Polling"
                    image="icons/server.png">
        </wizardLink>
    </extension>
</plugin>
