<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension point="org.eclipse.ui.newWizards">
		<wizard name="Mediator Project" 
			category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.eclipse.extensions/org.wso2.developerstudio.eclipse.extensions.project.types"
			class="org.wso2.developerstudio.eclipse.artifact.mediator.ui.wizard.CustomMediatorCreationWizard"
			wizardManifest="project_wizard.xml"
			id="org.wso2.developerstudio.eclipse.artifact.newmediatorartifact"
			project="true" icon="icons/new-mediator-16x16.png">
			<description>Mediator Project</description>
		</wizard>
	</extension>
	 <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="jbs.eclipse.contribution.hello.action.ActionHello"
            nameFilter="plugin.xml"
            objectClass="org.eclipse.jdt.core.IPackageFragment">
         <action
               class="jbs.eclipse.contribution.hello.action.ActionHello"
               enablesFor="1"
               id="jbs.eclipse.contribution.hello.action.ActionHello"
               label="Popup Action"
               />
      </objectContribution>
   </extension>
   <extension point="org.wso2.developerstudio.eclipse.capp.artifacts.provider">
    	<provider class="org.wso2.developerstudio.eclipse.artifact.mediator.project.export.MediatorProvider"
          nature="org.wso2.developerstudio.eclipse.artifact.mediator.project.nature"></provider>
   </extension>
	<extension point="org.eclipse.core.resources.natures"
		id="org.wso2.developerstudio.eclipse.artifact.mediator.project.nature" name="Mediator Project Nature">
		<runtime>
			<run
				class="org.wso2.developerstudio.eclipse.artifact.mediator.project.nature.CustomMediatorProjectNature">
			</run>
		</runtime>
	</extension>
	<extension point="org.eclipse.ui.ide.projectNatureImages">
		<image id="org.wso2.developerstudio.eclipse.custom.mediator.project.natureImage"
			natureId="org.wso2.developerstudio.eclipse.artifact.mediator.project.nature" icon="icons/new-mediator-12x12.png">
		</image>
	</extension>
	  <!--<extension point="org.eclipse.ui.navigator.navigatorContent">	
	   <navigatorContent activeByDefault="true"
			priority="high"
			id="org.eclipse.ui.navigator.resourceContent"
			name="test">
				<commonWizard 
					menuGroupId="2org.wso2.developerstudio.eclipse.artifact.esb"
			  	 	type="new"
					wizardId="org.wso2.developerstudio.eclipse.artifact.newmediatorartifact">
					<enablement>
						<or>
							<adapt type="org.eclipse.core.resources.IProject"/>
							<adapt type="org.eclipse.core.resources.IFolder"/>
						</or>
					</enablement>
				</commonWizard>
				<triggerPoints>
				           <or>         
				              <instanceof 
				                    value="org.eclipse.core.resources.IWorkspaceRoot" /> 
				              <instanceof
				                    value="org.eclipse.core.resources.IProject" />  
				              <instanceof  
				                     value="org.eclipse.core.resources.IFolder" /> 
				           </or>
				  </triggerPoints>
		</navigatorContent>
	</extension>-->
			<extension point="org.eclipse.ui.navigator.navigatorContent">    
            <commonWizard type="new"
                menuGroupId="2org.wso2.developerstudio.eclipse.artifact.esb"
                wizardId="org.wso2.developerstudio.eclipse.artifact.newmediatorartifact">
                <enablement>
                     <or>
                        <adapt type="org.eclipse.core.resources.IProject">
                            <test property="org.eclipse.core.resources.projectNature"
                                value="org.wso2.developerstudio.eclipse.mavenmultimodule.project.nature" />
                                </adapt>
                       <adapt type="org.eclipse.jdt.core.IPackageFragment">
							<test property="org.wso2.developerstudio.projectNature"
								value="org.wso2.developerstudio.eclipse.mavenmultimodule.project.nature" />
						</adapt>
                    </or>
                </enablement>
            </commonWizard>
    </extension>
   	   <extension
         point="org.wso2.developerstudio.eclipse.project.export.handler">
      <handler
            class="org.wso2.developerstudio.eclipse.artifact.mediator.project.export.MediatorExportHandler"
            id="org.wso2.developerstudio.eclipse.artifact.mediator.project.export.handler"
            type="lib/synapse/mediator">
      </handler>
   </extension>
   
   <extension point="org.wso2.developerstudio.eclipse.platform.core.intro.ui.dashboard">
   <wizardLink category="dashboard.category.esb" id="9dashboard.wizardLink.esb.mediator"
	wizard="org.wso2.developerstudio.eclipse.artifact.newmediatorartifact"
	priority="9">
</wizardLink>
</extension>
   
</plugin>
