<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
	Copyright 2009-2010 WSO2, Inc. (http://wso2.com)
	
	Licensed under the Apache License, Version 2.0 (the "License"); 
	you may not use this file except in compliance with the License.
	You may obtain a copy of the License at 
	
	http://www.apache.org/licenses/LICENSE-2.0 
	
	Unless required	by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS,
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	See the License for	the specific language governing permissions and
	limitations under the License.
-->
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package uri="http:///org/wso2/developerstudio/eclipse/esb"
			class="org.wso2.developerstudio.eclipse.esb.EsbPackage" genModel="model/esb.genmodel" />
	</extension>

	<extension point="org.eclipse.ui.newWizards">
		<category name="WSO2" id="org.wso2.developerstudio.eclipse.capp.project">
		</category>
		<category name="ESB" id="org.wso2.developerstudio.eclipse.esb"
			parentCategory="org.wso2.developerstudio.eclipse.capp.project">
		</category>
	</extension>

	<extension point="org.eclipse.emf.validation.constraintProviders">
		<category name="WSO2 ESB Model Constraints"
			id="org.wso2.developerstudio.eclipse.esb.ModelConstraintsCategory" mandatory="true"/>
		<constraintProvider cache="true">
			<package namespaceUri="http:///org/wso2/developerstudio/eclipse/esb" />
			<package namespaceUri="http:///org/wso2/developerstudio/eclipse/esb/mediators" />
			<constraints categories="org.wso2.developerstudio.eclipse.esb.ModelConstraintsCategory">
				<constraint lang="Java"
					class="org.wso2.developerstudio.eclipse.esb.constraint.MandatoryStringPropertyConstraint"
					severity="ERROR" mode="Live" name="Mandatory string properties"
					id="org.wso2.developerstudio.eclipse.esb.ModelConstraints.MandatoryStringPropertyConstraint"
					statusCode="1">
					<description>
						Mandatory string properties should not be assigned blank values.
					</description>
					<message>
						This property is mandatory and should not be left blank.
					</message>
					<target class="LogProperty">
						<event name="Set">
							<feature name="propertyName" />
							<feature name="propertyValue" />
						</event>						
					</target>					
					<target class="PropertyMediator">
						<event name="Set">
							<feature name="propertyName" />
							<feature name="valueLiteral" />
						</event>						
					</target>
					<target class="EventMediator">
						<event name="Set">
							<feature name="eventSourceName" />
						</event>						
					</target>
					<target class="EnrichMediator">
						<event name="Set">
							<feature name="sourceProperty" />
							<feature name="targetProperty" />
						</event>						
					</target>
					<target class="EnqueueMediator">
						<event name="Set">
							<feature name="executor" />
						</event>						
					</target>
					<target class="FilterMediator">
						<event name="Set">
							<feature name="filterRegex" />
						</event>											
					</target>
					<target class="SwitchCaseBranch">
						<event name="Set">
							<feature name="caseRegex" />
						</event>
					</target>
					<target class="ValidateFeature">
						<event name="Set">
							<feature name="featureName" />
						</event>
					</target>
					<target class="XSLTFeature">
						<event name="Set">
							<feature name="featureName" />
						</event>
					</target>
					<target class="XSLTProperty">
						<event name="Set">
							<feature name="propertyName" />
							<feature name="propertyValue" />
						</event>
					</target>
					<target class="XSLTResource">
						<event name="Set">
							<feature name="location" />
						</event>						
					</target>
					<target class="XQueryVariable">
						<event name="Set">
							<feature name="variableName" />
							<feature name="valueLiteral" />
						</event>						
					</target>
					<target class="HeaderMediator">
						<event name="Set">
							<feature name="valueLiteral" />
						</event>						
					</target>
					<target class="FaultMediator">
						<event name="Set">
							<feature name="faultStringValue" />
							<feature name="faultReasonValue" />
						</event>
					</target>
					<target class="ClassMediator">
						<event name="Set">
							<feature name="className" />
						</event>						
					</target>
					<target class="ClassProperty">
						<event name="Set">
							<feature name="propertyName" />
							<feature name="propertyValue" />
						</event>
					</target>
					<target class="CommandMediator">
						<event name="Set">
							<feature name="className" />
						</event>						
					</target>
					<target class="CommandProperty">
						<event name="Set">
							<feature name="propertyName" />
							<feature name="valueLiteral" />
							<feature name="valueContextPropertyName" />
						</event>
					</target>
					<target class="ScriptMediator">
						<event name="Set">
							<feature name="scriptBody" />
						</event>						
					</target>
					<target class="SpringMediator">
						<event name="Set">
							<feature name="beanName" />
						</event>						
					</target>
					<target class="CalloutMediator">
						<event name="Set">
							<feature name="serviceURL" />
							<feature name="resultContextProperty" />
						</event>						
					</target>
					<target class="ThrottleMediator">
						<event name="Set">
							<feature name="groupId" />
						</event>						
					</target>
					<target class="ThrottlePolicyEntry">
						<event name="Set">
							<feature name="throttleRange" />
						</event>						
					</target>
					<target class="EntitlementMediator">
						<event name="Set">
							<feature name="serverURL" />
							<feature name="username" />
							<feature name="password" />
						</event>						
					</target>
					<target class="RuleSetCreationProperty">
						<event name="Set">
							<feature name="propertyName" />
							<feature name="propertyValue" />
						</event>						
					</target>
					<target class="RuleSessionProperty">
						<event name="Set">
							<feature name="propertyName" />
							<feature name="propertyValue" />
						</event>						
					</target>
					<target class="RuleFact">
						<event name="Set">
							<feature name="factCustomType" />
							<feature name="factName" />
							<feature name="valueLiteral" />
						</event>						
					</target>
					<target class="RuleResult">
						<event name="Set">
							<feature name="resultCustomType" />
							<feature name="resultName" />
							<feature name="valueLiteral" />
						</event>						
					</target>
					<target class="AbstractSqlExecutorMediator">
						<event name="Set">
							<feature name="connectionDbDriver" />
							<feature name="connectionDsInitialContext" />
							<feature name="connectionDsName" />
							<feature name="connectionURL" />
							<feature name="connectionUsername" />
							<feature name="connectionPassword" />
						</event>						
					</target>
					<target class="SqlStatement">
						<event name="Set">
							<feature name="queryString" />
						</event>						
					</target>
					<target class="SqlParameterDefinition">
						<event name="Set">
							<feature name="valueLiteral" />
						</event>						
					</target>
					<target class="SqlResultMapping">
						<event name="Set">
							<feature name="propertyName" />
							<feature name="columnId" />
						</event>						
					</target>
					<target class="ProxyService">
						<event name="Set">
							<feature name="name" />
						</event>						
					</target>
					<target class="ProxyEndpointConfiguration">
						<event name="Set">
							<feature name="endpointName" />
						</event>						
					</target>
					<target class="AbstractProxySequenceConfiguration">
						<event name="Set">
							<feature name="sequenceName" />
						</event>						
					</target>
					<target class="ProxyServiceParameter">
						<event name="Set">
							<feature name="name" />
							<feature name="value" />
						</event>						
					</target>
					<target class="ProxyWsdlConfiguration">
						<event name="Set">
							<feature name="wsdlURL" />
						</event>											
					</target>
					<target class="ProxyWsdlResource">
						<event name="Set">
							<feature name="location" />
						</event>											
					</target>
					<target class="Task">
						<event name="Set">
							<feature name="TaskName" />
							<feature name="TaskGroup" />
							<feature name="Cron"/>
							<feature name="Interval"/>
						</event>											
					</target>
					<target class="TaskImplementation">
						<event name="Set">
							<feature name="TaskImplementation" />
						</event>											
					</target>
					<target class="EndPoint">
						<event name="Set">
							<feature name="endpointName" />
						</event>											
					</target>
					<target class="AddressEndPoint">
						<event name="Set">
							<feature name="uri" />
						</event>											
					</target>
					<target class="MediatorSequence">
						<event name="Set">
							<feature name="sequenceName" />
						</event>											
					</target>
					<target class="WsdlEndPoint">
						<event name="Set">
							<feature name="wsdlURI" />
							<feature name="service" />
							<feature name="port" />
						</event>											
					</target>
					<target class="DynamicLoadBalanceEndPoint">
						<event name="Set">
							<feature name="membershipHandlerClass" />
						</event>											
					</target>
					<target class="DynamicLoadBalanceProperty">
						<event name="Set">
							<feature name="propertyName" />
							<feature name="propertyValue" />
						</event>											
					</target>
					<target class="MessageBuilder">
						<event name="Set">
							<feature name="contentType" />
							<feature name="builderClass" />
						</event>											
					</target>
					<target class="LocalEntry">
						<event name="Set">
							<feature name="entryName" />
							<feature name="valueLiteral" />
							<feature name="valueURL" />
						</event>											
					</target>
					<target class="CallTemplateParameter">
						<event name="Set">
							<feature name="parameterName" />
							<feature name="parameterValue" />
						</event>						
					</target>
					<target class="PayloadFactoryArgument">
						<event name="Set">
							<feature name="argumentValue" />
						</event>						
					</target>
					<target class="PayloadFactoryMediator">
						<event name="Set">
							<feature name="format" />
						</event>						
					</target>
					<target class="StoreMediator">
						<event name="Set">
							<feature name="messageStore" />
						</event>						
					</target>
					<target class="CacheMediator">
						<event name="Set">
							<feature name="hashGenerator" />
						</event>						
					</target>
					<target class="URLRewriteRule">
						<event name="Set">
							<feature name="urlRewriteRuleCondition" />
						</event>						
					</target>	
					<target class="ConditionalRouteBranch">
						<event name="Set">
							<feature name="evaluatorExpression" />
						</event>						
					</target>
					<target class="SynapseAPI">
						<event name="Set">
							<feature name="apiName" />
							<feature name="context" />
						</event>											
					</target>
					<target class="ApiResource">
						<event name="Set">
							<feature name="uriTemplate" />
							<feature name="urlMapping" />
						</event>											
					</target>
					<target class="CallTemplateMediator">
						<event name="Set">
							<feature name="targetTemplate" />
						</event>											
					</target>	
				</constraint>
				<constraint lang="Java"
					class="org.wso2.developerstudio.eclipse.esb.constraint.MandatoryXmlStringPropertyConstraint"
					severity="ERROR" mode="Live" name="Mandatory xml string properties"
					id="org.wso2.developerstudio.eclipse.esb.ModelConstraints.MandatoryXmlStringPropertyConstraint"
					statusCode="1">
					<description>
						Mandatory XML string properties should always contain valid XML strings.
					</description>
					<message>
						This property can only contain valid XML strings.
					</message>
					<target class="PropertyMediator">
						<event name="Set">
							<feature name="valueOM" />
						</event>
					</target>
					<target class="EnrichMediator">
						<event name="Set">
							<feature name="sourceXML" />
						</event>											
					</target>
					<target class="RuleSetConfiguration">
						<event name="Set">
							<feature name="sourceCode" />
						</event>											
					</target>
					<target class="ProxyWsdlConfiguration">
						<event name="Set">
							<feature name="wsdlXML" />
						</event>											
					</target>			
					<target class="WsdlEndPoint">
						<event name="Set">
							<feature name="wsdlXML" />
						</event>											
					</target>
					<target class="LocalEntry">
						<event name="Set">							
							<feature name="valueXML" />
						</event>											
					</target>
					<target class="PayloadFactoryMediator">
						<event name="Set">
							<feature name="format" />
						</event>						
					</target>	
					<target class="URLRewriteRule">
						<event name="Set">
							<feature name="urlRewriteRuleCondition" />
						</event>						
					</target>
					<target class="ConditionalRouteBranch">
						<event name="Set">
							<feature name="evaluatorExpression" />
						</event>						
					</target>																
				</constraint>
				<constraint lang="Java"
					class="org.wso2.developerstudio.eclipse.esb.constraint.MandatoryNamespacedPropertyConstraint"
					severity="ERROR" mode="Live" name="Mandatory namespaced properties"
					id="org.wso2.developerstudio.eclipse.esb.ModelConstraints.MandatoryNamespacedPropertyConstraint"
					statusCode="1">
					<description>
						Mandatory namespaced properties should not be assigned blank values.
					</description>
					<message>
						This namespaced property is mandatory and should not be left blank.
					</message>
					<target class="XPathEndPointReference">
						<event name="Set">
							<feature name="endpointXpath" />
						</event>
					</target>					
					<target class="LogProperty">
						<event name="Set">
							<feature name="propertyExpression" />
						</event>
					</target>		
					<target class="PropertyMediator">
						<event name="Set">
							<feature name="valueExpression" />
						</event>						
					</target>
					<target class="EnrichMediator">
						<event name="Set">
							<feature name="sourceXpath" />
							<feature name="targetXpath" />
						</event>
					</target>
					<target class="FilterMediator">
						<event name="Set">
							<feature name="filterXpath" />
							<feature name="filterSource" />
						</event>
					</target>			
					<target class="SwitchMediator">
						<event name="Set">
							<feature name="sourceXpath" />
						</event>
					</target>
					<target class="RouterRoute">
						<event name="Set">
							<feature name="routeExpression" />
						</event>
					</target>
					<target class="XSLTProperty">
						<event name="Set">
							<feature name="propertyExpression" />
						</event>
					</target>
					<target class="XQueryVariable">
						<event name="Set">
							<feature name="valueExpression" />
						</event>						
					</target>
					<target class="HeaderMediator">
						<event name="Set">
							<feature name="headerName" />
							<feature name="valueExpression" />
						</event>	
					</target>	
					<target class="FaultMediator">
						<event name="Set">
							<feature name="faultStringExpression" />
							<feature name="faultReasonExpression" />
						</event>
					</target>	
					<target class="CommandProperty">
						<event name="Set">
							<feature name="valueMessageElementXpath" />
						</event>						
					</target>
					<target class="IterateMediator">
						<event name="Set">
							<feature name="iterateExpression" />
						</event>						
					</target>
					<target class="AggregateOnCompleteBranch">
						<event name="Set">
							<feature name="aggregationExpression" />
						</event>						
					</target>	
					<target class="CalloutMediator">
						<event name="Set">
							<feature name="payloadMessageXpath" />
							<feature name="resultMessageXpath" />
						</event>						
					</target>
					<target class="RMSequenceMediator">
						<event name="Set">
							<feature name="correlationXpath" />
						</event>						
					</target>
					<target class="RuleFact">
						<event name="Set">
							<feature name="valueExpression" />
						</event>						
					</target>	
					<target class="RuleResult">
						<event name="Set">
							<feature name="valueExpression" />
						</event>						
					</target>	
					<target class="SqlParameterDefinition">
						<event name="Set">
							<feature name="valueExpression" />
						</event>						
					</target>
					<target class="CallTemplateParameter">
						<event name="Set">
							<feature name="parameterExpression" />
						</event>						
					</target>
					<target class="PayloadFactoryArgument">
						<event name="Set">
							<feature name="argumentExpression" />
						</event>						
					</target>										
				</constraint>				
				<constraint lang="Java"
					class="org.wso2.developerstudio.eclipse.esb.constraint.MandatoryRegistryKeyPropertyConstraint"
					severity="ERROR" mode="Live" name="Mandatory registry key properties"
					id="org.wso2.developerstudio.eclipse.esb.ModelConstraints.MandatoryRegistryKeyPropertyConstraint"
					statusCode="1">
					<description>
						Mandatory registry key properties should not be assigned blank values.
					</description>
					<message>
						This registry key property is mandatory and should not be left blank.
					</message>
					<target class="EnqueueMediator">
						<event name="Set">
							<feature name="sequenceKey" />
						</event>						
					</target>
					<target class="SequenceMediator">
						<event name="Set">
							<feature name="sequenceKey" />
						</event>						
					</target>
					<target class="RouteTarget">
						<event name="Set">
							<feature name="sequenceKey" />
							<feature name="endpointKey" />
						</event>
					</target>
					<target class="ValidateSchema">
						<event name="Set">
							<feature name="schemaKey" />
						</event>						
					</target>
					<target class="XSLTMediator">
						<event name="Set">
							<feature name="xsltKey" />
						</event>						
					</target>
					<target class="XSLTResource">
						<event name="Set">
							<feature name="key" />
						</event>						
					</target>
					<target class="XQueryMediator">
						<event name="Set">
							<feature name="queryKey" />
						</event>						
					</target>
					<target class="ScriptMediator">
						<event name="Set">
							<feature name="scriptKey" />
						</event>						
					</target>
					<target class="SpringMediator">
						<event name="Set">
							<feature name="configurationKey" />
						</event>						
					</target>
					<target class="CacheOnHitBranch">
						<event name="Set">
							<feature name="sequenceKey" />
						</event>						
					</target>
					<target class="CloneTarget">
						<event name="Set">
							<feature name="sequenceKey"/>
							<feature name="endpointKey"/>
						</event>
					</target>	
					<target class="IterateTarget">
						<event name="Set">
							<feature name="sequenceKey" />
							<feature name="endpointKey" />
						</event>						
					</target>
					<target class="AggregateOnCompleteBranch">
						<event name="Set">
							<feature name="sequenceKey" />
						</event>						
					</target>			
					<target class="CalloutMediator">
						<event name="Set">
							<feature name="payloadRegistryKey" />
						</event>						
					</target>
					<target class="ThrottleOnAcceptBranch">
						<event name="Set">
							<feature name="sequenceKey" />
						</event>						
					</target>
					<target class="ThrottleOnRejectBranch">
						<event name="Set">
							<feature name="sequenceKey" />
						</event>						
					</target>
					<target class="ThrottlePolicyConfiguration">
						<event name="Set">
							<feature name="policyKey" />
						</event>						
					</target>	
					<target class="RuleSetConfiguration">
						<event name="Set">
							<feature name="sourceKey" />
						</event>											
					</target>	
					<target class="RuleFact">
						<event name="Set">
							<feature name="valueKey" />
						</event>						
					</target>
					<target class="RuleResult">
						<event name="Set">
							<feature name="valueKey" />
						</event>						
					</target>
					<target class="SmooksMediator">
						<event name="Set">
							<feature name="configurationKey" />
						</event>						
					</target>
					<target class="ProxyEndpointConfiguration">
						<event name="Set">
							<feature name="endpointKey" />
						</event>						
					</target>
					<target class="AbstractProxySequenceConfiguration">
						<event name="Set">
							<feature name="sequenceKey" />
						</event>						
					</target>
					<target class="ProxyServicePolicy">
						<event name="Set">
							<feature name="policyKey" />
						</event>						
					</target>	
					<target class="ProxyWsdlConfiguration">
						<event name="Set">
							<feature name="wsdlKey" />
						</event>											
					</target>
					<target class="ProxyWsdlResource">
						<event name="Set">
							<feature name="key" />
						</event>											
					</target>
					<target class="AbstractEndPoint">
						<event name="Set">
							<feature name="reliableMessagingPolicy" />
							<feature name="securityPolicy" />
						</event>											
					</target>	
					<target class="ConditionalRouteBranch">
						<event name="Set">
							<feature name="targetSequence" />
						</event>						
					</target>																													
				</constraint>
				<!--constraint lang="Java"
					class="org.wso2.developerstudio.eclipse.esb.constraint.MandatoryStringPropertyConstraint"
					severity="ERROR" mode="Batch" name="Mandatory string properties"
					id="org.wso2.developerstudio.eclipse.esb.ModelConstraints.batchvalidation.MandatoryStringPropertyConstraint"
					statusCode="1">
					<description>
						Mandatory string properties should not be assigned blank values.
					</description>
					<message>
						This property is mandatory and should not be left blank.
					</message>
					<target class="LogProperty">
						<event name="Set">
							<feature name="propertyName" />
							<feature name="propertyValue" />
						</event>						
					</target>					
					<target class="PropertyMediator">
						<event name="Set">
							<feature name="propertyName" />
							<feature name="valueLiteral" />
						</event>						
					</target>
					<target class="EventMediator">
						<event name="Set">
							<feature name="eventSourceName" />
						</event>						
					</target>
					<target class="EnrichMediator">
						<event name="Set">
							<feature name="sourceProperty" />
							<feature name="targetProperty" />
						</event>						
					</target>
					<target class="EnqueueMediator">
						<event name="Set">
							<feature name="executor" />
						</event>						
					</target>
					<target class="FilterMediator">
						<event name="Set">
							<feature name="filterRegex" />
						</event>											
					</target>
					<target class="SwitchCaseBranch">
						<event name="Set">
							<feature name="caseRegex" />
						</event>
					</target>
					<target class="ValidateFeature">
						<event name="Set">
							<feature name="featureName" />
						</event>
					</target>
					<target class="XSLTFeature">
						<event name="Set">
							<feature name="featureName" />
						</event>
					</target>
					<target class="XSLTProperty">
						<event name="Set">
							<feature name="propertyName" />
							<feature name="propertyValue" />
						</event>
					</target>
					<target class="XSLTResource">
						<event name="Set">
							<feature name="location" />
						</event>						
					</target>
					<target class="XQueryVariable">
						<event name="Set">
							<feature name="variableName" />
							<feature name="valueLiteral" />
						</event>						
					</target>
					<target class="HeaderMediator">
						<event name="Set">
							<feature name="valueLiteral" />
						</event>						
					</target>
					<target class="FaultMediator">
						<event name="Set">
							<feature name="faultStringValue" />
							<feature name="faultReasonValue" />
						</event>
					</target>
					<target class="ClassMediator">
						<event name="Set">
							<feature name="className" />
						</event>						
					</target>
					<target class="ClassProperty">
						<event name="Set">
							<feature name="propertyName" />
							<feature name="propertyValue" />
						</event>
					</target>
					<target class="CommandMediator">
						<event name="Set">
							<feature name="className" />
						</event>						
					</target>
					<target class="CommandProperty">
						<event name="Set">
							<feature name="propertyName" />
							<feature name="valueLiteral" />
							<feature name="valueContextPropertyName" />
						</event>
					</target>
					<target class="ScriptMediator">
						<event name="Set">
							<feature name="scriptBody" />
						</event>						
					</target>
					<target class="SpringMediator">
						<event name="Set">
							<feature name="beanName" />
						</event>						
					</target>
					<target class="CalloutMediator">
						<event name="Set">
							<feature name="serviceURL" />
							<feature name="resultContextProperty" />
						</event>						
					</target>
					<target class="ThrottleMediator">
						<event name="Set">
							<feature name="groupId" />
						</event>						
					</target>
					<target class="ThrottlePolicyEntry">
						<event name="Set">
							<feature name="throttleRange" />
						</event>						
					</target>
					<target class="EntitlementMediator">
						<event name="Set">
							<feature name="serverURL" />
							<feature name="username" />
							<feature name="password" />
						</event>						
					</target>
					<target class="RuleSetCreationProperty">
						<event name="Set">
							<feature name="propertyName" />
							<feature name="propertyValue" />
						</event>						
					</target>
					<target class="RuleSessionProperty">
						<event name="Set">
							<feature name="propertyName" />
							<feature name="propertyValue" />
						</event>						
					</target>
					<target class="RuleFact">
						<event name="Set">
							<feature name="factCustomType" />
							<feature name="factName" />
							<feature name="valueLiteral" />
						</event>						
					</target>
					<target class="RuleResult">
						<event name="Set">
							<feature name="resultCustomType" />
							<feature name="resultName" />
							<feature name="valueLiteral" />
						</event>						
					</target>
					<target class="AbstractSqlExecutorMediator">
						<event name="Set">
							<feature name="connectionDbDriver" />
							<feature name="connectionDsInitialContext" />
							<feature name="connectionDsName" />
							<feature name="connectionURL" />
							<feature name="connectionUsername" />
							<feature name="connectionPassword" />
						</event>						
					</target>
					<target class="SqlStatement">
						<event name="Set">
							<feature name="queryString" />
						</event>						
					</target>
					<target class="SqlParameterDefinition">
						<event name="Set">
							<feature name="valueLiteral" />
						</event>						
					</target>
					<target class="SqlResultMapping">
						<event name="Set">
							<feature name="propertyName" />
							<feature name="columnId" />
						</event>						
					</target>
					<target class="ProxyService">
						<event name="Set">
							<feature name="name" />
						</event>						
					</target>
					<target class="ProxyEndpointConfiguration">
						<event name="Set">
							<feature name="endpointName" />
						</event>						
					</target>
					<target class="AbstractProxySequenceConfiguration">
						<event name="Set">
							<feature name="sequenceName" />
						</event>						
					</target>
					<target class="ProxyServiceParameter">
						<event name="Set">
							<feature name="name" />
							<feature name="value" />
						</event>						
					</target>
					<target class="ProxyWsdlConfiguration">
						<event name="Set">
							<feature name="wsdlURL" />
						</event>											
					</target>
					<target class="ProxyWsdlResource">
						<event name="Set">
							<feature name="location" />
						</event>											
					</target>
					<target class="EndPoint">
						<event name="Set">
							<feature name="endpointName" />
						</event>											
					</target>
					<target class="AddressEndPoint">
						<event name="Set">
							<feature name="uri" />
						</event>											
					</target>
					<target class="MediatorSequence">
						<event name="Set">
							<feature name="sequenceName" />
						</event>											
					</target>
					<target class="WsdlEndPoint">
						<event name="Set">
							<feature name="wsdlURI" />
							<feature name="service" />
							<feature name="port" />
						</event>											
					</target>
					<target class="DynamicLoadBalanceEndPoint">
						<event name="Set">
							<feature name="membershipHandlerClass" />
						</event>											
					</target>
					<target class="DynamicLoadBalanceProperty">
						<event name="Set">
							<feature name="propertyName" />
							<feature name="propertyValue" />
						</event>											
					</target>
					<target class="MessageBuilder">
						<event name="Set">
							<feature name="contentType" />
							<feature name="builderClass" />
						</event>											
					</target>
					<target class="LocalEntry">
						<event name="Set">
							<feature name="entryName" />
							<feature name="valueLiteral" />
							<feature name="valueURL" />
						</event>											
					</target>
				</constraint>
				<constraint lang="Java"
					class="org.wso2.developerstudio.eclipse.esb.constraint.MandatoryXmlStringPropertyConstraint"
					severity="ERROR" mode="Batch" name="Mandatory xml string properties"
					id="org.wso2.developerstudio.eclipse.esb.ModelConstraints.batchvalidation.MandatoryXmlStringPropertyConstraint"
					statusCode="1">
					<description>
						Mandatory XML string properties should always contain valid XML strings.
					</description>
					<message>
						This property can only contain valid XML strings.
					</message>
					<target class="PropertyMediator">
						<event name="Set">
							<feature name="valueOM" />
						</event>
					</target>
					<target class="EnrichMediator">
						<event name="Set">
							<feature name="sourceXML" />
						</event>											
					</target>
					<target class="RuleSetConfiguration">
						<event name="Set">
							<feature name="sourceCode" />
						</event>											
					</target>
					<target class="ProxyWsdlConfiguration">
						<event name="Set">
							<feature name="wsdlXML" />
						</event>											
					</target>			
					<target class="WsdlEndPoint">
						<event name="Set">
							<feature name="wsdlXML" />
						</event>											
					</target>
					<target class="LocalEntry">
						<event name="Set">							
							<feature name="valueXML" />
						</event>											
					</target>															
				</constraint>
				<constraint lang="Java"
					class="org.wso2.developerstudio.eclipse.esb.constraint.MandatoryNamespacedPropertyConstraint"
					severity="ERROR" mode="Batch" name="Mandatory namespaced properties"
					id="org.wso2.developerstudio.eclipse.esb.ModelConstraints.batchvalidation.MandatoryNamespacedPropertyConstraint"
					statusCode="1">
					<description>
						Mandatory namespaced properties should not be assigned blank values.
					</description>
					<message>
						This namespaced property is mandatory and should not be left blank.
					</message>
					<target class="XPathEndPointReference">
						<event name="Set">
							<feature name="endpointXpath" />
						</event>
					</target>					
					<target class="LogProperty">
						<event name="Set">
							<feature name="propertyExpression" />
						</event>
					</target>		
					<target class="PropertyMediator">
						<event name="Set">
							<feature name="valueExpression" />
						</event>						
					</target>
					<target class="EnrichMediator">
						<event name="Set">
							<feature name="sourceXpath" />
							<feature name="targetXpath" />
						</event>
					</target>
					<target class="FilterMediator">
						<event name="Set">
							<feature name="filterXpath" />
							<feature name="filterSource" />
						</event>
					</target>			
					<target class="SwitchMediator">
						<event name="Set">
							<feature name="sourceXpath" />
						</event>
					</target>
					<target class="RouterRoute">
						<event name="Set">
							<feature name="routeExpression" />
						</event>
					</target>
					<target class="XSLTProperty">
						<event name="Set">
							<feature name="propertyExpression" />
						</event>
					</target>
					<target class="XQueryVariable">
						<event name="Set">
							<feature name="valueExpression" />
						</event>						
					</target>
					<target class="HeaderMediator">
						<event name="Set">
							<feature name="headerName" />
							<feature name="valueExpression" />
						</event>	
					</target>	
					<target class="FaultMediator">
						<event name="Set">
							<feature name="faultStringExpression" />
							<feature name="faultReasonExpression" />
						</event>
					</target>	
					<target class="CommandProperty">
						<event name="Set">
							<feature name="valueMessageElementXpath" />
						</event>						
					</target>
					<target class="IterateMediator">
						<event name="Set">
							<feature name="iterateExpression" />
						</event>						
					</target>
					<target class="AggregateOnCompleteBranch">
						<event name="Set">
							<feature name="aggregationExpression" />
						</event>						
					</target>	
					<target class="CalloutMediator">
						<event name="Set">
							<feature name="payloadMessageXpath" />
							<feature name="resultMessageXpath" />
						</event>						
					</target>
					<target class="RMSequenceMediator">
						<event name="Set">
							<feature name="correlationXpath" />
						</event>						
					</target>
					<target class="RuleFact">
						<event name="Set">
							<feature name="valueExpression" />
						</event>						
					</target>	
					<target class="RuleResult">
						<event name="Set">
							<feature name="valueExpression" />
						</event>						
					</target>	
					<target class="SqlParameterDefinition">
						<event name="Set">
							<feature name="valueExpression" />
						</event>						
					</target>										
				</constraint>				
				<constraint lang="Java"
					class="org.wso2.developerstudio.eclipse.esb.constraint.MandatoryRegistryKeyPropertyConstraint"
					severity="ERROR" mode="Batch" name="Mandatory registry key properties"
					id="org.wso2.developerstudio.eclipse.esb.ModelConstraints.batchvalidation.MandatoryRegistryKeyPropertyConstraint"
					statusCode="1">
					<description>
						Mandatory registry key properties should not be assigned blank values.
					</description>
					<message>
						This registry key property is mandatory and should not be left blank.
					</message>
					<target class="EnqueueMediator">
						<event name="Set">
							<feature name="sequenceKey" />
						</event>						
					</target>
					<target class="SequenceMediator">
						<event name="Set">
							<feature name="sequenceKey" />
						</event>						
					</target>
					<target class="RouteTarget">
						<event name="Set">
							<feature name="sequenceKey" />
							<feature name="endpointKey" />
						</event>
					</target>
					<target class="ValidateSchema">
						<event name="Set">
							<feature name="schemaKey" />
						</event>						
					</target>
					<target class="XSLTMediator">
						<event name="Set">
							<feature name="xsltKey" />
						</event>						
					</target>
					<target class="XSLTResource">
						<event name="Set">
							<feature name="key" />
						</event>						
					</target>
					<target class="XQueryMediator">
						<event name="Set">
							<feature name="queryKey" />
						</event>						
					</target>
					<target class="ScriptMediator">
						<event name="Set">
							<feature name="scriptKey" />
						</event>						
					</target>
					<target class="SpringMediator">
						<event name="Set">
							<feature name="configurationKey" />
						</event>						
					</target>
					<target class="CacheOnHitBranch">
						<event name="Set">
							<feature name="sequenceKey" />
						</event>						
					</target>
					<target class="CloneTarget">
						<event name="Set">
							<feature name="sequenceKey"/>
							<feature name="endpointKey"/>
						</event>
					</target>	
					<target class="IterateTarget">
						<event name="Set">
							<feature name="sequenceKey" />
							<feature name="endpointKey" />
						</event>						
					</target>
					<target class="AggregateOnCompleteBranch">
						<event name="Set">
							<feature name="sequenceKey" />
						</event>						
					</target>			
					<target class="CalloutMediator">
						<event name="Set">
							<feature name="payloadRegistryKey" />
						</event>						
					</target>
					<target class="ThrottleOnAcceptBranch">
						<event name="Set">
							<feature name="sequenceKey" />
						</event>						
					</target>
					<target class="ThrottleOnRejectBranch">
						<event name="Set">
							<feature name="sequenceKey" />
						</event>						
					</target>
					<target class="ThrottlePolicyConfiguration">
						<event name="Set">
							<feature name="policyKey" />
						</event>						
					</target>	
					<target class="RuleSetConfiguration">
						<event name="Set">
							<feature name="sourceKey" />
						</event>											
					</target>	
					<target class="RuleFact">
						<event name="Set">
							<feature name="valueKey" />
						</event>						
					</target>
					<target class="RuleResult">
						<event name="Set">
							<feature name="valueKey" />
						</event>						
					</target>
					<target class="SmooksMediator">
						<event name="Set">
							<feature name="configurationKey" />
						</event>						
					</target>
					<target class="ProxyEndpointConfiguration">
						<event name="Set">
							<feature name="endpointKey" />
						</event>						
					</target>
					<target class="AbstractProxySequenceConfiguration">
						<event name="Set">
							<feature name="sequenceKey" />
						</event>						
					</target>
					<target class="ProxyServicePolicy">
						<event name="Set">
							<feature name="policyKey" />
						</event>						
					</target>	
					<target class="ProxyWsdlConfiguration">
						<event name="Set">
							<feature name="wsdlKey" />
						</event>											
					</target>
					<target class="ProxyWsdlResource">
						<event name="Set">
							<feature name="key" />
						</event>											
					</target>
					<target class="AbstractEndPoint">
						<event name="Set">
							<feature name="reliableMessagingPolicy" />
							<feature name="securityPolicy" />
						</event>											
					</target>																														
				</constraint-->
			</constraints>
		</constraintProvider>
	</extension>
	
	<extension point="org.eclipse.emf.validation.constraintBindings">
      <clientContext
            default="false"
            id="org.wso2.developerstudio.eclipse.esb.ModelConstraintsContext">
         <selector class="org.wso2.developerstudio.eclipse.esb.ValidationContextSelector"/>
      </clientContext>
      <binding
            context="org.wso2.developerstudio.eclipse.esb.ModelConstraintsContext"
            category="org.wso2.developerstudio.eclipse.esb.ModelConstraintsCategory"/>
   	</extension> 	
   	
   	<extension
         point="org.eclipse.emf.validation.ui.UIRegisteredClientContext">
      <clientContext id="org.wso2.developerstudio.eclipse.esb.ModelConstraintsContext"/>
   </extension>
    <extension
          point="org.wso2.developerstudio.eclipse.platform.core.artifacttemplates">
       <template
             file="resources/templates/sequences/sequence.xml"
             id="org.wso2.developerstudio.eclipse.esb.sequence"
             name="Sequence"
             mediaType="application/vnd.wso2.sequence"
             extension="xml">
       </template>
       <template
             file="resources/templates/endpoints/address_endpoint.xml"
             id="org.wso2.developerstudio.eclipse.esb.template.ep1"
             name="Address Endpoint"
             mediaType="application/vnd.wso2.esb.endpoint"
             extension="xml">
       </template>
        <template
             file="resources/templates/endpoints/http_endpoint.xml"
             id="org.wso2.developerstudio.eclipse.esb.template.ep8"
             name="HTTP Endpoint"
             mediaType="application/vnd.wso2.esb.endpoint"
             extension="xml">
       </template>
       <template
             file="resources/templates/endpoints/default_endpoint.xml"
             id="org.wso2.developerstudio.eclipse.esb.template.ep2"
             name="Default Endpoint"
             mediaType="application/vnd.wso2.esb.endpoint"
             extension="xml">
       </template>
       <template
             file="resources/templates/endpoints/wsdl_endpoint.xml"
             id="org.wso2.developerstudio.eclipse.esb.template.ep5"
             name="WSDL Endpoint"
             mediaType="application/vnd.wso2.esb.endpoint"
             extension="xml">
       </template>
       <template
             file="resources/templates/endpoints/fail_over_endpoint.xml"
             id="org.wso2.developerstudio.eclipse.esb.template.ep3"
             name="Fail Over Endpoint"
             mediaType="application/vnd.wso2.esb.endpoint"
             extension="xml">
       </template>
       <template
             file="resources/templates/endpoints/load_balance_endpoint.xml"
             id="org.wso2.developerstudio.eclipse.esb.template.ep4"
             name="Load Balance Endpoint"
             mediaType="application/vnd.wso2.esb.endpoint"
             extension="xml">
       </template>
       <template
             file="resources/templates/endpoints/recipientlist_endpoint.xml"
             id="org.wso2.developerstudio.eclipse.esb.template.ep6"
             name="Recipient List Endpoint"
             mediaType="application/vnd.wso2.esb.endpoint"
             extension="xml">
       </template>
       <template
             file="resources/templates/endpoints/template_endpoint.xml"
             id="org.wso2.developerstudio.eclipse.esb.template.ep7"
             name="Template Endpoint"
             mediaType="application/vnd.wso2.esb.endpoint"
             extension="xml">
       </template>
       <template
             file="resources/templates/smooks/smooks-config-template.xml"
             id="org.wso2.developerstudio.eclipse.esb.template.smooks"
             name="Smooks Configuration"
             mediaType="application/vnd+wso2.smooks"
             extension="xml">
       </template>
       <template
             file="resources/templates/proxyservices/pass-through-proxy.xml"
             id="org.wso2.developerstudio.eclipse.esb.proxy3"
             name="Pass Through Proxy"
             mediaType="application/vnd+wso2.proxyservice"
             extension="xml">
       </template>
       <template
             file="resources/templates/proxyservices/custom-proxy.xml"
             id="org.wso2.developerstudio.eclipse.esb.proxy6"
             name="Custom Proxy"
             mediaType="application/vnd+wso2.proxyservice"
             extension="xml">
       </template>
       <template
             file="resources/templates/proxyservices/transformer-proxy.xml"
             id="org.wso2.developerstudio.eclipse.esb.template.proxy1"
             name="Transformer Proxy"
             mediaType="application/vnd+wso2.proxyservice"
             extension="xml">
       </template>
       <template
             file="resources/templates/proxyservices/log-forward-proxy.xml"
             id="org.wso2.developerstudio.eclipse.esb.proxy2"
             name="Log Forward Proxy"
             mediaType="application/vnd+wso2.proxyservice"
             extension="xml">
       </template>
       <template
             file="resources/templates/proxyservices/wsdl-based-proxy.xml"
             id="org.wso2.developerstudio.eclipse.esb.proxy4"
             name="WSDL Based Proxy"
             mediaType="application/vnd+wso2.proxyservice"
             extension="xml">
       </template>
       <template
             file="resources/templates/proxyservices/secure-proxy.xml"
             id="org.wso2.developerstudio.eclipse.esb.proxy5"
             name="Secure Proxy"
             mediaType="application/vnd+wso2.proxyservice"
             extension="xml">
       </template>
       <template
             file="resources/templates/empty_css.css"
             id="org.wso2.developerstudio.eclipse.esb.template.css"
             name="CSS File"
             mediaType="text/css"
             extension="css">
       </template>
       <template
             file="resources/templates/empty_html_template.html"
             id="org.wso2.developerstudio.eclipse.esb.template.html"
             name="HTML File"
             mediaType="text/html"
             extension="html">
       </template>
       <template
             file="resources/templates/empty_java_script.js"
             id="org.wso2.developerstudio.eclipse.esb.template.js"
             name="JavaScript File"
             mediaType="application/javascript"
             extension="js">
       </template>
       <template
             file="resources/templates/empty_sql_script.sql"
             id="org.wso2.developerstudio.eclipse.esb.template.sql"
             name="SQL Script File"
             mediaType="text/x-sql"
             extension="sql">
       </template>
       <template
             file="resources/templates/NewStylesheet.xsl"
             id="org.wso2.developerstudio.eclipse.esb.template.xsl"
             name="XSL File"
             mediaType="application/xsl+xml"
             extension="xsl">
       </template>
       <template
             file="resources/templates/NewStylesheet.xslt"
             id="org.wso2.developerstudio.eclipse.esb.template.xslt"
             name="XSLT File"
             mediaType="application/xslt+xml"
             extension="xslt">
       </template>
       <template
             file="resources/templates/NewWSDLFile.wsdl"
             id="org.wso2.developerstudio.eclipse.esb.template.wsdl"
             name="WSDL File"
             mediaType="application/wsdl+xml"
             extension="wsdl">
       </template>
       
       <template
             file="resources/templates/sequence_template/sq_template.xml"
             id="org.wso2.developerstudio.eclipse.esb.template.sq_template"
             name="Sequence Template"
             mediaType="application/vnd.wso2.template"
             extension="xml">
       </template>
       <template
             file="resources/templates/endpoint_templates/Address.xml"
             id="org.wso2.developerstudio.eclipse.esb.template.endpoint_templates.Address"
             name="Address Endpoint Template"
             mediaType="application/vnd.wso2.template.endpoint"
             extension="xml">
       </template>
        <template
             file="resources/templates/endpoint_templates/default.xml"
             id="org.wso2.developerstudio.eclipse.esb.template.endpoint_templates.default"
             name="Default Endpoint Template"
             mediaType="application/vnd.wso2.template.endpoint"
             extension="xml">
       </template>
        <template
             file="resources/templates/endpoint_templates/wsdl.xml"
             id="org.wso2.developerstudio.eclipse.esb.template.endpoint_templates.wsdl"
             name="WSDL Endpoint Template"
             mediaType="application/vnd.wso2.template.endpoint"
             extension="xml">
       </template>
       <template
             file="resources/templates/endpoint_templates/http.xml"
             id="org.wso2.developerstudio.eclipse.esb.template.endpoint_templates.http"
             name="HTTP Endpoint Template"
             mediaType="application/vnd.wso2.template.endpoint"
             extension="xml">
       </template>       

    </extension>
</plugin>
