<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.wso2.developerstudio.eclipse.carbonserver.publisher" name="Module Publisher for Carbon Server" schema="schema/org.wso2.developerstudio.eclipse.carbonserver.publisher.exsd"/>
   <extension-point id="org.wso2.developerstudio.eclipse.carbonserver.monitor" name="Extention point to trigger when server states change" schema="schema/org.wso2.developerstudio.eclipse.carbonserver.monitor.exsd"/>
   <extension-point id="org.wso2.developerstudio.eclipse.carbonserver.base.register" name="WSAS Server Registration Extension Point" schema="schema/org.wso2.developerstudio.eclipse.carbonserver.base.register.exsd"/>
   <extension-point id="org.wso2.developerstudio.eclipse.carbonserver.base.serverProperties" name="serverProperties" schema="schema/org.wso2.developerstudio.eclipse.carbonserver.base.serverProperties.exsd"/>
   <extension
         point="org.wso2.developerstudio.eclipse.server.base.servermanager">
      <servermanager
            class="org.wso2.developerstudio.eclipse.carbonserver.base.manager.CarbonServerManager">
      </servermanager>
   </extension>
   	<extension point="org.eclipse.ui.startup">
		<startup class="org.wso2.developerstudio.eclipse.carbonserver.base.Initializer" />
	</extension>
	
	<!--Adding the pop up menu contributions-->
	<!--Property Tester-->
	<extension point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.wso2.developerstudio.eclipse.carbonserver.base.ui.actions.ServerModuleVisibilityPropertyTester"
            id="org.wso2.developerstudio.eclipse.server.propertytester"
            namespace="org.wso2.developerstudio.eclipse"
            properties="serverModuleVisibility"
            type="org.eclipse.wst.server.ui.IServerModule">
      </propertyTester>
      <propertyTester
            class="org.wso2.developerstudio.eclipse.carbonserver.base.ui.actions.ServerModuleEnablementPropertyTester"
            id="org.wso2.developerstudio.eclipse.server.propertytester"
            namespace="org.wso2.developerstudio.eclipse"
            properties="serverModuleEnablement"
            type="org.eclipse.wst.server.ui.IServerModule">
      </propertyTester>
	</extension>
	<!--Command-->
	<extension point="org.eclipse.ui.commands">
  		<command
        description="Reploy the module in the server"
        id="org.wso2.developerstudio.eclipse.server"
        name="Redeploy">
  		</command>
	</extension>
	<!--Handler-->
	<extension point="org.eclipse.ui.handlers">
  		<handler
        class="org.wso2.developerstudio.eclipse.carbonserver.base.ui.actions.ServerApplicationHandler"
        commandId="org.wso2.developerstudio.eclipse.server">
     <enabledWhen>
        <with variable="selection">
           <iterate
                 ifEmpty="false"
                 operator="and">
              <test
                    property="org.wso2.developerstudio.eclipse.serverModuleEnablement"
                    value="org.eclipse.wst.server.ui.IServerModule">
              </test>
           </iterate>
        </with>
     		</enabledWhen>
  		</handler>
	</extension>
	<!-- Menu-->
	<extension point="org.eclipse.ui.menus">
    <menuContribution locationURI="popup:org.eclipse.ui.popup.any?after=additions">
     <command
           commandId="org.wso2.developerstudio.eclipse.server"
           style="push">
        <visibleWhen checkEnabled="false">
            <with variable="activeMenuSelection">
               <iterate ifEmpty="false" operator="and">
                  <instanceof
                     value="org.eclipse.wst.server.ui.IServerModule">
                  </instanceof>
                  <and>
                  <test
                    property="org.wso2.developerstudio.eclipse.serverModuleVisibility"
                    value="org.eclipse.wst.server.ui.IServerModule">
              </test>                 
                  </and>
               </iterate>
           </with>
        </visibleWhen>
     </command>
  </menuContribution>
</extension>
   <extension
          point="org.wso2.developerstudio.create.dashbaord.section">
           <dashboard.section
             id="org.eclipse.wst.server.ui"
             nametag="AddServer"
             name="Add Server"
             bundleID="org.wso2.developerstudio.eclipse.carbonserver.base"
             icon="icons/server.png">
             </dashboard.section>
    </extension>
</plugin>
