<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.core.resources.natures"
		id="org.wso2.developerstudio.eclipse.integration.project.nature" name="Integration Project Nature">
		<runtime>
			<run
				class="org.wso2.developerstudio.eclipse.integration.project.nature.IntegrationProjectNature">
			</run>
		</runtime>
	</extension>
	<extension
          point="org.wso2.developerstudio.project.nature.provider">
           <projectnature id="org.wso2.developerstudio.eclipse.integration.project.nature"
              projectnature="org.wso2.developerstudio.eclipse.integration.project.nature"
              ismultipleartifact="true"
              iscappsupported="true">              
           </projectnature>
    </extension>
	<extension point="org.eclipse.ui.ide.projectNatureImages">
		<image id="org.wso2.developerstudio.eclipse.integration.project.natureImage"
			natureId="org.wso2.developerstudio.eclipse.integration.project.nature" icon="icons/esb-project-12.png">
		</image>
	</extension>
   <extension
         point="org.eclipse.ui.newWizards">
         <wizard name="Integration Project"
			category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.eclipse.message.mediation/org.wso2.developerstudio.eclipse.message.mediation.project.types"
			class="org.wso2.developerstudio.eclipse.integration.project.ui.wizard.IntegrationProjectWizard"
			id="org.wso2.developerstudio.eclipse.artifact.newintegrationproject"
			wizardManifest="project_wizard.xml"
			icon="icons/esb-project-12.png"
			project="true">
			<description>Integration Project</description>
		</wizard>
   </extension>
   <extension point="org.eclipse.ui.popupMenus">
	        <objectContribution objectClass="org.eclipse.core.resources.IProject" id="org.wso2.developerstudio.eclipse.esb.project.popup.importCloudConnector">
	               <action
	                        label="Add or Remove Connector"
	                        icon="icons/car.png"
	                   class="org.wso2.developerstudio.eclipse.esb.project.ui.action.ImportCloudConnectorAction"
	                        id="org.wso2.developerstudio.eclipse.esb.project.ui.action.cloudConnectorImport">
	               </action>
	               <enablement>
						<adapt type="org.eclipse.core.resources.IProject">
						 <or>
							<test property="org.eclipse.core.resources.projectNature"
								value="org.wso2.developerstudio.eclipse.integration.project.nature" />
		 				</or>
						</adapt>
				</enablement>
	          </objectContribution>     
	 </extension>
     <extension
        point="org.wso2.developerstudio.eclipse.capp.artifacts.provider">
          <provider
           class="org.wso2.developerstudio.eclipse.artifact.integration.project.exporter.IntegrationArtifactsProvider"
           nature="org.wso2.developerstudio.eclipse.integration.project.nature">
     </provider>
  </extension>
  <extension point="org.wso2.developerstudio.eclipse.dashboad.link">
      <category id="dashboard.category.esb" showTitle="true" title="Integration Project" priority="2" />
      <wizardLink category="dashboard.category.esb" id="1dashboard.wizardLink.integration.project" wizard="org.wso2.developerstudio.eclipse.artifact.newintegrationproject" priority="2"></wizardLink>
  </extension>
</plugin>
