<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2008/08/12 17:27:58 smoser Exp $
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.apache.org/ode/schemas/dd/2007/03" 
       class = "org.eclipse.bpel.apache.ode.deploy.model.dd.ddPackage"
       genModel = "model/odeDeploymentDescriptor.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.extension_parser">
    <parser 
       type="dd" 
       class="org.eclipse.bpel.apache.ode.deploy.model.dd.util.ddResourceFactoryImpl" />
  </extension>

</plugin>
