<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.ui.newWizards">
		<wizard name="JAX-RS Service Project" category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.eclipse.service.hosting/org.wso2.developerstudio.eclipse.service.hosting.project.types"
			class="org.wso2.developerstudio.eclipse.artifact.jaxrs.ui.wizard.JaxrsCreationWizard"
			wizardManifest="project_wizard.xml"
			id="org.wso2.developerstudio.eclipse.artifact.newjaxrsartifact"
			project="true" icon="icons/JAX-RS-16x16.png">
			<description>JAX-RS Web Service Project</description>
		</wizard>
	 </extension>
	  <extension point="org.wso2.developerstudio.eclipse.capp.artifacts.provider">
    	<provider class="org.wso2.developerstudio.eclipse.artifact.jaxrs.prject.export.JaxrsArtifactProvider"
          nature="org.wso2.developerstudio.eclipse.jaxrs.project.nature"></provider>
   </extension>
	 <extension point="org.eclipse.ui.newWizards">
		<wizard name="JAX-RS Service Class" category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.eclipse.service.hosting/org.wso2.developerstudio.eclipse.service.hosting.features"
			class="org.wso2.developerstudio.eclipse.artifact.jaxrs.ui.wizard.JaxrsClassWizard"
			id="org.wso2.developerstudio.eclipse.artifact.newjaxrsartifactClass"
			project="false" icon="icons/JAX-RS-16x16.png">
			<description>JAX-RS Service Class</description>
		</wizard>	
	</extension>
	<extension
		point="org.wso2.developerstudio.eclipse.platform.core.intro.ui.dashboard">
     <category id="dashboard.category.AS" showTitle="true"
			title="Web Applications and Service Artifacts"
			priority="9">
	</category>
	<wizardLink category="dashboard.category.AS"
			id="dashboard.wizardLink.AS.jax.rsProject"
			wizard="org.wso2.developerstudio.eclipse.artifact.newjaxrsartifact"
			priority="1">
	</wizardLink>
 </extension>
		
	<extension point="org.eclipse.core.resources.natures"
		id="org.wso2.developerstudio.eclipse.jaxrs.project.nature" name="JAX RESTful Service Project Nature">
		<runtime>
			<run
				class="org.wso2.developerstudio.eclipse.artifact.jaxrs.project.nature.JaxrsProjectNature">
			</run>
		</runtime>
	</extension>
	<extension point="org.eclipse.ui.ide.projectNatureImages">
		<image id="org.wso2.developerstudio.eclipse.jaxrs.project.natureImage"
			natureId="org.wso2.developerstudio.eclipse.jaxrs.project.nature" icon="icons/JAX-RS-12x12.png">
		</image>
	</extension>
	  <!--<extension point="org.eclipse.ui.navigator.navigatorContent">	
	   <navigatorContent activeByDefault="true"
			priority="high"
			id="org.eclipse.ui.navigator.resourceContent"
			name="test">
				<commonWizard 
					menuGroupId="1org.wso2.developerstudio.eclipse.artifact.webservice"
			  	 	type="new"
					wizardId="org.wso2.developerstudio.eclipse.artifact.newjaxrsartifact">
					<enablement>
						<or>
							<adapt type="org.eclipse.core.resources.IProject"/>
							<adapt type="org.eclipse.core.resources.IFolder"/>
						</or>
					</enablement>
				</commonWizard>
				  <triggerPoints>
				           <or>         
				              <instanceof 
				                    value="org.eclipse.core.resources.IWorkspaceRoot" /> 
				              <instanceof
				                    value="org.eclipse.core.resources.IProject" />  
				              <instanceof  
				                     value="org.eclipse.core.resources.IFolder" /> 
				           </or>
				  </triggerPoints>
		</navigatorContent>
	  </extension>-->
		<extension point="org.eclipse.ui.navigator.navigatorContent">    
            <commonWizard type="new"
                menuGroupId="1org.wso2.developerstudio.eclipse.artifact.webservice"
                wizardId="org.wso2.developerstudio.eclipse.artifact.newjaxrsartifact">
                <enablement>
                    <or>
                        <adapt type="org.eclipse.core.resources.IProject">
                            <test property="org.eclipse.core.resources.projectNature"
                                value="org.wso2.developerstudio.eclipse.mavenmultimodule.project.nature" />
                                </adapt>
                       <adapt type="org.eclipse.jdt.core.IPackageFragment">
							<test property="org.wso2.developerstudio.projectNature"
								value="org.wso2.developerstudio.eclipse.mavenmultimodule.project.nature" />
						</adapt>
                    </or>
                </enablement>
            </commonWizard>
    </extension>
   	 <extension point="org.eclipse.ui.navigator.navigatorContent">	
			<commonWizard type="new"
			    menuGroupId="2org.wso2.developerstudio.eclipse.artifact.webservice2"
				wizardId="org.wso2.developerstudio.eclipse.artifact.newjaxrsartifactClass">
				<enablement>
					<or>
						<adapt type="org.eclipse.core.resources.IProject">
							<test property="org.eclipse.core.resources.projectNature"
								value="org.wso2.developerstudio.eclipse.jaxrs.project.nature" />
						</adapt>
						<adapt type="org.eclipse.jdt.core.IPackageFragment">
							<test property="org.wso2.developerstudio.projectNature"
								value="org.wso2.developerstudio.eclipse.jaxrs.project.nature" />
						</adapt>
					</or>
				</enablement>
			</commonWizard>
	</extension>
</plugin>
