<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.newWizards">
		<wizard name="Composite Application Project" 
			category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.eclipse.capp.distribution"
			class="org.wso2.developerstudio.eclipse.distribution.project.ui.wizard.DistributionProjectWizard"
            finalPerspective="org.eclipse.jst.j2ee.J2EEPerspective"
			id="org.wso2.developerstudio.eclipse.distribution.project"
			wizardManifest="project_wizard.xml"
			icon="icons/distribution-project-12.png"
			project="true">
			<description>Composite Application Project</description>
		</wizard>
   </extension>
   
   <extension point="org.eclipse.ui.newWizards">
		<primaryWizard id="org.wso2.developerstudio.eclipse.distribution.project" />
	</extension>
   	<extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension targetID="*">
      		<newWizardShortcut id="org.wso2.developerstudio.eclipse.distribution.project"/>
		</perspectiveExtension>
	</extension>	
   
   <extension point="org.eclipse.core.resources.natures"
		id="org.wso2.developerstudio.eclipse.distribution.project.nature" name="Composite Application Project Nature">
		<runtime>
			<run
				class="org.wso2.developerstudio.eclipse.distribution.project.nature.DistributionProjectNature">
			</run>
		</runtime>
	</extension>
	<extension point="org.eclipse.ui.ide.projectNatureImages">
		<image id="org.wso2.developerstudio.eclipse.dist.project.natureImage"
			natureId="org.wso2.developerstudio.eclipse.distribution.project.nature" icon="icons/distribution-project-12.png">
		</image>
	</extension>
	   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.wso2.developerstudio.eclipse.distribution.project.editor.DistProjectEditor"
            id="org.wso2.developerstudio.eclipse.distribution.project.editor.DistProjectEditor"
            extensions="xml"
            name="Composite Application Project POM Editor">
            <contentTypeBinding
				contentTypeId="org.wso2.developerstudio.eclipse.distribution.project.contenttype.pom">
			</contentTypeBinding>
      </editor>
   </extension>
   <extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type base-type="org.eclipse.core.runtime.xml"
			id="org.wso2.developerstudio.eclipse.distribution.project.contenttype.pom"
			name="C-App POM File" priority="high" file-names="pom.xml">
			<describer
				class="org.wso2.developerstudio.eclipse.distribution.project.util.POMDescriber">
			</describer>
		</content-type>
	</extension>
	
	<extension point="org.eclipse.ui.navigator.viewer" id="capp-navigator-viewbinding">
      	<viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         	<includes>
            	<actionExtension pattern="org.wso2.developerstudio.eclipse.distribution.project.navigatorActionProvider"/>
         	</includes>
      	</viewerActionBinding>
      	<viewerActionBinding viewerId="org.eclipse.ui.navigator.PackageExplorer">
         	<includes>
            	<actionExtension pattern="org.wso2.developerstudio.eclipse.distribution.project.navigatorActionProvider"/>
         	</includes>
      	</viewerActionBinding>
	</extension>


	<extension point="org.eclipse.ui.navigator.navigatorContent">  
        <actionProvider
             class="org.wso2.developerstudio.eclipse.distribution.project.provider.NavigatorActionProvider"
             id="org.wso2.developerstudio.eclipse.distribution.project.navigatorActionProvider"> 
			<enablement>
     			<adapt type="org.eclipse.core.resources.IFile" /> 
          	</enablement>
  		</actionProvider>
	</extension>
	
	
	<extension point="org.eclipse.ui.exportWizards">
		<category id="org.wso2.developerstudio.eclipse.distribution.export"
			name="WSO2 Platform Distribution" />
	</extension>
		<extension point="org.eclipse.ui.exportWizards">
		<wizard id="org.wso2.developerstudio.eclipse.distribution.exportAsCar" name="Composite Application Archive [CAR]"
			class="org.wso2.developerstudio.eclipse.distribution.project.ui.wizard.DistributionProjectExportWizard" icon="icons/car.png"
			category="org.wso2.developerstudio.eclipse.distribution.export">
			<description>
				Create a carbon application archive from a carbon application project 
			</description>
			<selection class="org.eclipse.core.resources.IProject" />
		</wizard>
	</extension>
	
	        <extension point="org.eclipse.ui.popupMenus">
                <objectContribution
              objectClass="org.eclipse.core.resources.IProject"
                    id="org.wso2.developerstudio.eclipse.distribution.project.popup.export">
               <action
                        label="Export Composite Application Project"
                        icon="icons/car.png"
                   class="org.wso2.developerstudio.eclipse.distribution.project.ui.action.ExportDistributionAction"
                        id="org.wso2.developerstudio.eclipse.distribution.project.ui.action.export">
               </action>
               <enablement>
						<adapt type="org.eclipse.core.resources.IProject">
							<test property="org.eclipse.core.resources.projectNature"
								value="org.wso2.developerstudio.eclipse.distribution.project.nature" />
						</adapt>
				</enablement>
               </objectContribution>
        </extension>
         <extension
               point="org.wso2.developerstudio.eclipse.project.export.handler">
            <handler
                  class="org.wso2.developerstudio.eclipse.distribution.project.export.CarExportHandler"
                  id="org.wso2.developerstudio.eclipse.distribution.project.export.handler"
                  type="carbon/application">
            </handler>
         </extension>
        
		<extension point="org.eclipse.ui.exportWizards">
		<wizard id="org.wso2.developerstudio.eclipse.distribution.exportAsArtifact" name="Deployable WSO2 Archive"
			class="org.wso2.developerstudio.eclipse.distribution.project.ui.wizard.ProjectExportWizard" icon="icons/car.png"
			category="org.wso2.developerstudio.eclipse.distribution.export">
			<description>
				Create a deployable archive from a artifact project 
			</description>
			<selection class="org.eclipse.core.resources.IProject" />
		</wizard>
	</extension>
	
	<extension point="org.eclipse.ui.importWizards">
		<category id="org.wso2.developerstudio.eclipse.import"
			name="WSO2" />
	</extension>
	
	
	<extension point="org.eclipse.ui.importWizards">
		<wizard id="org.wso2.developerstudio.eclipse.distribution.exportAsArtifact" name="Existing WSO2 Projects into workspace"
			class="org.wso2.developerstudio.eclipse.distribution.project.ui.wizard.ProjectImportWizard" icon="icons/car.png"
			category="org.wso2.developerstudio.eclipse.import">
			<description>
				Existing WSO2 Projects into workspace
			</description>
			<selection class="org.eclipse.core.resources.IResource" />
		</wizard>
	</extension>
	
		        <extension point="org.eclipse.ui.popupMenus">
                <objectContribution
              objectClass="org.eclipse.core.resources.IProject"
                    id="org.wso2.developerstudio.eclipse.distribution.project.popup.export">
               <action
                        label="Export Project as Deployable Archive"
                        icon="icons/car.png"
                   class="org.wso2.developerstudio.eclipse.distribution.project.ui.action.ExportProjectAction"
                        id="org.wso2.developerstudio.eclipse.distribution.project.ui.action.artifactexport">
               </action>
               <enablement>
						<adapt type="org.eclipse.core.resources.IProject">
						 <or>
							<test property="org.eclipse.core.resources.projectNature"
								value="org.wso2.developerstudio.eclipse.axis2.project.nature" />
							<test property="org.eclipse.core.resources.projectNature"
								value="org.eclipse.php.core.JAGNature" />
							<test property="org.eclipse.core.resources.projectNature"
								value="org.wso2.developerstudio.eclipse.jaxws.project.nature" />
							<test property="org.eclipse.core.resources.projectNature"
								value="org.wso2.developerstudio.eclipse.bpel.project.nature" />
							<test property="org.eclipse.core.resources.projectNature"
								value="org.wso2.developerstudio.eclipse.artifact.ds.validator.project.nature" />
							<test property="org.eclipse.core.resources.projectNature"
								value="org.wso2.developerstudio.eclipse.webapp.project.nature" />
							<test property="org.eclipse.core.resources.projectNature"
								value="org.wso2.developerstudio.eclipse.esb.project.nature" />
							<test property="org.eclipse.core.resources.projectNature"
								value="org.wso2.developerstudio.eclipse.artifact.gadget.project.nature" />
							<test property="org.eclipse.core.resources.projectNature"
								value="org.wso2.developerstudio.eclipse.library.project.nature" />
							<test property="org.eclipse.core.resources.projectNature"
								value="org.wso2.developerstudio.eclipse.artifact.mediator.project.nature" />
							<test property="org.eclipse.core.resources.projectNature"
								value="org.wso2.developerstudio.eclipse.registry.filter.project.nature" />
							<test property="org.eclipse.core.resources.projectNature"
								value="org.wso2.developerstudio.eclipse.artifact.carbon.ui.bundle.project.nature" />
							<test property="org.eclipse.core.resources.projectNature"
								value="org.wso2.developerstudio.eclipse.registry.handler.project.nature" />
							<test property="org.eclipse.core.resources.projectNature"
								value="org.wso2.developerstudio.eclipse.jaxrs.project.nature" />
						    <!-- <test property="org.eclipse.core.resources.projectNature"
								value="org.wso2.developerstudio.eclipse.qos.project.nature" /> -->
		 				</or>
						</adapt>
				</enablement>
               </objectContribution>
        </extension>
         <!--<extension
               point="org.wso2.developerstudio.eclipse.project.export.handler">
            <handler
                  class="org.wso2.developerstudio.eclipse.distribution.project.export.CarExportHandler"
                  id="org.wso2.developerstudio.eclipse.distribution.project.export.handler"
                  type="carbon/application">
            </handler>
         </extension>-->
         
          <extension
       point="org.wso2.developerstudio.eclipse.carbonserver.publisher">
    <publisher
          class="org.wso2.developerstudio.eclipse.distribution.project.publisher.CAppProjectPublisher"
          id="org.wso2.developerstudio.eclipse.capp.project.publisher30"
          serverid="org.wso2.developerstudio.eclipse.carbon.server30">
    </publisher>
    <publisher
          class="org.wso2.developerstudio.eclipse.distribution.project.publisher.CAppProjectPublisher"
          id="org.wso2.developerstudio.eclipse.capp.project.publisher31"
          serverid="org.wso2.developerstudio.eclipse.carbon.server31">
    </publisher>
    <publisher
          class="org.wso2.developerstudio.eclipse.distribution.project.publisher.CAppProjectPublisher"
          id="org.wso2.developerstudio.eclipse.capp.project.publisher32"
          serverid="org.wso2.developerstudio.eclipse.carbon.server32">
    </publisher>
    <publisher
          class="org.wso2.developerstudio.eclipse.distribution.project.publisher.CAppProjectPublisher"
          id="org.wso2.developerstudio.eclipse.capp.project.publisher40"
          serverid="org.wso2.developerstudio.eclipse.carbon.server40">
    </publisher>
    <publisher
          class="org.wso2.developerstudio.eclipse.distribution.project.publisher.CAppProjectPublisher"
          id="org.wso2.developerstudio.eclipse.capp.project.publisher42"
          serverid="org.wso2.developerstudio.eclipse.carbon.server42">
    </publisher>
	<publisher
          class="org.wso2.developerstudio.eclipse.distribution.project.publisher.CAppProjectRemotePublisher"
          id="org.wso2.developerstudio.eclipse.capp.project.publisher.remote"
          serverid="org.wso2.developerstudio.eclipse.carbon.server.remote">          
    </publisher>
 </extension>
</plugin>
