<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
         <wizard name="Registry Resource" category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.eclipse.repository"
			class="org.wso2.developerstudio.eclipse.artifact.registry.ui.wizard.RegistryResourceCreationWizard"
			wizardManifest="project_wizard.xml"
			id="org.wso2.developerstudio.eclipse.artifact.newregistryresource"
			icon="icons/registry-artifact-16x16.png">
			<description>Registry Resource</description>
		</wizard>
   </extension>
    <extension point="org.eclipse.ui.navigator.navigatorContent">	
	   <navigatorContent activeByDefault="true"
			priority="high"
			id="org.eclipse.ui.navigator.resourceContent"
			name="test">
				<commonWizard 
					menuGroupId="5org.wso2.developerstudio.eclipse.artifact.newregistryresource"
			  	 	type="new"
					wizardId="org.wso2.developerstudio.eclipse.artifact.newregistryresource">
					<enablement>
						<or>
							<adapt type="org.eclipse.core.resources.IProject"/>
							<adapt type="org.eclipse.core.resources.IFolder"/>
						</or>
					</enablement>
				</commonWizard>
				<triggerPoints>
				           <or>         
				              <instanceof 
				                    value="org.eclipse.core.resources.IWorkspaceRoot" /> 
				              <instanceof
				                    value="org.eclipse.core.resources.IProject" />  
				              <instanceof  
				                     value="org.eclipse.core.resources.IFolder" /> 
				           </or>
				  </triggerPoints>
		</navigatorContent>
	  </extension>
    <extension
          point="org.wso2.developerstudio.eclipse.project.export.handler">
       <handler
             class="org.wso2.developerstudio.eclipse.artifact.registry.project.export.RegistryArtifactHandler"
             id="org.wso2.developerstudio.eclipse.artifact.registry.project.export.registry.handler"
             type="registry/resource">
       </handler>
    </extension>
        
    <extension
         point="org.wso2.developerstudio.eclipse.greg.resourceProvider">
      <provider
            class="org.wso2.developerstudio.eclipse.artifact.registry.provider.RegistryResourceProvider"
            id="org.wso2.developerstudio.eclipse.capp.artifact.registry.provider"
            name="Carbon Application Registry Resources">
      </provider>
   </extension>
   <extension point="org.eclipse.ui.popupMenus">
                <objectContribution
                       objectClass="org.eclipse.core.resources.IProject"
                       id="org.wso2.developerstudio.eclipse.artifact.registry.editor.object">
                 <action
                     label="Registry Resources Editor"
                     icon="icons/resource.png"
                   class="org.wso2.developerstudio.eclipse.artifact.registry.ui.actions.ResourceEditorAction"
                        id="org.wso2.developerstudio.eclipse.artifact.registry.ui.actions">
               </action>
               <enablement>
						<adapt type="org.eclipse.core.resources.IProject">
							<test property="org.eclipse.core.resources.projectNature"
								value="org.wso2.developerstudio.eclipse.general.project.nature" />
						</adapt>
				</enablement>
               </objectContribution>
        </extension>
   	   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.wso2.developerstudio.eclipse.artifact.registry.editor.ResourceFormEditor"
            id="org.wso2.developerstudio.eclipse.artifact.registry.editor"
            extensions="xml"
            name="Resources Editor">
      </editor>
   </extension>
   
   	<extension point="org.eclipse.ui.navigator.navigatorContent">
		<navigatorContent 
            id="org.wso2.developerstudio.eclipse.artifact.registry.navigator" 
            name="Registry resources"
            contentProvider="org.wso2.developerstudio.eclipse.artifact.registry.provider.ResourcesContentProvider"
            labelProvider="org.wso2.developerstudio.eclipse.artifact.registry.provider.ResourcesLabelProvider" 
            activeByDefault="true"
            icon="icons/registry_nav.png"
            priority="normal" >
         <triggerPoints>
         	<and>
         	   <instanceof
                        value="org.eclipse.core.resources.IProject">
                  </instanceof>
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="org.wso2.developerstudio.eclipse.general.project.nature">
                  </test>
			</and>
         </triggerPoints>
         <actionProvider class="org.wso2.developerstudio.eclipse.artifact.registry.provider.ResourceActionProvider"/>
         <possibleChildren>
            <or>
               <instanceof value="org.wso2.developerstudio.eclipse.artifact.registry.provider.NavigatorNode"/> 
            </or>
         </possibleChildren>
      </navigatorContent>
	</extension>
	
     <extension point="org.eclipse.ui.navigator.navigatorContent">
		<commonFilter
			class="org.wso2.developerstudio.eclipse.artifact.registry.filter.ArtifactResourceFilter"
			description="Hide Artifact.xml files."
			id="org.wso2.developerstudio.eclipse.artifact.registry.navigator.filter"
			name="Hide Artifact.xml files" activeByDefault="true"/>
	</extension>
	
		<extension
			point="org.eclipse.ui.navigator.viewer">
		<viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
			<includes>
				<contentExtension pattern="org.wso2.developerstudio.eclipse.artifact.registry.navigator.filter*" />	
			</includes>
		</viewerContentBinding>
		<viewerContentBinding viewerId="org.eclipse.ui.navigator.PackageExplorer">
			<includes>
				<contentExtension pattern="org.wso2.developerstudio.eclipse.artifact.registry.navigator.filter*" />	
			</includes>
		</viewerContentBinding>
	</extension>

	<extension
			point="org.eclipse.ui.navigator.viewer">
		<viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
			<includes>
				<contentExtension pattern="org.wso2.developerstudio.eclipse.artifact.registry.navigator*"/>
			</includes>
		</viewerContentBinding>
		<viewerContentBinding viewerId="org.eclipse.ui.navigator.PackageExplorer">
			<includes>
				<contentExtension pattern="org.wso2.developerstudio.eclipse.artifact.registry.navigator*"/>
			</includes>
		</viewerContentBinding>
	</extension>
</plugin>
