<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.ui.newWizards">
         <wizard name="Connection" 
         	category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.eclipse.message.mediation/org.wso2.developerstudio.eclipse.message.mediation.features"
			class="org.wso2.developerstudio.eclipse.artifact.template.connection.wizards.ConnectionProjectCreationWizard"
			wizardManifest="project_wizard.xml"
			id="org.wso2.developerstudio.eclipse.artifact.newconnection"
			icon="icons/local-entries-wizard-artifact.png">
			<description>template</description>
		</wizard>
   </extension>
   
   <!--extension point="org.eclipse.ui.navigator.navigatorContent">    
            <commonWizard type="new"
                menuGroupId="2org.wso2.developerstudio.eclipse.artifact.esb"
                wizardId="org.wso2.developerstudio.eclipse.artifact.newconnection">
                <enablement>
                    <or>
                        <adapt type="org.eclipse.core.resources.IProject">
                            <test property="org.eclipse.core.resources.projectNature"
                                value="org.wso2.developerstudio.eclipse.integration.project.nature" />
                                </adapt>
                       <adapt type="org.eclipse.jdt.core.IPackageFragment">
							<test property="org.wso2.developerstudio.projectNature"
								value="org.wso2.developerstudio.eclipse.integration.project.nature" />
						</adapt>
						<adapt type="org.eclipse.core.resources.IFolder">  
						   <test
                       forcePluginActivation="true"
                       property="org.eclipse.core.resources.name"
                       value="connection">
                     </test>                        
						</adapt>
                    </or>
                </enablement>
            </commonWizard>
    </extension-->

</plugin>
