<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.wso2.developerstudio.carbon.product.server.registry">
      <product.server
            carbon.server.version="carbon.server.44ei"
            server.display.name="WSO2 Enterprise Integrator 6.1.0">
      </product.server>
    </extension>
</plugin>
