<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <!--extension point="org.wso2.developerstudio.eclipse.dashboad.link">        
        <wizardLink category="dashboard.category.greg"
                    id="dashboard.wizardLink.welcome.pespective"
                    wizard="org.wso2.developerstudio.welcome.remote.welcome.perspective.action"
                    priority="1">
        </wizardLink>
        <customAction
                    class="org.wso2.developerstudio.eclipse.welcome.perspective.intro.action.ShowWelcomePerspective"
                    id="org.wso2.developerstudio.welcome.remote.welcome.perspective.action">
        </customAction>
    </extension-->
    <extension point="org.eclipse.ui.perspectives">
        <perspective id="WELCOME_PERSPECTIVE"
                    name="WSO2 Welcome" icon="icons/welcome.png"
                    class="org.wso2.developerstudio.eclipse.welcome.perspective.WelcomePerspectiveFactory" />
    </extension>
    <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="WELCOME_PERSPECTIVE">
      </perspectiveExtension>
   </extension>
</plugin>
