<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.eclipse.ui.perspectives">
        <perspective id="WELCOME_PERSPECTIVE"
                    name="WSO2 Welcome" icon="icons/getting-started.png"
                    class="org.wso2.developerstudio.eclipse.welcome.perspective.WelcomePerspectiveFactory" />
    </extension>
    <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="WELCOME_PERSPECTIVE">
      </perspectiveExtension>
   </extension>
</plugin>
