<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.eclipse.ui.newWizards">
        <wizard
               category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.eclipse.container.exporters"
               class="org.wso2.developerstudio.eclipse.docker.distribution.ui.wizard.DockerProjectCreationWizard"
               icon="icons/docker-16.png"
               id="org.wso2.developerstudio.eclipse.artifact.newdockerproject"
               name="Docker Exporter"
               project="true">
            <description>Docker Exporter</description>
        </wizard>
    </extension>
    <extension point="org.eclipse.ui.newWizards">
        <wizard
               category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.eclipse.container.exporters"
               class="org.wso2.developerstudio.eclipse.docker.distribution.ui.wizard.KubernetesProjectCreationWizard"
               icon="icons/k8s-16.png"
               id="org.wso2.developerstudio.eclipse.artifact.newkubernetesproject"
               name="Kubernetes Exporter"
               project="true">
            <description>Kubernetes Exporter</description>
        </wizard>
    </extension>
 
    <!-- Docker project nature -->
    <extension point="org.eclipse.core.resources.natures"
		id="org.wso2.developerstudio.eclipse.docker.distribution.project.nature" name="Docker Project Nature">
        <runtime>
            <run class="org.wso2.developerstudio.eclipse.docker.distribution.project.export.DockerProjectNature"/>
        </runtime>
    </extension>
	
    <extension point="org.eclipse.ui.ide.projectNatureImages">
        <image id="org.wso2.developerstudio.eclipse.docker.project.natureImage" 
		natureId="org.wso2.developerstudio.eclipse.docker.distribution.project.nature" icon="icons/docker-16.png" />
    </extension>
	
    <!-- Kubernetes project nature -->
    <extension point="org.eclipse.core.resources.natures"
		id="org.wso2.developerstudio.eclipse.kubernetes.distribution.project.nature" name="Kubernetes Project Nature">
        <runtime>
            <run class="org.wso2.developerstudio.eclipse.docker.distribution.project.export.KubernetesProjectNature" />
        </runtime>
    </extension>
	
    <extension point="org.eclipse.ui.ide.projectNatureImages">
		<image id="org.wso2.developerstudio.eclipse.kubernetes.project.natureImage" 
		natureId="org.wso2.developerstudio.eclipse.kubernetes.distribution.project.nature" icon="icons/k8s-16.png" />
    </extension>
	
	<!-- Projects file opening editors -->
    <extension point="org.eclipse.ui.editors">
        <editor
            class="org.wso2.developerstudio.eclipse.docker.distribution.editor.DistProjectEditor"
            id="org.wso2.developerstudio.eclipse.docker.distribution.editor.DistProjectEditor"
            extensions="xml"
            default="false"
            icon="icons/docker-pom-16x16.png"
            name="Docker/K8S Project POM Editor">
            <contentTypeBinding
				contentTypeId="org.wso2.developerstudio.eclipse.docker.distribution.project.contenttype.pom">
            </contentTypeBinding>
        </editor>
        <editor
            class="org.eclipse.ui.editors.text.TextEditor"
            id="org.wso2.developerstudio.eclipse.docker.distribution.editor.DockerFileEditor"
            default="false"
            icon="icons/dockerfile-icon.png"
            name="Docker File Editor">
            <contentTypeBinding
				contentTypeId="org.wso2.developerstudio.eclipse.docker.distribution.project.contenttype.dockerfile">
            </contentTypeBinding>
        </editor>
        <editor
            class="org.eclipse.ui.editors.text.TextEditor"
            id="org.wso2.developerstudio.eclipse.docker.distribution.editor.TomlFileEditor"
            default="false"
            icon="icons/deployment-toml-icon.png"
            name="Toml File Editor">
            <contentTypeBinding
				contentTypeId="org.wso2.developerstudio.eclipse.docker.distribution.project.contenttype.tomlfile">
            </contentTypeBinding>
        </editor>
        <editor
            class="org.eclipse.ui.editors.text.TextEditor"
            id="org.wso2.developerstudio.eclipse.docker.distribution.editor.YamlFileEditor"
            default="false"
            extensions="yaml"
            name="YAML File Editor">
            <contentTypeBinding
				contentTypeId="org.wso2.developerstudio.eclipse.docker.distribution.project.contenttype.yamlfile">
			</contentTypeBinding>
        </editor>
    </extension>
   
    <extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type base-type="org.eclipse.core.runtime.xml"
			id="org.wso2.developerstudio.eclipse.docker.distribution.project.contenttype.pom"
			name="Docker POM File" priority="high" file-extensions="pom.xml">
			<describer
				class="org.wso2.developerstudio.eclipse.docker.distribution.utils.DockerPOMDiscriber">
			</describer>
		</content-type>
		<content-type base-type="org.eclipse.core.runtime.text"
			id="org.wso2.developerstudio.eclipse.docker.distribution.project.contenttype.dockerfile"
			name="Docker File" priority="normal" file-extensions="Dockerfile">
			<describer
				class="org.wso2.developerstudio.eclipse.docker.distribution.utils.DockerPOMDiscriber">
			</describer>
		</content-type>
		<content-type base-type="org.eclipse.core.runtime.text"
			id="org.wso2.developerstudio.eclipse.docker.distribution.project.contenttype.yamlfile"
			name="Yaml File" priority="normal" file-extensions="integration_cr.yaml">
			<describer
				class="org.wso2.developerstudio.eclipse.docker.distribution.utils.DockerPOMDiscriber">
			</describer>
		</content-type>
		<content-type base-type="org.eclipse.core.runtime.text"
			id="org.wso2.developerstudio.eclipse.docker.distribution.project.contenttype.tomlfile"
			name="Toml File" priority="normal" file-extensions="deployment.toml">
			<describer
				class="org.wso2.developerstudio.eclipse.docker.distribution.utils.DockerPOMDiscriber">
			</describer>
		</content-type>
    </extension>

    <extension point="org.eclipse.ui.navigator.viewer" id="docker-navigator-viewbinding">
        <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         	<includes>
            	<actionExtension pattern="org.wso2.developerstudio.eclipse.docker.distribution.project.navigatorActionProvider"/>
         	</includes>
      	</viewerActionBinding>
      	<viewerActionBinding viewerId="org.eclipse.ui.navigator.PackageExplorer">
         	<includes>
            	<actionExtension pattern="org.wso2.developerstudio.eclipse.docker.distribution.project.navigatorActionProvider"/>
         	</includes>
      	</viewerActionBinding>
    </extension>

    <extension point="org.eclipse.ui.navigator.navigatorContent">  
        <actionProvider
             class="org.wso2.developerstudio.eclipse.docker.distribution.ui.wizard.DockerNavigatorActionProvider"
             id="org.wso2.developerstudio.eclipse.docker.distribution.project.navigatorActionProvider"> 
            <enablement>
                <adapt type="org.eclipse.core.resources.IFile" /> 
            </enablement>
        </actionProvider>
    </extension>
	
    <extension point="org.eclipse.ui.popupMenus">
        <objectContribution objectClass="org.eclipse.core.resources.IProject" 
        	id="org.wso2.developerstudio.eclipse.docker.distribution.exportandgeneratedocker">
            <action
                label="Build Docker Image"
                icon="icons/docker.png"
                class="org.wso2.developerstudio.eclipse.docker.distribution.action.DockerRunMavenAction"
                id="org.wso2.developerstudio.eclipse.docker.distribution.exportandgeneratedocker">
            </action>
            <enablement>
                <adapt type="org.eclipse.core.resources.IProject">
                    <test property="org.eclipse.core.resources.projectNature" 
                    value="org.wso2.developerstudio.eclipse.docker.distribution.project.nature" />
                </adapt>
            </enablement>
        </objectContribution>
    </extension>
    
     <extension point="org.eclipse.ui.popupMenus">
        <objectContribution objectClass="org.eclipse.core.resources.IProject" 
        	id="org.wso2.developerstudio.eclipse.docker.distribution.exportandpushdocker">
            <action
                label="Push Docker Image"
                icon="icons/docker.png"
                id="org.wso2.developerstudio.eclipse.docker.distribution.exportandpushdocker">
                <class class="org.wso2.developerstudio.eclipse.docker.distribution.action.DockerRunMavenAction">
	                <parameter name="isDockerPushOnly" value="true"/>
                </class>
            </action>
            <enablement>
                <adapt type="org.eclipse.core.resources.IProject">
                    <test property="org.eclipse.core.resources.projectNature" 
                    value="org.wso2.developerstudio.eclipse.docker.distribution.project.nature" />
                </adapt>
            </enablement>
        </objectContribution>
    </extension>
    
    <extension point="org.eclipse.ui.popupMenus">
        <objectContribution objectClass="org.eclipse.core.resources.IProject" 
        	id="org.wso2.developerstudio.eclipse.docker.distribution.exportbuildandgeneratedocker">
            <action
                label="Build and Push Docker Image"
                icon="icons/docker.png"
                class="org.wso2.developerstudio.eclipse.docker.distribution.action.DockerRunMavenAction"
                id="org.wso2.developerstudio.eclipse.docker.distribution.exportbuildandgeneratedocker">
            </action>
            <enablement>
                <adapt type="org.eclipse.core.resources.IProject">
                    <test property="org.eclipse.core.resources.projectNature" 
                    value="org.wso2.developerstudio.eclipse.kubernetes.distribution.project.nature" />
                </adapt>
            </enablement>
        </objectContribution>
    </extension>
    
    <extension point="org.eclipse.ui.views">
        <view id="org.wso2.developerstudio.eclipse.esb.templates.docker.view"
              name="Docker Project User Guide"
              class="org.wso2.developerstudio.eclipse.docker.distribution.resources.DockerUserGuideTemplate"
              icon="icons/help.png"/>
    </extension>
    <extension point="org.eclipse.ui.views">
        <view id="org.wso2.developerstudio.eclipse.esb.templates.kubernetes.view"
              name="Kubernetes Project User Guide"
              class="org.wso2.developerstudio.eclipse.docker.distribution.resources.K8sUserGuideTemplate"
              icon="icons/help.png"/>
    </extension>
    
    <!-- Composite project run extensions-->
    <extension point="org.eclipse.ui.popupMenus">
        <objectContribution objectClass="org.eclipse.core.resources.IProject" 
        id="org.wso2.developerstudio.eclipse.docker.distribution.exportkubernetesartifacts">
            <action
                label="Generate Kubernetes Artifacts"
                icon="icons/kubernetes-deployment-icon-16x16.png"
                class="org.wso2.developerstudio.eclipse.docker.distribution.action.GenerateKubernetesArtifactsAction"
                id="org.wso2.developerstudio.eclipse.docker.distribution.exportkubernetesartifacts">
            </action>
            <enablement>
                <adapt type="org.eclipse.core.resources.IProject">
                    <test property="org.eclipse.core.resources.projectNature" 
                    value="org.wso2.developerstudio.eclipse.distribution.project.nature" />
                </adapt>
            </enablement>
        </objectContribution>
    </extension>
    
        <!-- Adding extension to Maven Multi Module project's new list -->
    <extension point="org.eclipse.ui.navigator.navigatorContent">
        <commonWizard type="new" menuGroupId="3org.wso2.developerstudio.eclipse.artifact.webservice" wizardId="org.wso2.developerstudio.eclipse.artifact.newdockerproject">
            <enablement>
                <or>
                    <adapt type="org.eclipse.core.resources.IProject">
                        <test property="org.eclipse.core.resources.projectNature" value="org.wso2.developerstudio.eclipse.mavenmultimodule.project.nature" />
                    </adapt>
                    <adapt type="org.eclipse.jdt.core.IPackageFragment">
                        <test property="org.wso2.developerstudio.projectNature" value="org.wso2.developerstudio.eclipse.mavenmultimodule.project.nature" />
                    </adapt>
                </or>
            </enablement>
        </commonWizard>
    </extension>
    
    <extension point="org.eclipse.ui.navigator.navigatorContent">
        <commonWizard type="new" menuGroupId="3org.wso2.developerstudio.eclipse.artifact.webservice" wizardId="org.wso2.developerstudio.eclipse.artifact.newkubernetesproject">
            <enablement>
                <or>
                    <adapt type="org.eclipse.core.resources.IProject">
                        <test property="org.eclipse.core.resources.projectNature" value="org.wso2.developerstudio.eclipse.mavenmultimodule.project.nature" />
                    </adapt>
                    <adapt type="org.eclipse.jdt.core.IPackageFragment">
                        <test property="org.wso2.developerstudio.projectNature" value="org.wso2.developerstudio.eclipse.mavenmultimodule.project.nature" />
                    </adapt>
                </or>
            </enablement>
        </commonWizard>
    </extension>
</plugin>
