<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   	<extension point="org.eclipse.emf.ecore.generated_package">
     	<package
            uri="http:///org/wso2/developerstudio/eclipse/gmf/datamapper"
            class="org.wso2.developerstudio.datamapper.DataMapperPackage"
            genModel="model/dataMapper.genmodel"/>
   	</extension>
	<extension point="org.eclipse.ui.perspectives">
		<perspective
			class="org.wso2.developerstudio.datamapper.diagram.custom.perspective.EsbDataMapperEditorPerspective"
			icon="icons/DataMapper.png" id="org.wso2.developerstudio.datamapper.diagram.custom.perspective"
			name="WSO2 Data Mapper Graphical">
		</perspective>
	</extension>
	<extension point="org.eclipse.ui.views">
      <view id="org.wso2.developerstudio.datamapper.views.RealtimeDatamapperView"
         name="Realtime Datamapper Preview"
         class="org.wso2.developerstudio.datamapper.views.RealtimeDatamapperView"
         icon="icons/DataMapper.png"/>
    </extension>	
</plugin>


